    #CC-Account-Reports{
        .cc-report-header{
            .heading{
            }
            h1{
                font-weight: 800;
                font-family: 'Unna',serif;
                font-size: 24px;
                text-transform: capitalize;
                border-bottom: 1px solid #b7b6ae;
                padding-bottom: 3px;
                
                @media @iPadP{
                    font-size: 21px;
                }
            } 
        }
        .cc-report-table{
                    padding: 20px;
                    background: #f9f8f1;
            .cc-table{
                width: 100%;
                line-height: 35px;
                
                thead{
                    border-bottom: 1px solid #eee;
                    th{
                        font-weight: 800;
                    }
                    tr{
                        border-bottom: 1px solid #eee;
                        
                        
                    }
                    td{
                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
