
    #CC-Selection-Summary{
            width: 70%;
            margin: 30px auto;
            padding: 60px;
            border: 1px solid #000;
            
            @media @iPadL{
                width: 90%;
            }
            @media @iPadP{
                width: 100%;
            }
        .navigate-to-selection{
            float: right;
            background: transparent;
            
            a{
                margin-right: 5px;
                text-decoration: none;
                cursor: pointer;   
            }
        }
        .cc-selection{
            background: #f9f8f1;
            padding-bottom: 20px;
            max-width: 750px;
            margin: 0 auto;
            margin-top: 30px;
            .selection-header{
                    border-bottom: 1px solid;
                    padding: 15px;
                .header{
                    font-family: 'Unna',serif;
                    font-size: 21px;
                    font-weight: 600;
                    
                    @media @iPadP{
                        font-size: 17px;    
                    }
                }
            }
            .summary-header {
                .title{
                    font-weight: 800;
                    font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
                    font-size: 12px;
                    
                    @media @iPadP{
                        font-size: 10px;
                    }
                }
            }
            .selection-div{
                .selection-data{
                    border-bottom: 1px solid;
                }
                    span{
                        font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
                        font-size: 12px;    
                    }
                .total_value{
                    margin-top: 15px;
                    
                   .total-label{
                        position: relative;
                        left: 90px;
                        font-weight: 800;    
                    }
                }    
            }
        .webstyle{
            position: absolute; 
            left: 570px;
            
            @media @iPadL{
                left:445px;
            }
            @media @iPadP{
                left:325px;
            }
        }
        .sku{
            position: absolute;   
            left: 680px;
            
            @media @iPadL{
                left: 525px;
            }
            @media @iPadP{
                left:390px;
            }
        }
        .quantity{
            position: absolute;   
            left: 800px;
            
            @media @iPadL{
                left: 640px;
            }
            @media @iPadP{
                left:490px;
            }
        }
        .product{
            position: absolute;  
            left: 910px;
            
            @media @iPadL{
                left: 740px;
            }
            @media @iPadP{
                left:570px;
            }
        }
            .selection-data{
                ul{
                    padding-inline-start: 15px;
                    line-height: 25px;
                    
                    @media @iPadP{
                    padding-inline-start: 9px;
                    line-height: 20px;
                }
                }
            }
            .oc-panel{
                margin-top: 30px;
                
                button{
                    font-size: 12px;
                    float: right;
                    margin: 5px;    
                }
            }    
        }
    }
}
