
     footer{
         background-color:@FooterBackgroundColor;
         padding:30px 0;
         .container-fluid{
             margin:0 10px 0 50px;
             @media @iPadP{
                 padding:0 20px;
            }
             .footer-width{
                 width:20%;
                 float:left;
                 @media @iPadP{
                     width: 20%;
                     float: left;
                     padding: 0 8px;
                }
            }
        }
    }
     footer ul {
         list-style:none;
         padding:0px;
    }
     .floatblcok h4 {
         font-size: @fs16;
         font-family: @SiteSecondaryFontFamily;
         text-transform: none;
         color:@black;
         letter-spacing: 1px;
    }
     .floatblcok ul li {
         a {
             text-decoration: none;
             text-transform: capitalize;
             font-size:@fs13;
             line-height:25px;
             font-weight:300;
             color:@black;
             
             &:hover { color: #8f2c34;}
        }
         a.social_nicon{
             font-size:@fs19;
        }
    }
     .social_nicon {
         width: 32px;
         height: 32px;
         display: inline-block;
    }
     #footer p {
         font-family: @SiteSecondaryFontFamily;
         color: @black;
         font-size: @fs18;
         margin-top:20px;
    }
     .copyright {
         margin-top: 30px;
         font-family: @SiteSecondaryFontFamily;
         font-size:@fs16;
         color: @black;
         @media @iPadP{
             font-size:@fs15;
        }
    }
     .cards {
         position: inherit;
         float: right!important;
         margin-top: 15px;
    }
     .f_bootom_section {
         border-top: 1px solid @bordercolor1;
         margin-top:40px;
         margin-right: 40px;
    }
     .floatblcok ul li .social_bottom a.fa, .floatblcok ul li .social_top a.fa{
         font-family:FontAwesome;
    }

 
@media @iPadP, @tablet{
    

  footer{
      background-color:@FooterBackgroundColor;
      padding:30px 0;
      margin: 2px 0 0;
      .container{
          .col-sm-2{
              width: 20%;
          }
      }
  }
  .footer-section1 {
    overflow: auto;
    border-bottom: 1px solid @black;
    padding-bottom: 7%;
  }
  
  .floatblcok.stay-intouch{
      text-align:center;
      
        .stay-intouch-text{
            border-bottom: 1px solid #000;
            padding-bottom: 1px;
            display: inline-block;
            margin-top: 6%;
        
      }
      .border_footer{
        border-top: 1px solid @bordercolor1;
        margin: 0 auto;
        width: 195px;
      }
  }

    footer ul {
      list-style:none;
      padding:0px;
    }
  .floatblcok h4, .floatblcok a {
      font-size: @fs16;
      font-family: @SiteSecondaryFontFamily;
      text-transform: capitalize;
      margin: 8px 0;
      display: block;
      color:@black;
      font-weight: 600;
  }
  .floatblcok  {
      a{
          &:hover, &:focus{
             text-decoration: none; 
             outline: 0 none;
          }
         
      }
      
  }
  .floatblcok ul{
       li {
              a {
              color:@black;
              text-decoration: none;
              text-transform: capitalize;
              font-size:@fs13;
              line-height:20px;
              font-family: @SiteFontFamily;
              display: inline-block;
              font-weight:normal;
              margin: 4px 0;
          } 
          a.social_nicon{
            font-size:@fs22;
            margin: 20px 0 0 0;
            
          }
       }  
  } 
  .social_nicon {
      width: 40px;
      height: 40px;
      display: inline-block;
  }
  #footer p {
      font-family: @SiteSecondaryFontFamily;
      color: @black;
      font-size: @fs18;
      margin-top:20px;
      color:@black;
  }
  .copyright {
      margin-top: 20px;
      font-family: @SiteSecondaryFontFamily;
      font-size:@fs14;
      text-align:center;
      color:@black;
  }
  .cards {
      position: inherit;
      float: right!important;
      margin-top: 15px;
  }
  .f_bootom_section {
      padding-bottom: 1px;
      display: inline-block;
      width: 100%;
      border-top: 0;
      margin: 5px 0 0;
  }
  .floatblcok ul li .social_bottom a.fa,
  .floatblcok ul li .social_top a.fa{
      font-family:FontAwesome;
  }
  
    .footer_collapse{
        background: url(/file/general/refine-minus.png) 100% 50% no-repeat;
        background-size:8px;
    }
    .footer_collapse.collapsed{
        background: url(/file/general/refine-plus.png) 100% 50% no-repeat;
    }
  .last-one{
    .social_top{
        font-size: @fs24;
        margin: 0 25px;
    }
}




}

}
#footerBar{
    position: absolute;
    width: 100%;
    left: 0;
    div[id^=region-] {
        padding:0 !important;
    }
