#accountCheckoutConfirmation_v5-wi4800060 {
/* -------------------------------------------------- */

/*  Checkout confirmation
/* -------------------------------------------------- */

#orderConfirmation {
    border: 1px solid #000;
    width: 80%;
    margin: 30px auto;
    padding-bottom: 40px;
    
    @media @iPadL{
        width: 90%;
    }
    @media @iPadP{
        width: 100%;
    }
    h2{
        font-family: Unna;
        color: #000;
        font-size: 21px;
        font-weight: 700;
        border-bottom: 1px solid #000;
        margin-bottom: 5px;    
    }
    h3{
        font-family: 'Unna',serif;
        font-size: 21px;
        line-height: 20px;
        color: #000;
        margin: 0;
        padding-bottom: 10px;
    }
    .CC-orderConfirmation-wrapper{
        max-width: 800px;
        margin: 0 auto;
        background: #f9f8f1;
        padding: 10px 38px 42px;
        margin: 40px auto 15px;
        
        .order-body-heading{
            border-bottom: 1px solid;
        }
        #order-info {
            th {
              border: 0;
            }
            td {
              border-top: 0;
            }
            .name {
              color: @grayDark;
              font-weight: bold;
            }
            & > thead {
              >tr {
                font-weight: bold;
                border-bottom: 1px solid;
                background: transparent;
            }
        }
        & > tbody {
              border-bottom: 1px solid #eee;
            & > tr.item {
                border-top: 1px solid #eee;
                vertical-align: top;
            }
    
            small {
                color: @gray;
                font-size: @fontSizeMini;
                line-height: @smallLineHeight;
              }
            }
        }
        
        .CC-Selection{
            .selection-header{
                    border-bottom: 1px solid;
                    padding: 15px;
                .header{
                    font-family: 'Unna',serif;
                    font-size: 21px;
                    font-weight: 600;
                    
                    @media @iPadP{
                        font-size: 17px;    
                    }
                }
            }
            .summary-header {
                .title{
                    font-weight: 800;
                    font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
                    font-size: 12px;
                    
                    @media @iPadP{
                        font-size: 10px;
                    }
                }
            }
        }
        
        .selection-data{
                border-bottom: 1px solid;
        }
        .total_value{
            margin-top: 15px;
            
                span{
                    font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
                    font-size: 12px;    
                }
            .total-label{
                    position: relative;
                    left: 90px;
                    font-weight: 800;    
                }
            }
            .main-category{
                span{
                    font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
                    font-size: 12px;    
                }
            }
        .webstyle{
            position: absolute; 
            left: 570px;
            
            @media @iPadL{
                left:445px;
            }
            @media @iPadP{
                left:325px;
            }
        }
        .product{
            position: absolute;   
            left: 910px;
            
            @media @iPadL{
                left: 740px;
            }
            @media @iPadP{
                left:570px;
            }
        }
        .sku{
            position: absolute;   
            left: 680px;
            
            @media @iPadL{
                left: 525px;
            }
            @media @iPadP{
                left:390px;
            }
        }
        .quantity{
            position: absolute;  
            left: 800px;
            
            @media @iPadL{
                left: 640px;
            }
            @media @iPadP{
                left:490px;
            }
        }
        .selection-data{
            ul{
                padding-inline-start: 15px;
                line-height: 25px;
                
                @media @iPadP{
                    padding-inline-start: 9px;
                    line-height: 20px;
                }
            }
        }
        .oc-panel{
            margin-top: 30px;
            
            button{
                font-size: 12px;
                float: right;
                margin: 5px;    
            }
        } 
    }
    .summary-table {
        margin-bottom: 25px;
    
    td {
      vertical-align: top;
    }
  }
  .summary-table-title {
    width: 80px;
    font-weight: bold;
  }
  
  .CC-confirmation-displayShippingSurcharge {
    font-weight: 600;
    font-size: 11px;
  }
}

}