
    @media @desktop,
    @iPadP{
        display:none;
    }
    @media @iPadP{
        display:block;
    }
    input#CC-headerWidget-Search-box{
        background: @Globalcolor none repeat scroll 0 0;
        border: 0 none;
        font-family: @SiteFontFamily;
        font-size:@fs13;
        box-shadow: none;
        height: 40px;

      }
    .input-group.search{
        background: #f9f8f1 none repeat scroll 0 0;
        border: 0 none;
        right: 0;
        width: 100%;
        margin-bottom: 15px;
        padding:0;
        
        #searchSubmit-box{
            background: @Globalcolor none repeat scroll 0 0;
            border: 0 none;
            box-shadow: none;
        }
    }
    .typeahead{
        padding:0;
        display: none !important;
    }
    .dropdown-menu{
         width: 100% !important;
        top: 38px !important;
        bottom: 0 !important;
        margin-left:0 !important;
    }

    .searchboxMobileView{
        margin: 0 -15px;
    }
    
    .searchboxMobile{
        // margin: 0 -15px;
        .input-group.search{
            margin-bottom: 10px;
        }
    } 
    
    .typeaheadClose{
        display: none;
    }
    .typeaheadProduct{
        
        .typeaheadProductName{
            font-size: @fs12;
        }
        .typeaheadProductPrice{
            font-size: @fs14;
            font-family: @SiteSecondaryFontFamily;
            padding: 2px 0 0;
            font-weight: 600;
        }
    }
