
#organizationAddressWidget {
  #organizationAddressHeader{
    button{
      margin-top: -3em;
      margin-right: 6.7em;
    }
          .organization-addresses-title {
              font-weight: 800;
              color: #000;
              font-family: 'Unna',serif;
              font-size: 24px;
              line-height: 30px;
              text-transform: capitalize;
              width: auto;
              border-bottom: 1px solid #b7b6ae;
              padding-bottom: 3px;
              margin-bottom: 10px;
    }
  }
  .iconButtons.disabled{
    background-color: #101010 !important;
    border-color: #252222 !important;
  }
  #cc-add-new-address-xs {
	margin-left : 12px;
  }
  
  .btn-margin {
  	margin-left: 6px !important;
  }
	
  #CC-add-new-address-xs {
	margin-right : 25px !important;
	margin-top: -3px;
  }
  #cc-save-button-xs, #cc-cancel-button-xs {
	margin-left : 12px;
  }
	
  #CC-cancel-button-xs {
	margin-right : 25px !important;
  }
	
  #CC-save-button-xs  {
	margin-right : 25px !important;
	margin-top : 10px !important;
  }
  .organization-address-container{
  	max-height: 500px;
    overflow-y: auto;
    margin-left: -40px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  }
  #addressForm{
    margin-left: 15px;
  }
  address {
  	
    border: 1px solid;
    padding: 1em;
    border-radius: 4px;
    font-size: 12px;
  }
  #organizationDefaultBillingAddress, #organizationDefaultShippingAddress{
    font-weight: bold;
  }
  #edit-organization-address{
    #organization-address-save-cancel-control{
      button{
        margin: 5px 5px 5px 5px;
        }
      }
      .container-fluid{
          form{
              #address-form{
                  .form-group{
                      input{
                              border: 1px solid #ccc;
                              box-shadow: none;
                              font-size: 12px;
                              border-radius: 2px;
                              appearance: none;
                              background-color: #f9f8f1;
                              font-weight: 300;    
                          }
                          select{
                              border: 1px solid #ccc;
                              box-shadow: none;
                              font-size: 12px;
                              border-radius: 2px;
                              -moz-appearance: none;
                              appearance: none;
                              background-color: #f9f8f1;
                              font-weight: 300;
                          }
                      .control{
                          input{
                              border: 1px solid #ccc;
                              box-shadow: none;
                              max-width: 225px;
                              font-size: 12px;
                              border-radius: 2px;
                              -webkit-appearance: none;
                              -moz-appearance: none;
                              appearance: none;
                              background-color: #f9f8f1;
                              font-weight: 300;    
                          }
                          select{
                              border: 1px solid #ccc;
                              box-shadow: none;
                              font-size: 12px;
                              border-radius: 2px;
                              -moz-appearance: none;
                              appearance: none;
                              background-color: #f9f8f1;
                              font-weight: 300;
                          }
                      }
                  }
              }
      }
    }
  }
  .cc-cancel-account-addresses-modal-footer, .cc-update-address-modal-footer {
    text-align: right;
    background-color: white;
    border-top: 0px;
    border-radius: 0px 0px 6px 6px;
  }
  .cc-cancel-account-addresses-modal-heading, .cc-update-address-modal-heading {
    background-color: white;
    border-bottom: 0px;
    border-radius: 6px 6px 0px 0px;
    padding: 9px 15px 9px 15px;
    margin-bottom: 20px;
  }
  .cc-cancel-account-addresses-confirm-icon, .cc-update-address-confirm-icon {
   margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    background: transparent url(/img/icons-32x32/icon-alert-alt-32x32.png) no-repeat 0 0;
   }
  .cc-cancel-account-addresses-modal, .cc-update-address-modal {
    max-width: 450px;
    background-color: white;
  }
  .cc-cancel-account-addresses-body-modal, .cc-update-address-body-modal {
    max-height: 400px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  #CC-cancel-account-addresses-modal-headerText, #CC-update-address-modal-headerText {
    margin-left: 20px;
    margin-top: -2px;
  }
  #cc-cancel-account-addresses-ModalContainer-modal-dialog, #cc-update-address-ModalContainer-modal-dialog {
      width: 450px;
  }
  .collapse-heading .collapse-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling 'ontAwesome */
    content: "\f0d7";    /* adjust as needed, taken from bootstrap.css */
    float: left;        /* adjust as needed */
    color: black;         /* adjust as needed */
	}

  .collapse-heading .collapse-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f0da";    /* adjust as needed, taken from bootstrap.css */
	}
	.text-underline{
  	float: right;
  }
  .collapse-toggle{
  	margin-left: 10px;
  }
	.cc-nested-button{
        
	}
	.dropdown-menu{
        margin-left: 35px;
	}
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
      background-color: #f5f5f5
	}
	.dropdown-menu > li > a {

	}
	.no-right-padding{
		padding-right: 0px;
	}
	.cc-helptext{
		border-left: 2px solid #ccc;
    padding-left: 1em;
    color: #555;
    display: block;
	}
	.accountAddressTextLine{
    width: 130%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	}
	.details-enabled-primary-button{
	background-color: #027BC7;
	color: #FFFFFF;
	padding: .4em .6em;
	border-radius: 3px;
	border: none;
	text-align: center;
    margin-left: 0.6rem;
    }
    .agent-topMargin {
      margin-top:10px !important;
    }
    .agent-headerText {
    margin-top: 2px;
    margin-bottom: 0px;
    text-align: left !important;
    padding-left: 0px;
    border-bottom: 1px solid #D6DFE6;
    width: 100%;
    }
    .agent-validationText-alignment {
     margin-top: 4px;
     position: inherit;
    }
    .agent-textBox-addressStyle {
      border: 1px solid #DFE4E7;
      border-radius: 3px;
      padding: .5em;
      width: 37.5em;
      color: #444444;
    }
    .agent-textBox-setWidth{
     width:18em;
    }
	.profileAddressTextLine{
    width: 170%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	}
	.textLine{
    width: 220%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	}
	.profileAccountLabel{
		margin-bottom: 5px;
	}	
}

  .cc-accountAddress-modal-heading {
    background-color: white;
    border-bottom: 0px;
    border-radius: 6px 6px 0px 0px;
    padding: 9px 15px 9px 15px;
    margin-bottom: 20px;
  }
  
  .cc-accountAddress-confirm-icon {
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    background: transparent url(/img/icons-32x32/icon-alert-alt-32x32.png) no-repeat 0 0;
  }	
  
  .cc-accountAddress-modal-footer {
    text-align: right;
    background-color: white;
    border-top: 0px;
    border-radius: 0px 0px 6px 6px;
  }
  
  	.cc-accountAddress-modal-footer {
    text-align: right;
    background-color: white;
    border-top: 0px;
    border-radius: 0px 0px 6px 6px;
   }
   .cc-accountAddress-body-modal {
    max-height: 400px;
    padding-bottom: 0px;
    padding-top: 0px;
   }