
/* ---------------------------------------------------------------------- */
/*  Guided Navigation Area
/* ---------------------------------------------------------------------- */


.redBox::after{
    content:"";
    display:block;
    clear:both;
}
#CC-guidedNavigation-column {

  @GuidedNavigationDesktopAndTabletFontSize: @fs13;

  margin-top: 5px;
  margin-left: 0.75%;
  margin-right: 0.75%;
  outline: 1px transparent @black;
  
  h4, h5 {
    margin: 0px;
  }
  
  h5 > label {
    font-weight: bold;
  }

  #CC-guidedNavigation-refinementCrumbSection {
    background-color: transparent; 
    padding: 0 12px;
    box-shadow: none;
    border: 0 none; 
    margin-top: 0px; 
    margin-bottom: 12px;
    /* display:none; */
    display: block;
    position: relative;
    
    .nav-header {
      margin: 0px; 
      text-transform: uppercase;
      padding-bottom: 5px;
      outline: none;
      display: none;
    }

    .close {
        float: none;
        vertical-align: middle;
        line-height: 15px;
        color: @black;
        text-shadow: none;
        opacity: 1;
        background: @bordercolor3;
        padding: 5px;
        margin: -13px 0 0;
    }
    
    .CC-guidedNavigation-refineByTextOption {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 120px;
      line-height: 22px;
      margin-top: -9px;
      vertical-align: text-top;
    }
    .clearRefine{
        position: absolute;
        top: 0;
        padding: 0;
        left: 10px;
        
        a{
            text-decoration: none;
            font-style: normal;
            color: @pricecolor;
            font-size: @fs11;
        }
    }

    .label {
        height: 26px;
        padding: 5px 0px 5px 5px;
        border-radius: 4px;
        word-wrap: break-word;
        overflow: auto;
        display: inline-block;
        overflow: hidden;
        background-color: transparent;
        color: @black;
        text-transform: capitalize;
        border: 1px solid @bordercolor1;
        border-radius: 3px;
        line-height: 24px;
        margin: 4px 0 0;
        span{
            font-weight: 300;
        }
    }  
    
    @media @big {
      padding-left: 10px;
      padding-right: 10px;
    }
    
    @media @iPad {
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  
#CC-guidedNavigation-accordionSection {
  margin-bottom: 0px;
  .panel {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
  }
  .panel-group {
    margin-bottom: 4px;
  }
  .panel-heading { 
      background-color: transparent;
      padding: 0 10px 10px;
  h4 {
    border-bottom: 1px solid #aeb0af;
    padding: 0px 5px 5px 0;
    width: 100%;
    line-height: 12px;
    a {
      color: @black;
      font-size: @fs13;
      line-height: 16px;
      font-weight: 700;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
  .panel-body {
    background-color: transparent;
    border: 0 none;
    padding: 0 10px 10px 10px;
    ul{
        padding-left: 8px;
        li{
            .checkbox{
                margin: 0 0 5px;
                &:hover{
                    background-color: transparent; 
                }
                label{
                    color: @darkgrey;
                    display: block;
                    position: relative;
                    &:hover{
                        color: @black;
                    }
                    span{
                        display: inline;
                        font-size: @fs12;
                        line-height: 17px;
                        color: @black;
                        font-weight: 300;
                    }
                    
                    input[type=checkbox]{
                        margin: 4px 0 0 -24px;
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }
                    input[type=checkbox] ~ span.color-rgb{
                        margin-left: -20px;
                    }
                    input[type=checkbox]:checked ~ span:nth-child(2){
                        color: @pricecolor;
                        font-weight: 700;
                    }
                }
                
            }
            a{
                &:hover, &:focus{
                    background-color: transparent; 
                }
            }
        }
    }
  }
}
  
  .allcategories {
    margin-left: 10px;
  }
  
  .nav > li > a, label, .nav-header {
    font-size: @GuidedNavigationDesktopAndTabletFontSize;
    color: @black;
  }  
  .nav-header {
    text-transform: capitalize;
  }
  .nav > li > a {
        padding: 0 0 5px;
        font-size: 12px;
        line-height: 15px;
        font-weight: 300;
    } 
  
  .refinement-with-parent {
    margin-left: 20px;
  }
  
  i[class*="icon"] {
    margin-top: auto;
  }
  
  .toggle-arrow {
    background-position: -289px -96px;
  }

  .collapsed .toggle-arrow {
    background-position: -312px -96px; 
  }
  
  .collapse > div {
    visibility: hidden;
  }

  .collapse.in > div {
    visibility: visible;
  }
  
  .see-more-less {
    font-style: italic;
    display: inline;
    text-decoration: underline;
    &:hover, &:focus {
      text-decoration: none;
      background-color: transparent;
    }
  }
  
  .clearAllRefinements {
    font-style: italic;
    display: inline;
    text-decoration: underline;
    &:hover, &:focus {
      text-decoration: none;
      background-color: transparent;
    }    
  }
  
  .sign {
    font-weight: bold;
    padding: 0px;
  }
  
  .li-see-more-less {
    padding: 3px 0;
  }
  
  .storefront-sidenav {  
    border-radius:1px;
    padding:0 10px;
    width: 210px;
  }
  
  a {
    cursor: pointer;
    font-size: @fs12;    
  }
  
  .nav > li:hover,
  .nav > li:focus {  
    .see-more-less {
      text-decoration: none;
      background-color: transparent;
    }
  }
  
  .nav > li > div:hover,
  .nav > li > div:focus {
    text-decoration: none;
    background-color: @grayLighter;
  }
  
  .nav-list {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  /* Desktop large */
  
  @media @big {
    
    .storefront-sidenav {
      
      padding:0 5px;
    }
    
  }

  /* Tablet */
  @media @iPad {
    
    .storefront-sidenav {
      top: 0;
      margin-top: 0px;
      margin-right: 5px;
      padding: 0px 0px 0px 0px;
      width:170px;
      margin-left:0px;
    }
  }

  .label-info {
    background-color: @ButtonPrimaryBackgroundColor;
  }
}

.panel {
    .panel-heading{
        h4{
            a.nav-header{
                display: block;
                padding-left: 12px;
                background: url(/file/general/refine-minus.png) left center no-repeat;
                
                &:focus{
                    text-decoration: none;
                    outline: 0;
                }
            }
            a.nav-header.collapsed{
                background: url(/file/general/refine-plus.svg) left center no-repeat;
                background-size: 8px;
            }
            span{
                color: @black;
                font-size: @fs13;
                line-height: 16px;
                padding-left: 0px;
                font-weight: 700;
            }
        }
    }
}


.color-rgb{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 2px;
    left: -2px;
    @media @tablet{
        
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}



    #CC-megaMenu {
        @media @iPhone
        {
            padding:0;
        }

    
      .navbar {
        margin:0;
        background: transparent;
      }
    
      .mega-menu { 
        background: transparent;
        min-height: 42px;
        
        .nav{
        float: none;
        display: inline-block;
        max-width: 100%;
        margin: 0 auto;
        position: static;
        
        }
        
        .dropup,
        .dropdown,
        .collapse {
          position: static;
        }
        
        .navbar-collapse,
        .container {
          position: relative;
        }
    
        .navbar-collapse {
          border:0;
          -webkit-box-shadow:none;
          -moz-box-shadow:none;
          box-shadow:none;
          overflow-x: hidden;
          background: @NavbarBackgroundColor;
        }
        
        .mega-menu-fullwidth-collapse {
          padding-left: 0;
          padding-right: 0;
          background: transparent;
          text-align: left;
          margin: 0 auto;
          max-width: 1170px;
          text-align:center;
        }
    
        .dropdown-menu {
          left: auto;
          z-index: 500;
        }
    
        .dropdown-menu > li {
          display: block;
        }
    
        .nav.pull-right .dropdown-menu {
          right: 0;
        }
    
        .mega-menu-content {
          padding: 20px 30px;
          *zoom: 1;
        }
    
        .mega-menu-content:before,
        .mega-menu-content:after {
          display: table;
          content: "";
          line-height: 0;
        }
    
        .mega-menu-content:after {
          clear: both;
        }
    
        .nav > li > a {
          float: none;
          padding: 10px 15px 10px 15px;
          color: @NavbarLinkColor;
          text-decoration: none;
          cursor:pointer;
          font-weight: 300;
          text-transform: capitalize;
          text-shadow: none;
          font-family: @SiteFontFamily;
          text-align:left;
          border-bottom: 2px solid transparent;
        }
    
        .nav > li > a:focus
        {
          background-color: transparent;
          border-bottom: 0 none; 
          
          @media @iPhone{
            border:0 none;
          }
         
        }
        .nav > li > a:hover {
          background-color: transparent;
          border-bottom: 2px solid @magentacolor; 
          
          @media @iPhone{
            border:0 none;
          }
         
        }
            
        li.cc-desktop-dropdown:hover > ul.dropdown-menu {
          display: block;    
          top: auto;
        }
    
        .nav li.dropdown.open > .dropdown-toggle {
          
          background: transparent ;
          color: @NavbarLinkHoverColor;
          text-align:left;
        }
    
        .nav li.dropdown > .dropdown-toggle .caret {
          border-top-color: @NavbarLinkColor;
          border-bottom-color:@NavbarLinkColor;
        }
    
        .nav li.dropdown.open > .dropdown-toggle .caret {
          border-top-color: @NavbarLinkHoverColor;
          border-bottom-color: @NavbarLinkHoverColor;
          color: @white;
        }
    
        .nav li.dropdown > a:hover .caret, 
        .nav li.dropdown > a:focus .caret {
          border-top-color: @NavbarLinkHoverColor;
          border-bottom-color: @NavbarLinkHoverColor;
        }
    
        .nav > li > .dropdown-menu:after,
        .nav > li > .dropdown-menu:before {
          display: none;
        }
    
        .dropdown.mega-menu-fullwidth .dropdown-menu {
    
          background: @SubNavigationBackgroundColor;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          margin: 0 auto;
          min-height:250px;
          padding:20px 0 20px 10px;
          left: 0;
          right: 0;
          border-top: 0 none;
    
          a {
            color:@SubNavigationLinkColor;
            font-size:@fs12;
            font-family: @SiteFontFamily;
            line-height: 18px;
          }
    
          a:hover {
            color:@SubNavigationLinkHoverColor;
            text-decoration: none;
          }
    
          .category-header {
            font-weight: bold;
            display: block; 
            height: 100%; 
            text-transform: none;
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 18px;
            color: @magentacolor;
            font-family: @SiteFontFamily;
            text-align: left;
          }
    
          .child-category-container {
            min-height:5em;
            ul {
               margin-left:0px;
               padding-left: 0px;
               li {
                 padding-top:0px;
                 color: @NavbarLinkHoverColor;
                 padding-left: 0px;             
                 white-space: normal;
                 overflow: hidden;
                 text-overflow: ellipsis;
                 text-align:left;
                 &:first-child{
                     padding-top: 5px;
                 }
               }
               
    
               ul {
                 margin-left: 0px;
                 
                 li {
                   padding-top:5px;
                   color: @NavbarLinkHoverColor;
                   padding-left: 0px;               
                   white-space: normal;
                   overflow: hidden;
                   text-overflow: ellipsis;
                 } 
               }
            }
          }
    
          .child-category-container a:hover {
            background-color: transparent;
          }
    
          .child-category-container:nth-child(7), 
          .child-category-container:nth-child(13), 
          .child-category-container:nth-child(19) {
            clear:both;
          }
    
          .dropdown-menu .last {
            margin-left:0;
          }
        }
    
        @media @tablet{
          .dropdown.mega-menu-fullwidth .dropdown-menu {
            width: auto;
          }
    
          .mega-menu-content {
            padding-left: 0;
            padding-right: 0;
          }
    
          .dropdown-menu > li > ul {
            display: block;
          }
        }
      }
    
      /**************************************************************
      *
      *   Mobile Styles
      *
      **************************************************************/
      /* Landscape phone to portrait tablet */
      @media @tablet{
        .mega-menu {
          div.navbar-inner {
              background:none;
              background-image: none;
              border: none;
              -webkit-box-shadow:none;
              -moz-box-shadow:none;
              box-shadow:none;
          }
        }
        
        .navbar {
          margin:0;
          
          background: transparent;
          
          .navbar-toggle {
            display: block;
          }
    
          .icon-bar {
            background-image: none;
            color: @NavbarTextColor;
            background-color: @black;
          }
        
          .btn-navbar:hover {
              .icon-bar {
                    background-image: none;
                    color: @NavbarTextColor;
                    background-color: @black;
              }
          }
    
        }
        
    
        .navbar .btn-navbar, .navbar .btn-navbar:hover, .navbar .btn-navbar:focus  {
          
          background: @Globalcolor;
    
          border: 1px solid @Globalcolor;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
          webkit-box-shadow:none;
          -moz-box-shadow: none;
          box-shadow:none;
          margin-right: 0;
          float: left;
          padding: 7px 10px;
          margin-left: 0px;
          
        }
    
        #mobile-menu {
          background: @NavbarBackgroundColor;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
          width: 100%;
          left: 0; 
          right: 0;
          color:@NavbarTextColor;
        }
        
        #mobile-menu.collapse {
          display: none !important;
          overflow: hidden !important;
        }
        
        #mobile-menu.collapse.in {
          display: block !important;
        }
        
        .navbar-nav {
          float: none !important;
          width:100%;
          .open {
            .dropdown-menu {
              position: static;
              float: none;
              border: 0;
              box-shadow: none;
              & > li {
                & > a {
                    line-height: 20px;
                }
              }
            }
          }
    
        }
        
        .mega-menu .nav > li {
          float: none;
          display: block;
        }
    
        .mega-menu .nav > li > a {
          border-top: 0 none;
          padding: 15px;
          margin:0px;
        }
    
        .mega-menu .nav > li > a:hover {
          color: @NavbarLinkHoverColor;
          background-color: transparent;
          text-decoration: none;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
        }
        
        .navbar-nav .open .dropdown-menu {
          position: static;
          float: none;
          border: 0;
          box-shadow: none;
        }
        
        .navbar-nav .open .dropdown-menu > li > a {
          line-height: 20px;
        }
        
        .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
          padding: 10px 15px 5px 25px;
          text-align:left;
        }
        
        .navbar-collapse {
          max-height: none;
        }
    
        .nav-collapse {
          .nav {
            float: none;
            margin: 0;
          }
          .dropdown-menu a {
            padding-left: 0px;
          }
        }
    
        .nav-collapse .dropdown-menu li + li a {
          margin-bottom: 0px;
        }
    
        .nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, 
        .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus {
          background-color: transparent;
        } 
    
        .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
          min-height: 20px;
          padding:0;
        }
    
        .nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, 
        .nav-collapse .dropdown-menu a:focus {
          background-color: @NavbarBackgroundHoverColor;
          &.Level2 {
            background-color: @SubNavigationBackgroundHoverColor;
          }
    
          &.Level3 {
            background-color: @SubNavigationBackgroundHoverColor;
          }
    
        }
    
        .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu .first {
          margin-left: 0;
        }
    
        .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu .category-header {
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
          border:none;
          font-weight: bold;
          padding:0 10px 0 0;
          height: 100%;
        }
    
        .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu .caret {
          border-top-color: @NavbarLinkHoverColor;
          border-bottom-color: @NavbarLinkHoverColor;
        }
    
        .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu .child-category-container {
          float: left;
          margin-left:0;
          min-height: 20px;
          padding-bottom: 20px;
        }
    
        .dropdown.mega-menu-fullwidth .dropdown-menu {
          ul {
            li {
              padding-left: 10px;
            }
          }
        }
    
        .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
          background-image: none;
          background: transparent;
        }
    
        .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
          background: @SubNavigationBackgroundColor;
          color: @SubNavigationTextColor;
        }
    
        .mega-menu .dropdown-menu > li a {
          padding-left: 10px;
        }
    
        .submenu > li a {
          padding-left: 20px;
        }
    
        .mega-menu .dropdown-menu .open > a:after {
          border:none;
          display: inline-block;
          width: 0;
          height: 0;
          vertical-align: top;
          border-top: 6px solid @black;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
          content: "";
          border-top-color: @bordercolor3;
          border-bottom-color: @bordercolor3;
          color: @NavbarLinkHoverColor;
        }
    
        .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu .child-category-container a:hover {
            background-color: @SubNavigationBackgroundHoverColor;
          }
    
        .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu > a:after {
          display: block;
          content: " ";
          float: right;
          width: 0;
          height: 0;
          border-color: transparent;
          border-style: solid;
          border-width: 5px 0 5px 5px;
          border-left-color: @bordercolor3;
          margin-top: 5px;
          margin-right: -10px;
        }
    
        .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu a.Level3:after{
          display:none;
        }
    
        li.dropdown-menu.submenu.closed {
    
           ul {
            display: none;
           }
        }
    
      }
     
      /* Landscape phones and down */
      @media @phone {
        .mega-menu {
          .dropdown.mega-menu-fullwidth {
            .dropdown-menu {
              .child-category-container {
                float:none;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
    .menu-fixed {
      position: fixed;
      top: 56px;
      left: 0;
      width: 100%;
      z-index: 999;
      text-align: center;
      padding: 0;
      background: #f4f2e5 url(/file/v7272026183656673042/general/site_bg.png) center center repeat;

      .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
        width: 97%;
      }
}
        
    ul.nav.navbar-nav{
        li.dropdown.mega-menu-fullwidth.menu-item.cc-desktop-dropdown{
            a{
                    span{
                    font-family: @SiteFontFamily;
                    font-size: @fs13;
                    text-transform: capitalize;
                    font-weight:300;

                    }
            }
            
        }
    }
    
    .mobile-refinement {
        float: left;
    }

    .mobile-category {
        float: right;
    }
    .mob-category-disabled{
       cursor: not-allowed;
       background-color: #9b9b9b !important;
       background-image: none !important;
    }

#CC-guidedNavigation-collapseList-0, #CC-guidedNavigation-collapseList-mobrefine-0{
    ul{
      padding-left:10px;
      li{
          .checkbox{
              margin: 0 0 5px;
              &:hover{
                  background-color: transparent; 
              }
              label{
                  color: @darkgrey;
                  &:hover{
                      color: @black;
                  }
                  span{
                        margin-left: 0px;
                        display: inline-block;
                        @media @tablet{
                            margin-left: 10px;
                        }
                        
                  }
                  input[type=checkbox] ~ span.color-rgb{
                    margin-left: 0;
                }
                  input[type=checkbox]:checked ~ span:nth-child(2){
                    color: @pricecolor;
                    font-weight: 700 !important;
                }
              }
              
          }
          a{
              &:hover, &:focus{
                  background-color: transparent; 
              }
          }
      }
  }
}
.Color{
    ul {
      li {
          .checkbox {
              position: relative;
              @media @tablet{
                  margin-left: -20px;
              }
              label {
                  @media @tablet{
                      margin-left: 10px;
                  }
                 span{
                     margin-left: 11px;
                     line-height: 18px !important;
                     @media @tablet{
                        margin-left: 0px !important;
                        padding-left: 0px;
                     }
                 } 
              }
          }
      }  
    }
    input[type=checkbox]{
        margin: 4px 0 0 -20px !important;
        @media @tablet{
            visibility: hidden;
        }
    }
    input[type=checkbox]:checked ~ span:nth-child(2){
        &:after{
            content: '';
            background: url(/file/general/check_icon.png) no-repeat 0 0;
            right: 20px;
            position: absolute;
            color: @magentacolor;
            width: 8px;
            height: 6px;
            top: 8px;
            @media @iPad{
               right: 20px; 
            }
            @media @tablet{
                right: 80px;
            }
        }
    }
}
.checkmark {
    position: absolute;
    top: 4px;
    left: -25px;
    height: 14px;
    width: 14px;
    background-color: @Globalcolor;
    border: 1px solid @bordercolor3;
    @media @tablet{
       left: -12px; 
    }
    
    &:after{
        left: 4px;
        top: 1px;
        width: 4px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        content: "";
        position: absolute;
        display: none;
    }
}
input[type=checkbox]:checked ~ .checkmark {
    background-color: @pricecolor;
    border: 1px solid @pricecolor;
    &:after{
        display: block;
    }
}
input[type=checkbox]:checked ~ span:nth-child(2){
    @media @tablet{
        color: @pricecolor;
        font-weight: 700 !important;
    }
}
.Price {
    ul{
        li{
            a, span{
                font-family: @SiteFontFamily;
                font-size: @fs12 !important;
                font-weight: 300;
                line-height: 15px;
            }
        }
    }
}

#cc-mobile-menubar{
    @media @tablet{
        margin: 0 -15px;
        min-height: 0;
    }
    .navbar-header{
        button.mobile-refinement, button.mobile-category{
            @media @tablet{
                background: @footerfontcolor url(../file/general/accordion_plus.png) 95% 48% no-repeat;
                border: 0;
                outline: 0;
                color: @white;
                opacity: 1;
                text-shadow: none;
                float: left;
                width: 48%;
                text-align: left;
                display: block;
                padding: 10px;
                margin: 0 0 10px;
                text-transform: uppercase;
            }
            
            span{
                @media @tablet{
                    display: inline-block;
                    font-size: @fs14;
                }
                
            }
        }
        button.mobile-refinement.expand, button.mobile-category.expand{
            @media @tablet{
              background: @buttonBgColor1 url(../file/general/accordion_minus.png) 95% 48% no-repeat;  
            }
        }
        button.mobile-refinement {
            @media @tablet{
                margin-left: 8px; 
            }
            
        }
        button.mobile-category{
            @media @tablet{
                margin-right: 3px;
                margin-bottom: 5px;  
            }
            
        }
    }
    @media @tablet{
        #CC-guidedNavigation-column-mobcategory.panel-group, #CC-guidedNavigation-column-mobrefine.panel-group{
            margin: 0;
            .storefront-sidenav{
                padding: 0 10px;
                .panel-heading{
                    padding: 0 0 8px;
                    h4{
                        a{
                            font-size: @fs14;
                            display: block;
                            text-transform: capitalize;
                            font-weight: 700;
                            font-family: @SiteFontFamily;
                        }
                    }
                }
                .panel-body{
                    ul{
                        padding-left: 3px;
                        li{
                            a{
                                span{
                                    color: @footerfontcolor;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
        #CC-guidedNavigation-column.guided_nav{
            margin-top: 8px;
        }
       
    }
}
#parent_nav{
    .panel.panel_ui{
        @media @tablet{
            margin: 0;
            border-radius: 0;
            border: 0 none;
            box-shadow: none;
            background: transparent;
        }
    }
}


.mob_category,.ref_category{
    @media @tablet{
        display:none;
    }
}
.mob_category.show_panel,.ref_category.show_panel{
    @media @tablet{
        display:block;
    }
}
.ref_category{
    #CC-guidedNavigation-refinementCrumbSection {
    background-color: transparent; 
    padding: 0 12px;
    box-shadow: none;
    border: 0 none; 
    margin-top: 0px; 
    margin-bottom: 12px;
    /* display:none; */
    display: block;
    position: relative;
    
    .nav-header {
      margin: 0px; 
      text-transform: uppercase;
      padding-bottom: 5px;
      outline: none;
      display: none;
    }

    .close {
        float: none;
        vertical-align: middle;
        line-height: 15px;
        color: @black;
        text-shadow: none;
        opacity: 1;
        background: @bordercolor3;
        padding: 5px;
        margin: -13px 0 0;
    }
    
    .CC-guidedNavigation-refineByTextOption {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 120px;
      line-height: 22px;
      margin-top: -9px;
      vertical-align: text-top;
    }
    .clearRefine{
        position: absolute;
        top: 0;
        padding: 0;
        left: 10px;
        
        a{
            text-decoration: none;
            font-style: normal;
            color: @pricecolor;
            font-size: @fs11;
        }
    }

    .label {
        height: 26px;
        padding: 5px 0px 5px 5px;
        border-radius: 4px;
        word-wrap: break-word;
        overflow: auto;
        display: inline-block;
        overflow: hidden;
        background-color: transparent;
        color: @black;
        text-transform: capitalize;
        border: 1px solid @bordercolor1;
        border-radius: 3px;
        line-height: 24px;
        margin: 4px 0 0;
        span{
            font-weight: 300;
        }
    }  
    
    @media @big {
      padding-left: 10px;
      padding-right: 10px;
    }
    
    @media @iPad {
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
@media @tablet{
    #CC-guidedNavigation-accordionSection-mobcategory, #CC-guidedNavigation-accordionSection-mobrefine {
  margin-bottom: 0px;
  .panel {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
  }
  .panel-group {
    margin-bottom: 4px;
  }
  .panel-heading { 
  background-color: transparent;
  padding: 0 10px 0px;
  h4 {
    border-bottom: 1px solid #aeb0af;
    padding: 0px 5px 5px 0;
    width: 100%;
    line-height: 12px;
    a {
      color: @black;
      font-size: @fs13;
      line-height: 16px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
  .panel-body {
    background-color: transparent;
    border: 0 none;
    padding: 0 10px 10px 10px;
    ul{
        padding-left:10px;
        li{
            .checkbox{
                margin: 0 0 5px;
                &:hover{
                    background-color: transparent; 
                }
                label{
                    color: @darkgrey;
                    font-size: @fs13;
                    &:hover{
                        color: @black;
                    }
                    span{
                            font-size: @fs13;
                            margin-left: 10px;
                            font-weight: 300;
                      }
                      
                      input[type=checkbox]{
                          visibility: hidden;
                      }
                }
                
            }
            a{
                padding: 0 10px 5px;
                &:hover, &:focus{
                    background-color: transparent; 
                }
                span{
                    font-size: @fs13;
                }
            }
        }
    }
  }
}
}
a.redirect_nav{
    display:block;
}

.count_txt{
    font-family: @SiteFontFamily;
    color: @buttonBgColor1 !important;
    line-height: 10px !important;
    margin-left: 4px !important;
    display: inline-block;
    position: relative;
    top: 0px;
}
.addScroll{
    height: 125px;
    overflow-y: scroll;
}