
    .account-login {
        background: #f9f8f1;
        box-shadow: 10px 10px 5px grey;
        margin: 100px auto;
        padding: 42px 36px;
        min-height: 300px;
        width: 40%;

        @media @iPadP {
            padding: 42px 0;
            width: 65%;    
        }
        @media @iPadL{
            padding: 42px 0;
            width: 45%;    
        }
        
        @media @tablet{
            padding: 42px 0;
            width: 100%;
        }
    }

    #CC-userLogin {
        display: block;
        width: 50%;
        margin: auto;

        @media @tablet {
            width: 70%;
        }

        label.control-label {
            margin: 11px 0px;
            font-family: @SiteFontFamily;
            font-weight: normal;
            font-size: @fs12;
        }

        h4 {
            font-size: 13px;

            @media @iPadP {
                font-size: 15px;
            }

            @media @tablet {
                font-size: 15px;
            }
        }

        .logo {
            position: relative;
            bottom: 25px;
            width: 100%;

            @media @iPadP {
                left: 0;
                width: 100%;
            }
        }

        .form-group {
            margin-bottom: 12px;

            .form-control {
                width: 250px;
                height: 34px;
                font-size: 12px;
            }
        }

    }

    .button_submit button {
        width: 250px;
        border: 0 none;
        height: 34px;
        font-weight: 600;
    }

    #CC-checkout-forgotPasswd {
        margin: 10px 0;
        
        a{
        color: #a94442;
        font-size: 13px;    
            cursor: pointer;
        }
    }

    #CC-forgotPasswordSectionPane {
        text-align: center;

        @media @iPadP {}

        .heading{
            h3{
                font-size: 21px !important;
                font-weight: 600;
                border-bottom: 1px solid #b7b6ae;
                padding-bottom: 4px;
            }
        }
        .title_div {
            margin-bottom: 10px;
            font-size: 13px;
        }
        .form-group{
                    
            label{
                font-size: 12px;
                margin: 18px 0;
                font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
                font-weight: normal;
                font-size: 12px;
            }
            .control-label{
                
            }
            .required-label{
                margin: 15px auto;   
            }
            
            #CC-forgotPwd-input{
                margin: 15px auto; 
                
                @media @tablet{
                    display: inline-block;
                    width: 73%;
                }
            }
            .text-danger{
                text-align: left;    
            }
        }
        .button_div{
                max-width: 470px;
                margin: 0 auto;
            .submit_button{
                
                .cc-button-primary{
                    float: right;
                    width: 300px;
                    letter-spacing: 0;
                    font-weight: 700;
                    font-size: 12px;
                    border: 0 none;
                    line-height: 28px;
                    margin: 15px auto;

                    @media @tablet {
                        float: none;
                    }
                }
            }

            .cancel_button {
                .cc-button-secondary {
                    font-size: 0;
                    border: 0;
                    background: url(/file/general/round-delete-button.svg) no-repeat 0 0;
                    background-size: 20px;
                    position: absolute;
                    bottom: 215px;
                    right: -25px;
                    width: 20px;
                    height: 20px;

                    @media @iPadP {
                        bottom: 215px;
                        right: 9px;
                    }
                    @media @iPadL{
                        right: 0;    
                    }
                    @media @tablet{
                        bottom: 245px;
                        right: 25px;
                    }
                }
            }
        }

        .alert.alert-success {
            text-align: center;
            margin: 0 auto;
            font-size: 12px;
            line-height: 15px;
            padding: 10px;

            @media @iPadP,
            @tablet {
                width: 74%;
            }
        }
        #CC-forgotPwd-emailAddress-error{
            text-align: left;
        }
    }
    #CC-updatePasswordPane{
        text-align:center;
        
        .heading{
            h3{
                font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
                font-size: 21px;
                font-weight: 600;
                border-bottom: 1px solid #b7b6ae;
                width: 100%;
                padding-bottom: 4px;
            }
        }
        #CC-updatePasswordCancel{
            font-size: 0;
            border: 0;
            background: url(/file/general/round-delete-button.svg) no-repeat 0 0;
            background-size: 20px;
            position: absolute;
            right: 430px;
            width: 20px;
            height: 20px;
            top: 120px;   
        }
        .row{
            margin-bottom: 15px;
        }
        #CC-updatePasswordSave{
            width: 66%;
            letter-spacing: 0;
            font-weight: 700;
            font-size: 12px;
            border: 0 none;
            line-height: 28px;
            margin: 15px auto;
        }
        #CC-updatePassword{
            .form-group{
                label{
                    font-size: 12px;
                    margin: 10px 0;
                    font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
                    font-weight: normal;
                    font-size: 12px;    
                }
            }
            .form-control{
                font-size:12px;
            }
        }
        #CC-updatePassword{
            margin: 30px 0;
        }
        .center-block{
            max-width: 470px;
            margin: 0 auto;
            
            button{
                width: 67%;
                letter-spacing: 0;
                font-weight: 700;
                font-size: 12px;
                border: 0 none;
                line-height: 28px;
                margin: 15px auto;
                float: right;
            }
        }
        .text-muted{
            text-align: left;    
        }
        .text-danger{
            text-align:left;    
        }
    #CC-updatePasswordMessagePane{
        display: block;
        text-align: center;
        .CC-header-modal-heading{
            text-align: center;    
        }
        button{
            width: 50%;
        }
    }
}