
/* -------------------------------------------------- */
/*  Delegated Admin */
/* -------------------------------------------------- */  
    #CC-delegatedAdminContactsList {
        
        .row{
                margin: 20px;
                
                @media @iPadP{
                    margin: 20px 0;     
                }   
            #CC-delegatedAdminContactsList-stepper{
                
                span{
                    
                    @media @iPadP{
                     font-size: 11px;     
                    }     
                }
                select{
                    width: 60px;
                    display: inline-block;
                    background: #f9f8f1 none repeat scroll 0 0;
                    border: 0 none;
                    font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
                    font-size: 14px;
                    
                    @media @iPadP{
                     font-size: 11px;     
                    } 
                }
            }
        }
        
        #CC-delegatedAdminContactsList-create-search-Contacts{
            
            .contacts-search{
                background: #f9f8f1 none repeat scroll 0 0;
                border: 0 none;
                font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
                font-size: 11px;
                height: 38px;
            }
        }
        
        #CC-delegatedAdminContactsList-table-md-lg-sm{
            
        }
        
        .details-label {
            color: #444444;
            line-height: 1.5em;
          }
        
        .details-enabled-secondary-button {
        	background-color: #E9ECEE;
        	color: #444444;
        	padding: .4em .6em;
        	border-radius: 3px; 
        	border: 1px solid #C4CED7;
        	text-align: center;
        }
        
        .agent-cc-contacts-title{
            margin-top: 2px;
        	margin-bottom: 0px;
        	text-align: left !important;
        	padding-left : 0px;
        	border-bottom: 1px solid #D6DFE6;
            width: 100%;
          }
        
        .details-enabled-secondary-button:hover{
        	color: #027BC7;
        	border: 1px solid #027BC7;
        }
        
        .details-link, .details-link:visited {
        	color: #045FAB;
        }
        
        .details-link:hover, .details-link:active {
        	color: #045FAB;
        	text-decoration: underline;
        }
        
        #CC-contact-search-text{
          border-radius: 4px 0px 0px 4px;
          height: 35px;
        }
        
        .Agent-CC-delegatedAdminContactsList-title-legend{
            margin-bottom:10px !important;
            margin-top: 41px !important;
        }
        
        #CC-delegatedAdminContactsList-title-legend{
            margin-bottom:10px;
        }
        .agent-CC-delegatedAdminContactsList-stepper{
            margin-bottom : 10px;
            margin-top : 20px !important;
            
            @media @iPadP{
                font-size: 11px;   
            }
        }
        #CC-delegatedAdminContactsList-account-title{
            border-bottom: 1px solid #b7b6ae;
        }  
        #CC-delegatedAdminContactsList-header-title{
            font-size: 24px;
            color: #000;
            font-weight: 700;
            font-family: 'Unna',serif;
            line-height: 28px;
            padding-bottom: 5px;
            margin: 0;
            
            @media @iPadP{
                font-size: 17px;
            }
        }
        .CC-contact-search-group {
            position: relative;
            display: table;
            border-collapse: separate;
        }
        #CC-contacts-legend{
            margin-top: 2px;
        	margin-bottom: 0px;
        	text-align: left !important;
        	padding-left : 0px;
        	border-bottom: 1px solid #D6DFE6;
            width: 100%;
            margin-top : 20px;
        }
        #CC-delegatedAdminContactsList-roleFilter,#CC-delegatedAdminContactsList-roleFilter-xs{
            display:inline;
            width : 100%;
            padding : 2px 7px;
            cursor: pointer;
        }
        #CC-delegatedAdminContactsList-addContactBtn{
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            
            @media @iPadP{
                width: 120px;
                font-size: 11px;
            }
        }
        .CC-delegatedAdminContactsList-fetchSizeFilter{
            display:inline;
            width : 60px;
            padding : 2px 7px;
        }
        #CC-delegatedAdminContactsList-backToMyAccounts {
            text-decoration: underline;
        }
        #CC-delegated-admin-contact-listing {
            word-wrap: break-word;
            .fa, .fa-sort-desc, .fa-sort-asc, .fa-sort {
              cursor: pointer;
            }
        }
        #CC-delegatedAdminContactsList-mobileView{
            table-layout: fixed;
            word-wrap: break-word;
        }
        #CC-delegatedAdminContactsList-contactListing-info {
            margin-bottom: 12px;
            th {
                font-weight: bold;
                width: 65%;
                padding: 5px;
                
                @media @iPadP{
                    font-size: 11px;
                    padding: 3px;
                }
            }
            td {
              border-top: 0;
              border-bottom: 1px solid gray;
              vertical-align: top;
              
                @media @iPadP{
                    font-size: 10px;
                }
            }
            .notify {
              text-align: left;
              padding-left: -8px;
            }
            
            @media @iPadP{
                padding: 0;
            }
        }
          
        .CC-delegatedAdminContactsList-account-back-link {
            top: 24px;
        }
          
        #CC-delegatedAdminContactsList-backToAccount-xs {
            margin-bottom: 20px;
        }
    }
    #CC-contacts-main {
        
        .form-horizontal{
            .row{
                h2{
                    font-weight: 800;
                    font-family: 'Unna',serif;
                    font-size: 24px;
                    text-transform: capitalize;
                    padding-bottom: 3px;
                }
                .input-sm{
                    border: 1px solid #ccc;
                    box-shadow: none;
                    font-size: 12px;
                    border-radius: 2px;
                    appearance: none;
                    background-color: #f9f8f1;
                    font-weight: 300;
                    height: 40px;
                    border: 7;
                    margin-bottom: 10px;
                }
            } 
        }
          #CC-contact-permissions-label, #CC-contact-status-label {
            text-align:left;
            margin-bottom:5px;
          }
        
          #CC-contact-permissions, #CC-contact-status {
            float: inherit;
          }
          
          #CC-contact-permissions-label, #CC-contact-status-label {
            text-align : left;
          }
          
          #CC-contact-roles-error {
            margin-top: 10px;
          }
          
          #cc-save-button {
            margin-left : 5px;
            margin-bottom : 5px;
            margin-right : 15px;
          }
          
          #cc-save-button-xs, #cc-cancel-button-xs, #cc-remove-button-xs {
            margin-left : 12px;
          }
          
          #CC-cancel-button-xs {
            margin-right : 25px !important;
          }
          
          #CC-save-button-xs  {
            margin-right : 25px !important;
            margin-top : 10px !important;
          }
          #CC-remove-button-xs  {
            margin-right : 25px !important;
            margin-top : 10px !important;
          }
          
          .cc-back-to-contacts {
            text-decoration: none;
            outline: none;
            padding: 0px;
            background-color: none;
            border: none;
          }
          .cc-back-to-contacts:focus {
          outline: 1px solid #428bca;
          }
          
          .cc-back-to-contacts-xs {
            margin-top: 23px;
          }
          
          #cc-legend-not-xs {
            margin-left: 15px;
            width: 97.5%;
          }
          
          #cc-legend-xs {
            margin-left: 15px;
            width: 90%;
          }
          
          #cc-contact-permissions-buyer, #cc-contact-permissions-admin {
            box-shadow: none;
          }
        
          .cc-cancelcontacts-modal-footer {
            text-align: right;
            background-color: white;
            border-top: 0px;
            border-radius: 0px 0px 6px 6px;
          }
          .cc-cancelcontacts-modal-heading {
            background-color: white;
            border-bottom: 0px;
            border-radius: 6px 6px 0px 0px;
            padding: 9px 15px 9px 15px;
            margin-bottom: 20px;
          }
          .cc-cancelcontacts-confirm-icon {
           margin-top: 10px;
            margin-left: 10px;
            height: 30px;
            background: transparent url(/img/icons-32x32/icon-alert-alt-32x32.png) no-repeat 0 0;
           }
          .cc-cancelcontacts-modal {
            max-width: 450px;
            background-color: white;
          }
          .cc-cancelcontacts-body-modal {
            max-height: 400px;
            padding-bottom: 0px;
            padding-top: 0px;
          }
           #CC-cancelcontacts-modal-headerText {
            margin-left: 20px;
            margin-top: -2px;
          }
          #cc-cancel-contacts-ModalContainer-modal-dialog{
              width: 450px;
          }
          .cc-remove-contact-body-modal {
          	text-align: center;
            max-height: 400px;
            padding-bottom: 0px;
            padding-top: 0px;
            background-color: white;
            border-radius: 0px 0px 6px 6px;
          }
          #CC-contact-last-name-error-sm, #CC-contact-first-name-error-sm, #CC-contact-email-address-error-sm {
          }
          .role-checkbox {
          	box-shadow: 0px 0px 0px rgba(0, 0, 0, .3) inset;
          }
          #cc-remove-contact-ModalContent{
          	margin-top: 150px;
          	width: 100%;
            height: 245px;
          }
          #cc-cancel-contacts-ModalContent{
          	margin-top: 150px;
          	width: 100%;
            height: 100%;
          }
          #CC-remove-contact-modal-headerText{
          	text-align: center;
          }
}

.notDelAdminMessage{
  text-align : center;
}