
    
#CC-purchaseLists{
    
    .CC-purchaseList{
        
        .cc-purchase-list-search-group {
            position: relative;
            display: table;
            border-collapse: separate;
            .form-control {
                    display: block;
                    width: 100%;
                    height: 34px;
                    padding: 6px 12px;
                    font-size: 14px;
                    line-height: 1.42857143;
                    color: #555;
                    background-image: none;
                    border: 1px solid #eee;
                    background-color: transparent;
                    border-radius: 4px;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                }
            }
        
        #purchaseLists-info{
        
            #purchase-list-outline{
            border: 1px solid #b7b6ae;
            margin: 0 15px 10px 15px;
            background: #f9f8f1;
            
                @media @iPadP{
                    width: 480px;
                }
            .pl-content-row-container{
                margin: 30px 40px 0;
                // padding: 0;
            
            .row{
                
                .pl_table{
                    
                    
                    thead{
                        font-size: 17px;
                    }
                    th{
                        @media @iPadP{
                            font-size: 14px;    
                        }
                    }
                    td{
                        padding: 15px 15px;
                        line-height: 1.5;
                        vertical-align: middle;
                        border-top: 1px solid #ddd;
                        
                        .pl_list_name{
                            text-transform: capitalize;
                            font-size: 13px;
                            font-weight: 700;
                            
                            @media @iPadP{
                                font-size: 11px;    
                            }   
                        }
                        button{
                            width: 120px;
                              
                            @media @iPadL{
                                width: 115px;
                            } 
                            @media @iPadP{
                                width: 110px;
                            } 
                        }
                    @media @iPadL{
                        padding: 15px 10px;
                    }   
                    @media @iPadP{
                        padding: 15px 2px;
                        font-size: 11px;
                    }    
                    }   
                }
            }
            @media @iPadP{
                margin: 0;
            }    
        }
            
        }    
        }    
    }
  
//   #purchase-list-info-item-count{
//     text-align: -webkit-center;
//   }
  
//   #purchase-list-info-item-count-header{
//     text-align: -webkit-center;
//   }
  
//   #purchase-list-info-last-modified-header{
//   text-align: right;
//   }
  
//   #purchase-list-info-modified-date{
//   text-align: right;
//   }
  
  #CC-purchaseList-title{
    margin-top: 18px;
    // font-size: x-large; 
    @media @iPadP{
        z-index: 9;
        position: relative;
    }
  }
  
  #createPurchaseList-Link{
    margin-bottom: 20px;
    text-align: right;
    text-decoration: underline;
  }
  
 }

 #CC-createPurchaseLists{

 #CC-createPurchaseList-title{
    margin-top: 18px;
    font-size: x-large; 
  }
 #CC-purchaseListName{
    width: auto;
 }
 
 #purchaseListDropDown {
   width: 80%;
 }
 
 #CC-purchaseList-create-cancel-control {
    margin-top: 160px;
    margin-right: 0px;
    padding-left: 20px;
  }
  .right-inner-addon {
		position: relative;
	}
  .right-inner-addon input {
		padding-right: 30px;
	}
  .right-inner-addon i {
		position: absolute;
		right: 0px;
		padding: 10px 12px;
		pointer-events: none;
	}
  #search-row {
    margin-bottom: 30px;
    width: 418px;
  }
  
  #CC-purchaseList-cancel {
   margin: 5px 5px 5px 5px;
  }
  #CC-purchaseList-create {
   margin: 5px 5px 5px 5px;
  }
  #purchaseLists-items-info {
    margin-bottom: 12px;
    th {
      font-weight: bold; 
      border: 0;
      background: @lightBlue;
    }
    td {
      border-top: 0;
      border-bottom: 1px solid #eee;
      vertical-align: top;
      background: #FFF !important;
    }
  }
  #purchaseLists-items-info-phone {
    margin-bottom: 12px;
    th {
      font-weight: bold; 
      border: 0;
      background: @lightBlue;
    }
    td {
      border-top: 0;
      border-bottom: 1px solid #eee;
      vertical-align: top;
      background: #FFF !important;
    }
  }
  #row-item{
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 7px;
 }
  
  #variant-details{
    font-size: x-small;
  }
  
  #product-name-edit-list{
    color: black;
  }
  #delete-item-icon{
    margin-left: 48px;
    margin-top: -33px;
  }
  #input-qty {
      width: 55px;
      margin-bottom: 10px;
      height: 30px;
      padding: 5px;
 }
  #delete-item-icon-phone{
    margin-left: 48px;
    margin-top: -33px;
    float: right;
  }
  
  #input-qty-phone {
      width: 45px;
      margin-bottom: 10px;
      height: 30px;
      margin-left: 176px;
 }
}

 #CC-editPurchaseList{

 #CC-editPurchaseListName{
    width: 45%;
 }
 
 #last-modified-date-phone{
    margin-top: -20px;
    margin-bottom: 20px;
 }
 
 #input-qty {
      width: 55px;
      margin-bottom: 10px;
      height: 30px;
      padding: 5px;
 }
 
 #input-qty-phone {
      width: 45px;
      margin-bottom: 10px;
      height: 30px;
      margin-left: 105px;
 }
     
 #search-row {
    margin-bottom: 30px;
    width: 750px;
  }
  
  .right-inner-addon {
		position: relative;
	}
  .right-inner-addon input {
		padding-right: 30px;
	}
  .right-inner-addon i {
		position: absolute;
		right: 0px;
		padding: 10px 12px;
		pointer-events: none;
  }
  
#purchaseListDropDown {
  width: 80%;
}
	
 #CC-editPurchaseList-title{
    margin-top: 18px;
    font-size: x-large; 
 }

#purchaseLists-items-info {
    margin-bottom: 12px;
    th {
      font-weight: bold; 
      border: 0;
      background: @lightBlue;
    }
    td {
      border-top: 0;
      border-bottom: 1px solid #eee;
      vertical-align: top;
      background: #FFF !important;
    }
  }
  
  #purchaseLists-items-info-phone {
    margin-bottom: 12px;
    th {
      font-weight: bold; 
      border: 0;
      background: @lightBlue;
    }
    td {
      border-top: 0;
      border-bottom: 1px solid #eee;
      vertical-align: top;
      background: #FFF !important;
    }
  }
  
  #delete-item-icon{
    margin-left: 48px;
    margin-top: -33px;
  }
  
  #delete-item-icon-phone{
    margin-left: 48px;
    margin-top: -33px;
    float: right;
  }
  
  #CC-editPurchaseList-save {
   margin-top: 5px;
   margin-right: 5px;
   margin-bottom: 5px;
   margin-left: 5px;
  }
  
  #CC-editPurchaseList-cancel {
   margin: 5px 5px 5px 5px;
  }
  
  #CC-editPurchaseList-delete {
   margin: 5px 5px 5px 5px;
  }
  
  #CC-editPurchaseList-create-cancel-delete-control{
    margin-top: 80px;
    margin-right: 0px;
    padding-left: 20px;
  }
  
  #add-to-cart-button{
    margin: 5px;
    margin-top: 80px;
    margin-left: 0px;
  }
  
 #row-item{
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 7px;
 }
  
  #variant-details{
    font-size: x-small;
  }
  
  #product-name-edit-list{
    color: black;
  }
  
}
.cc-purchaseList-modal-heading {
    background-color: white;
    border-bottom: 0px;
    border-radius: 6px 6px 0px 0px;
    padding: 9px 15px 9px 15px;
    margin-bottom: 20px;
  }
  .cc-purchaseList-confirm-icon {
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    background: transparent url(/img/icons-32x32/icon-alert-alt-32x32.png) no-repeat 0 0;
  }
  .cc-purchaseList-body-modal {
    max-height: 400px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  
  .modal-dialog-width {
    max-width: 600px;
  }
  
  #CC-purchaseList-modal-headerText {
    margin-left: 30px;
    margin-top: -15px;
  }
  @media (min-width: 768px) {
    #CC-purchaseList-modal-dialog {
      width: 450px;
    }
  }
  
  .cc-purchaseList-modal-footer {
    text-align: right;
    background-color: white;
    border-top: 0px;
    border-radius: 0px 0px 6px 6px;
  }
