
#cc-notifications {
  #cc-notifications-panel {
    left: 0;
    right: 0;
  }
  .cc-notification-message.container{
      line-height: 20px;
  }
  .alert.cc-notification{
        background-color: @white;
        border: 4px solid;
        text-align: center;
        font-weight: 700;
  }
}
#cc-notifications.fixed-to-top {
  position: fixed;
  top: 0px;
  left:0;
  z-index: 2000;
  width: 100%;
}

body.sticky header#headerBar{
    #cc-notifications.fixed-to-top{
        top: 37px;
        z-index: 9999;
        left: 0;
    }
}