#notifications-notificationsInst {
#cc-notifications {
  #cc-notifications-panel {
    left: 0;
    right: 0;
  }
  .cc-notification-message.container{
      line-height: 20px;
  }
  .alert.cc-notification{
        background-color: @white;
        border: 4px solid;
        text-align: center;
        font-weight: 700;
  }
}
#cc-notifications.fixed-to-top {
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
}
}