    #CC-Suggestive-list{
        
        .CC-heading{
            h1{
                font-weight: 800;
                font-family: 'Unna',serif;
                font-size: 24px;
                text-transform: capitalize;
                border-bottom: 1px solid #b7b6ae;
                padding-bottom: 3px;
                
                @media @iPadP{
                    font-size: 17px;
                }
            }
        }
        #publishButton{
            float: right;
        }
    }
    #CC-purchaseListName{
        width: 100%
    }
    #noFilesSelectedText{
        display: block;
    }
    .upload_notifier{
        text-align: center;
        margin: 0;     
    }
    #quick-order-body{
        margin: 20px 20px 40px 20px;
        padding: 30px;
            
        .modal-header{
            border-bottom: 0;    
        }
        .suggestive_buy_header{
            text-align:center;
            
            h2{
                font-size:21px;
            }
        }
        #quickOrderHeader{
            
        }
            
       .list_title{
            font-size: 15px;
            font-weight: 600;
        }
    	.right-inner-addon {
    		position: relative;
    	}
    	.row{
    		margin-bottom: 20px;
    		
    		.form-group{
    		    
    		}
    		
    		.control{
    		    margin: 10px 0px;
    		    width: 100%;
    		    
    		    span{
    		      text-align: left;
    		    }
    		}
    	}
    	.choose_btn_div{
    	    span{
    	       margin: 5px 0px;
    	    }
    	}
    	.right-inner-addon input {
    		padding-right: 30px;
    	}
    	
    	#display-organization-addresses{
    		padding-left: 30px;
    	}
    	
    	.right-inner-addon i {
    		position: absolute;
    		right: 0px;
    		padding: 10px 12px;
    		pointer-events: none;
    	}
    	
    	.element-at-right{
    	    float: right;
    	}
    	
    	.items-to-left{
    	    padding-left: 0px;
    	}
    	
    	.cc-profile-modal-footer {
            text-align: right;
            background-color: white;
            border-top: 0px;
            border-radius: 0px 0px 6px 6px;
        }
    	
        .cc-quick-order-modal-heading {
            background-color: white;
            border-bottom: 0px;
            border-radius: 6px 6px 0px 0px;
            padding: 9px 15px 9px 15px;
            margin-bottom: 20px;
        }
    	
        .cc-profile-confirm-icon {
            margin-top: 10px;
            margin-left: 10px;
            height: 30px;
            background: transparent url(/img/icons-32x32/icon-alert-alt-32x32.png) no-repeat 0 0;
        }
    	
        .cc-profile-modal {
            max-width: 450px;
            background-color: white;
        }
    	
    	@media (min-width: 768px) {
            #CC-quickOrder-modal-dialog {
                width: 450px;
            }
        }
    	#CC-quickOrder-modal-dialog{
    		width: 30%;
    	}
        .cc-profile-body-modal {
            max-height: 400px;
            padding-bottom: 0px;
            padding-top: 0px;
        }
    
        #CC-quickOrder-modal-headerText {
            margin-left: 20px;
            margin-top: -2px;
        }
        #csvFileInput {
        	width: 0.1px;
        	height: 0.1px;
        	opacity: 0;
        	overflow: hidden;
        	position: absolute;
        	z-index: -1;
        }
        #labelForFileUpload{
            background-color: #dddddd;
        }
        .btn{
            width: 100%;  
        }
    }
    .close_btn_div{
        .close_btn{
            font-size: 0;
            border: 0;
            background: url(/file/general/round-delete-button.svg) no-repeat 0 0;
            background-size: 20px;
            position: absolute;
            width: 20px;
            height: 20px;
            top: 35px;
            
            @media @iPadL{
                left: 545px;
            }
            @media @iPadP{
                left: 545px;    
            }
        }
    }
    .list_upload_info{
        text-align: center;
        font-weight: 600;
        .sku_info{
            display: inline-block;
            margin: 10px;
        }
        .sku_invalid_span{
            color: #a94442;
        }
    }
    h2{
        font-size: 23px;
    }
    #publishModal{
        textarea{
            width: 100%;
        }
        .publish-modal-close{
            right: 20px;
            top: 17px;
            display: block;
            position: absolute;
        }
        .publish-modal-close-btn-img{
            max-width: 100%;
            width: 20px;
        }
    }
