/* -------------------------------------------------- */
/*	Order Details
/* -------------------------------------------------- */	
#CC-orderDetails {
    #CC-orderDetails-account-title{
        margin: 10px;
    }
    .order-details-info{
        margin: 20px;    
    }
    .row{
        #CC-myaccount-header{
            h2{
                font-weight: 800;
                margin: 0;
                color: #000;
                font-family: 'Unna',serif;
                font-size: 24px;
                line-height: 30px;
                text-transform: capitalize;
                width: auto;
                padding-bottom: 3px;
            }   
        }
    }
    .cc-profile-legend-title {
        font-weight: 800;
        margin: 20px;
        color: #000;
        font-family: 'Unna',serif;
        font-size: 20px;
        line-height: 30px;
        text-transform: capitalize;
        border-bottom: 1px solid #000;
    }
    #CC-orderDetails-table{
        border: 1px solid;  
    }
  .alignChild {
    left: -14px;
    position: relative;
  }
  #CC-backToMyOrders-link {
  }
  #CC-copyItemsToCart {
    margin: 10px;
  }
  #CC-copyOrder {
  }
   #CC-mergeOrder {
  }
  #CC-backToMyOrders {
   @media (min-width: @screen-sm){
     top: 14px;
     font-size: 12px;
     text-align: right;
   }
   @media (max-width: 767px){
     padding-right: 15px;
     padding-left: 15px;
     text-align: center;
   }
  }
  
  #return-icon{
    transform :scaleX(-1);
  }

  .image img {
    width: 100%;
  }
  .product-name a {
    color: #3d3d3d;
    font-weight: bold; 
  }
  .titleText {
    color: #3d3d3d;
    font-weight: bold;
  }

  
  #return-items-button{
    margin : 5px;
	  width: auto;
  }
  
    #CC-orderDetailsTable{
        border-bottom:1px solid;
        margin: 0;
    }
  #CC-orderDetailsTable th {
    font-weight: bold;
    border: 0;
    white-space: nowrap;
  }
  #CC-orderDetailsTable td {
    border-bottom: 0;
    border-top: 1px solid;
    vertical-align: top;
  }

 #CC-orderDetailsTable > tbody small {
    color: @gray;
    font-size: @fontSizeMini;
    line-height: @smallLineHeight;
  }

  #CC-orderDetailsTable .centeredText {
    text-align: center;
  }
  #CC-orderDetailsHeaderTable td:first-child {
    padding-right: 20px;
  }
  #CC-orderDetailsHeaderTable td:last-child {
    padding-left: 20px;
  }
  #CC-orderDetails-priceDetails-table td:first-child {
    text-align: right;
    padding-right: 50px;
  }
  #CC-orderDetails-priceDetails-table td:last-child {
    padding-right: 20px;
  }
  #CC-orderDetails-productVariant small span {
    padding: 0px;
    paddingcolor: #999999;
    font-size: 10.5px;
    line-height: 14px;
  }
  #CC-orderDetails table td {
    vertical-align: top;
  }
  .removePadding {
   padding-left: 0px;
  }
  #CC-orderDetails-itemTotal {
    padding-right: 25px;
  }
  #CC-orderDetails-shippingAddressAndMethodText {
    font-size: 17px;
    font-weight: 600;
  }
  
  .CC-orderDetails-itemShippingSurcharge {
    font-weight: 600;
    font-size: 11px;
  }
  
  #CC-orderDetails-ShipAdressText,
  #CC-orderDetails-ShipAdressText-xs,
  #CC-orderDetails-ShipMethodText {
    padding-right: 10px;
  }
  #CC-orderDetails-shipping-priceInfo {
    padding-top: 20px;
  }
  @media (min-width: @screen-sm){
    .solidFrame {
    }
  }
  .section-orderDetails {
    line-height: 30px;
  }
  .discount {
    padding-left: 10px;
    padding-top: 5px;
  }
  #CC-orderDetails-priceDetails-mobile {
    border-top: 1px solid #ABA8A8;
    border-bottom: 1px solid #ABA8A8;
    background: #e7e7e7;
    margin: 0px;
  }
  .shipping-address-table {
    vertical-align: top;
  }
  #CC-orderDetails-orderTotal {
    padding-top: 15px;
  }
  #CC-orderDetails-ShipAdressText {
    vertical-align: top;
  }
  .breakWord {
    word-wrap: break-word;
  }
  @media (max-width: @screen-sm-max){
    #CC-orderDetails-ShippingAdress-Column {
      padding-left: 65px;
	   }
  }
  #CC-orderDetails-tracking-label {
    padding-left: 9px; 
    width: 33%; 
    padding-right: 0px;
  }
  #CC-orderDetails-tracking-references {
    margin-left: -10;
  }
  #CC-orderDetails-tracking-data {
    padding-left: 6px;
  }
  #CC-orderDetails-tracking-data-table {
    width: 92%;
  }
  #CC-orderDetails-trackingNumberText {
    width: 37%;
    padding-left: 0px;
    padding-right: 0px;
  }
  #CC-orderDetails-trackingNumberData {
    padding-left: 0px; 
    word-wrap:break-word;
  }
  .word-wrap-rmPadding-right {
    padding-right: 0px; 
    word-wrap:break-word;
  }
  #CC-orderDetails-completePayment {
    margin-top: 8px;
    float : right;
    }
  #CC-OrderDetails-approverComments-Text{
    white-space: nowrap;
  }
  
  #CC-orderDetails-approverComments{
    display: block;
    width: 68em;
    word-wrap: break-word;
  }
  #CC-order-deatils-completePayment-button{
    
  }

  #CC-order-details-cancelOrder-button{
    margin : 5px;
  }
  
#CC-orderDetails-modal-headerText {
   margin-left: 20px;
   margin-top: -2px;
}
.cc-orderDetails-modal-footer {
    text-align: right;
    background-color: white;
    border-top: 0px;
    border-radius: 0px 0px 6px 6px;
  }
  .cc-orderDetails-modal-heading {
    background-color: white;
    border-bottom: 0px;
    border-radius: 6px 6px 0px 0px;
    padding: 9px 15px 9px 15px;
    margin-bottom: 20px;
  }
.cc-orderDetails-modal {
    max-width: 450px;
    background-color: white;
  }
.cc-orderDetails-body-modal {
    max-height: 400px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  
}

#CC-orderDetailsContextChangeMsg {
	display: none;

  .jumbotron p {
    font-size: 1rem;
  }

#CC-contextChange-error {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;

    @media (max-width: 767px) {
      .pull-left {
        margin-top: 5px;
        float: none;
      }
      .pull-right {
        margin-top: 5px;
        float: none;
      }
    }

    @media (min-width: 320px) and (max-width: 480px) {
      .pull-left {
        margin-top: 5px;
        float: none;
      }
      .pull-right {
        margin-top: 5px;
        float: none;
      }
    }
  }

}



#CC-cancel-order-modal{
  #CC-cancelOrderModel{
  width:50%;
  }
  #CC-cancel-order-continue-button{
    margin : 5px;
  }
  #CC-cancel-order-cancel-button{
    margin : 5px;
  }
  #CC-cancel-order-reason {
    float: right;
    margin-left: 10px;
    width :50%;
  }
  #CC-cancelText{
    margin-bottom: 15px;
    font-weight:bold;
  }
  
  #CC-cancelOrderModel-heading{
    margin-left :15px;
  }

}