
.home_about_container {
    background: @Globalcolor;
    margin: 55px auto 44px;
    padding: 0px 50px;
    position: relative;
    @media @iPadP {
        margin: 50px auto 44px;
    }
    
    .home_abt_title {
        &:before {
            content: "A";
            font-size: @fs110;
            color: #e2e1da;
            font-family: @SiteSecondaryFontFamily;
            position: relative;
            left: 15px;
            top: 106px;
            @media @iPadP{
                font-size: @fs100;
                top: 41px;
            }
        }

        h2 {
            padding: 48px 0 0 45px;
            margin: 0;
            text-decoration: none;
            font-size: @fs50;
            text-align: left;
            font-family: @SiteSecondaryFontFamily;
            font-weight: normal;
            color: @black;
            @media @iPadP{
                font-size: @fs32;
                padding: 29px 0 0 50px;
            }
            span{
                display: block;
                font-size: 50px;
                top: 15px;
                left: 3px;
                position: relative;
                letter-spacing: .015em;
                line-height: 44px;
                font-family: 'Unna',serif;
            }
        }
    }

    .home_about_content {
        width: 100%;
        margin: 38px 0 0 0;

        .home_about_l {
            float: left;
            width: 47%;
            @media @iPadP,
            @tablet
            {
                float: none;
                width: 100%;
            }
                .home_abt_img {
                background: @SiteBackgroundColor;
                padding: 40px 80px 40px 0;
                position: relative;
                
                @media @iPad{
                    padding: 20px 40px 20px 0;
                }
                @media @tablet,
                @phone{
                    background:transparent;
                        padding: 10px 45px 10px 0;
                }
                img {
                    max-width: 100%;
                }

                span {
                    transform: rotate(-90deg);
                    position: absolute;
                    top: 74px;
                    font-size: @fs20;
                    font-family: @SiteSecondaryFontFamily;
                    right: 13px;
                    
                    @media @iPad{
                        top: 54px;
                        right: -20px;
                    }
                     @media @tablet,
                      @phone{
                        top: 42%;
                        right: -2%;
                        font-size: @fs16;
                    }
                }
            }

            .home_abt_cnt {
                p {
                    font-size: @fs12;
                    color: @darkgrey;
                    font-family: @SiteFontFamily;
                    margin: 20px 0;
                    line-height: 18px;
                    min-height: 100px;
                    letter-spacing: 1px;
                    font-weight: 300;
                }

                a {
                    font-size: @fs13;
                    color: @readmore;
                    text-decoration: none;
                    font-family: @SiteFontFamily;
                    padding: 0 20px 0 0;
                    background: url(/file/general/orange-arrow.svg) right 3px no-repeat;
                    background-size: 15px 15px;
                    float: right;
                    margin-bottom: 20px;
                    font-weight: 300;
                }
                a.fab_school{
                    background: none;
                    color: @darkgrey;
                    font-size: @fs12;
                    float: none;
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                }
            }
        }
        .home_about_r{
            float:right;
            .home_abt_img{
                 span{
                    top: 96px;
                    right: -3px;
                    
                    @media @iPad{
                        top: 74px;
                        right: -40px;
                    }
                    @media @tablet,
                      @phone{
                        top: 40%;
                        right: -9%;
                        font-size: @fs16;
                      }
                 }
            }
        }
    }
}
