#Fabindia404Widget_v0-wi1300063 {
/* ---------------------------------------------------------------------- */
/*	404 Area
/* ---------------------------------------------------------------------- */

#CC-404-widget {
    text-align: center;
    margin-top: 6em;
    
    @media @tablet {
      margin-top: 4em;
    }
    
      #homelinkdiv {
         margin: 3%;
         
         #CC-404-lnkHome {
                background-color: #e5cc76;
                border: 0;
                border-radius: 1px;
                font-family: muli;
                padding: 11px;
                width: 173px;
                color: #000000;
                margin-top: 17px;
                font-size: 14px;
                font-weight: 800;
         }
     }
    h1{
       font-family: Unna;
        color: #000;
        font-size: 24px;
        font-weight: 700;
        
            @media @tablet{
                font-size: 20px;
            }
        }
    p{
       font-family: Muli;
       color: #000;
       font-size: 16px;
       font-weight: 300;
       text-align: center;
       margin-top:-7px;
       
        @media @tablet{
            font-size: 14px;
            margin-top:0px;
        }
      }
      
  .jumbotron p {
    font-size: 1rem;
  }

  #CC-404-error404, #CC-404-title {
    font-size:17.5px;
    font-weight:200;
  }

  #CC-404-site404 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;

    @media (max-width: 767px) {
      .pull-left {
        margin-top: 5px;
        float: none;
      }
      .pull-right {
        margin-top: 5px;
        float: none;
      }
    }

    @media (min-width: 320px) and (max-width: 480px) {
      .pull-left {
        margin-top: 5px;
        float: none;
      }
      .pull-right {
        margin-top: 5px;
        float: none;
      }
    }

    #CC-404-lnkBack {
      .btn-lg;
      border-radius: @ButtonSecondaryBorderRadius;
      #CC-404-spanBack {
        color: @ButtonSecondaryTextColor;
      }
    }

    #CC-404-lnkHome {
      .btn-lg;
      border-radius: @ButtonSecondaryBorderRadius;
      #CC-404-spanHome {
        color: @ButtonSecondaryTextColor;
      }
    }
  }

    #category-title-mobile{
            position: relative;
            max-width: 327px;
            margin: 0 auto; 
        
         @media @tablet {
            margin-top: 25px;
         }
            
        span {
                display: inline-block;
                width: 27%;
                border: 1px solid #aeb0b0;
                position: absolute;
                top: 45px;
        }
        span:first-child{
            left:0;
        }
        span:last-child{
            right:0;
        }
    }
    

  
  #CC-noSearchResults-categories {
      @media @desktop {
          margin: 59px;
      }
      @media @tablet {
         margin-top: 26px;
      }
      
    h3 {
        font-family: @SiteSecondaryFontFamily;
        font-size: 20px;
        color: @black;
        padding-bottom:6px;
        width:78%;
        border-bottom: 1px solid #aeb0b0;
        margin: 0 auto 42px;
        
        @media @iPadP { width: 82%;border-bottom:none;}
        @media @tablet {
                width:100%;
                border:none;
                padding-bottom: 17px;
                margin: 0 auto 0;
            }
        }
        
        
        .category-container {
            > div {
                background: @Globalcolor;
                margin-bottom: 20px;
                width: 22%;
                @media @iPadP {width: 46%;}
                
                @media @desktop {
                    margin-right: 4%;
                    &:last-child { margin-right: 0; }
                }
                @media @tablet{
                    width: 47%;
                    margin-right: 5%;
                    &:nth-child(2n) { margin-right: 0; }
                }
            }
            
            .imgContainer {
                width: 100%;
            }
            
            img { width: 100%;}
            
            span {
                font-size: 14px;
                display: block;
                font-family: muli;
                padding: 12px 0;
                font-weight: 300;
                color: #000;
                text-align: center;
                
                @media @tablet {
                    padding: 10px 0;
                    font-size: @fs16;
                }
            }
            
            a {
                display: block;
                width: 100%;
            }
            
            a:hover {
                color: @black;
                text-decoration: none;
            }
        }
    }
}
}