	
    #CC-orderApproval {
        #CC-orderApproval-comments{
            width: 100%;
            margin-top: 12px;
            resize: none;
        }
        #CC-order-approval-buttonPanel{
            width: 35%;
            float: right;
            margin: 10px;
        }
        #CC-orderApproval-buttonReject{
            margin-right: 20px;
            width: 45%;
            border: 0;
        }
        #CC-orderApproval-buttonApprove{
            background-color: #e5cc76;
            width: 45%;
            border: 0;
            color: #000;
        }
    }
