
    
#CC-editPurchaseList{
    margin: 30px 30px;
    background: #f9f8f1;
    
    .button-selection{
        height: 38px;
        border-radius: 3px;
        text-decoration: none;
        line-height: 34px;
        text-align: center;
        width: 20%;
        font-size: 12px;
        font-weight: 800;
        border: 0 none;
        font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
        background-color: #e5cc76;
    }
    .pl-list-heading{
        margin-top: 15px;
        border-bottom: 1px solid;
        
        .selection-btn{
          float: right;
          width: 20%;
          .button-selection{
             width: 80%; 
          }
          @media @iPadP{
            width: 25%;  
          }
        }
        .redirection_link{
          float: right;
          width: 15%;
          margin-top: 8px;
          @media @iPadP{
            width: 20%;  
          }
        }
        .pl-list{
            font-size: 15px;
            font-weight: 600;
            padding: 5px;
        }
        #last-modified-date-edit-section{
            
        }
        
    }
    
    .row{
        
        .list-name{
            
            #CC-purchaseListName{
                text-transform: capitalize;
                font-size: 15px;
            }
        }
        #last-modified-date-edit-section-display{
            
        }
    }
    
    #CC-purchaseLists-items{
        
        #purchaseLists-items-info{
            
            .row{
                margin: 10px 10px;
                
                .pl_table{
                    
                    thead{
                        font-size: 16px;
                    }
                    
                     #product-details{
                            margin: 20px auto;
                            
                            a{
                                display: block;
                                color: black;
                                text-transform: capitalize;
                                font-size: 14px;
                                font-weight: 700;
                                cursor: pointer;
                            }
                            
                            span{
                                font-size: 13px;
                            }
                            
                            #variant-details{
                                    border: 1px inset #e2e1da;
                                    display: inline-block;
                                    padding: 5px;
                                    margin: 10px 10px 0 0;
                            
                            .variant-quantity-details{
                                margin-top: 10px;
                            }
                            .option_label{
                                margin: 5px;
                                font-weight: 600;   
                            }   
                            }
                        }
                        
                    td{
                        padding: 15px 15px;
                        border-bottom: 1px solid;
                        
                        .pl_list_name{
                            text-transform: capitalize;
                            font-size: 13px;
                            font-weight: 700;
                        }
                        button{
                            width: 100%;
                        }
                        
                        
                    }   
                }
                
            }
        }
    }

 #CC-editPurchaseListName{
    width: 45%;
 }
 
 #last-modified-date-phone{
    margin-top: -20px;
    margin-bottom: 20px;
 }
 
 #input-qty {
    width: 80px;
    margin-bottom: 10px;
    display: inline-block;
    height: 20px;
 }
 
 #input-qty-phone {
    margin-bottom: 10px;
    display: inline-block;
    height: 20px;
    margin-left: 105px;
 }
     
 #search-row {
    margin-bottom: 30px;
    width: 750px;
 }
  
  .right-inner-addon {
		position: relative;
    }
  .right-inner-addon input {
		padding-right: 30px;
	}
  .right-inner-addon i {
		position: absolute;
		right: 0px;
		padding: 10px 12px;
		pointer-events: none;
  }
  
#purchaseListDropDown {
  width: 80%;
}
	
 #CC-editPurchaseList-title{
    margin-top: 18px;
    font-size: x-large; 
 }
  
  #delete-item-icon{
    margin-left: 48px;
    margin-top: -33px;
  }
  
  #delete-item-icon-phone{
    margin-left: 48px;
    margin-top: -33px;
    float: right;
  }
  
  #CC-editPurchaseList-save {
   margin-top: 5px;
   margin-right: 5px;
   margin-bottom: 5px;
   margin-left: 5px;
  }
  
  #CC-editPurchaseList-cancel {
   margin: 5px 25px 25px 5px;
  }
  
  #CC-editPurchaseList-delete {
   margin: 5px 5px 5px 5px;
  }
 
  #product-name-edit-list{
    color: black;
  }
}

.cc-purchaseList-modal-heading {
    background-color: white;
    border-bottom: 0px;
    border-radius: 6px 6px 0px 0px;
    padding: 9px 15px 9px 15px;
    margin-bottom: 20px;
  }
.cc-purchaseList-confirm-icon {
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    background: transparent url(/img/icons-32x32/icon-alert-alt-32x32.png) no-repeat 0 0;
  }
.cc-purchaseList-body-modal {
    max-height: 400px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
.modal-dialog-width {
    max-width: 600px;
  }
#CC-purchaseList-modal-headerText {
    margin-left: 30px;
    margin-top: -15px;
  }
@media (min-width: 768px) {
    #CC-purchaseList-modal-dialog {
      width: 450px;
    }
  }
.cc-purchaseList-modal-footer {
    text-align: right;
    background-color: white;
    border-top: 0px;
    border-radius: 0px 0px 6px 6px;
  }
