

    .collection-category {
        margin-top: 25px;
        margin-bottom: 25px;

        .category-description {
            margin: auto;
            display: block;
            background: transparent;
            overflow: hidden;
            border: 0;
            width: 70%;
            text-align: center;
            font-family: 'Muli', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 300;
            font-size: 15px;

            @media @iPadP {
                width: 90%;
            }
        }

        h2 {
            margin-left: 34px;
        }

        .banner-img {
            width: 75%;
            display: block;
            margin: 0 auto;

            @media @iPadP {
                width: 100%;
                margin-top: 40px;
            }

            @media @iPadL {
                width: 85%;
            }
        }

        .btn_disc {
            margin: 25px 100px 20px;
            float: right;
            font-size: 30px;
            color: #000;
            letter-spacing: .5px;
            margin-right: 100px;
            font-family: 'Unna', serif;
            cursor: pointer;

            a {
                text-decoration: none;
                color: #000;
                padding-right: 38px;
                background: url(file/general/right-arrow.svg) left center no-repeat;
                background-size: 39px 24px;
                background-position: right 8px;
            }
        }
    }

    .alternate-background {
        background: #f9f8f1;
    }
