body.active{
    transform: translateX(80%);
    transition: transform 0.5s ease 0s;
    position: fixed;
}
body.sticky {
    header#headerBar{
        .mega-menu{
            -webkit-box-shadow: 0px 2px 2px #e2e1da;
            -moz-box-shadow: 0px 2px 2px #e2e1da;
            box-shadow: 0px 2px 2px #e2e1da;
            border-radius: 0;
        }
    }
}
#mobile-menu{
    display:none;
}
#mobile-menu.active{
    display:block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    box-shadow: inset -2px 1px 0 #e2e1da;
    transition: transform 0.5s ease 0s;
    background: @lightgrey;
    position: fixed;
    z-index: 99;
    left: 0;
    right: 20%;
    top: 0;
    bottom: 0;
    padding-bottom: 80px;
    height: 100vh !important;
    
}
.overlay.show {
    @media @iPadP,
    @tablet{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background: rgba(255,255,255,0.8);
    z-index: 99;
    }
}
#FabindiaMegaMenu_v0-wi1700070 {
    #CC-megaMenu{
        @media @iPadP{
        .mega-menu{
            min-height:0;
             .dropdown.mega-menu-fullwidth .dropdown-menu{
                   background: transparent !important;
                   li{
                       a{
                           margin: 0;
                           padding: 15px 0px;
                       }
                   }
        }
        .nav{
            > li{
                padding: 0 !important;
                a{
                    margin: 0;
                    padding: 15px 0px;
                }
            }
        }
        }
        li a:before {
            font-size: 15px;
            font-weight: normal;
            content: "\002b";
            position: absolute;
            right: 68px;
            margin-top: 0; 
        }
    li.open a:before {
        content: "\002d";
    }
    li.open{
        ul{
            
                li{
                    a:before{
                        content: "\002b";
                    }
                    ul{
                       li.Level3 a:before{
                           content: '';
                       } 
                    }
                }
                li.open{
                    a:before{
                        content: "\002d";
                    }
                    ul{
                       li.Level3.open a:before{
                           content: '';
                       } 
                    }
                }
            
        }
    }
    
    .cc-welcome{
        font-size: 13px;
        text-align: center;
        /*margin: 5% 0 3% 0;*/
        margin: 14px 0 9px 0;
        border-bottom: 1px solid @bordercolor3;
        padding-bottom: 10px;
        color:@black;
        
        a#CC-loginHeader-login {
            font-size:@fs14;
            padding: 0 0 0 23px;
            background: url(/file/general/user.svg) no-repeat 0 50%;
            background-size: contain;
            display: inline-block;
        }
        a#CC-loginHeader-registration {
            font-size:@fs14;
            margin-left: 23px;
            background: url(/file/general/sign_up.svg) no-repeat 32% 50%;
            background-size: contain;
            display: inline-block;
            
            &:before{
                content: '';
                margin-right: 50px;
                border-right: 1px solid @black;
            }
        }
        a#CC-loginHeader-myAccount, a#CC-loginHeader-logout{
            color: @black;
        }
    }
    li.sale-mega-menu{
        a{
            color: #7b262c;
        }
        .sale-flyout.dropdown-menu{
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            box-shadow: none;
            a.style4{
                margin: 10px 15px 10px 40px;
               padding: 10px 20px;
            }
        }
        &:before{
            color:#7b262c;
        }
    }
    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus{
        background-color:transparent !important;
        color: @black;
        
    }
    .dropdown-menu{
        padding:0;
    }
    .navbar{
        min-height: 20px;
        margin-bottom: 0;
    }
    .navbar-nav {
            .open .dropdown-menu {
                li{
                    a{
                        margin: 5px 29px;
                        padding: 10px 20px;
                        border-bottom: 1px solid #b7b6ae;   
                        font-size:@fs12;
                        text-align:left;
                    }
                    a.Level3{
                        margin: 0px;
                        font-size:@fs12;
                        padding: 15px 0px;
                    }
       
                }
    
            }
            li.level3-parent {
                line-height: 0;
                
                &:before{
                 margin-top: 6%;
                }
            }
             li > a{
            line-height: 20px;
            border-bottom: 1px solid @bordercolor3;
            margin: 10px 15px;
            font-size:@fs12;
        }
    }
    .nav >li{
        padding: 0 15px;
        a:hover,
        a:focus{
            background-color:transparent;
            color:@black;
            font-weight:normal;
        }
        
    }
    .dropdown-submenu-fab {
        position: relative;
    }
    
    .dropdown-submenu-fab .dropdown-menu-fab {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }
    .content-right{
        @media @phone{
           margin-top: 2%;    
        }
    }
    button.btn-navbar.btn-inverse
    {
            background: transparent;
            border: 0 none;
            z-index: 999;
    
            span.icon-bar {
            width: 21px;
            height: 3px;
            background-color: black;
            margin: 4px 0;
            display: block;
        }
        &:focus{
            outline-color: transparent;
        }
    }
    
    .fabFamily_align{
            display: block;
            border-bottom: 1px solid #b7b6ae;
            padding-bottom: 10px;
            margin-bottom: 12px;
            font-weight: 800;
            color: @black;
        }
    }
        @media @tablet{
        .mega-menu{
            min-height:0;
             .dropdown.mega-menu-fullwidth .dropdown-menu{
                   background: transparent !important;
                   li{
                       a{
                           margin: 0;
                           padding: 15px 0px;
                       }
                   }
        }
        }
        li a:before {
            font-size: 15px;
            font-weight: normal;
            content: "\002b";
            position: absolute;
            right: 68px;
            margin-top: 0; 
        }
    li.open a:before {
        content: "\002d";
    }
    li.open{
        ul{
            
                li{
                    a:before{
                        content: "\002b";
                    }
                    ul{
                       li.Level3 a:before{
                           content: '';
                       } 
                    }
                }
                li.open{
                    a:before{
                        content: "\002d";
                    }
                    ul{
                       li.Level3.open a:before{
                           content: '';
                       } 
                    }
                }
            
        }
    }
    
    
    
   
    .cc-welcome{
        font-size: 13px;
        text-align: center;
        margin: 5% 0 0% 0;
        border-bottom: 1px solid @bordercolor3;
        padding-bottom: 10px;
        color:@black;
         .fabFamily_align{
            display: block;
            border-bottom: 1px solid #b7b6ae;
            padding-bottom: 10px;
            margin-bottom: 12px;
            font-weight: 800;
            color: @black;
        }
        
        a#CC-loginHeader-login {
            font-size:@fs14;
            padding: 0 0 0 25px;
            background: url(/file/general/user.svg) no-repeat 0 50%;
            background-size: contain;
            display: inline-block;
        }
        a#CC-loginHeader-registration {
            font-size:@fs14;
            margin-left: 23px;
            background: url(/file/general/sign_up.svg) no-repeat 32% 50%;
            background-size: contain;
            display: inline-block;
            
            &:before{
                content: '';
                margin-right: 55px;
                border-right: 1px solid @black;
            }
        }
        a#CC-loginHeader-myAccount, a#CC-loginHeader-logout{
            color: @black;
        }
    }
    
    li.sale-mega-menu{
        a{
            color: #7b262c;
        }
        .sale-flyout.dropdown-menu{
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            box-shadow: none;
            a.style4{
                margin: 10px 15px 10px 40px;
               padding: 10px 0px;
            }
        }
        &:before{
            color:#7b262c;
        }
    }
    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus{
        background-color:transparent !important;
        color: @black;
        
    }
    .dropdown-menu{
        padding:0;
    }
    .navbar{
        min-height: 20px;
        margin-bottom: 0;
    }
    .navbar-nav {
            .open .dropdown-menu {
                li{
                    a{
                        margin: 5px 29px;
                        padding: 10px 20px;
                        border-bottom: 1px solid #b7b6ae;   
                        font-size:@fs12;
                        text-align:left;
                    }
                    a.Level3{
                        margin: 0px;
                        font-size:@fs12;
                        padding: 15px 0px;
                    }
       
                }
    
            }
            li.level3-parent {
                line-height: 0;
                
                &:before{
                 margin-top: 6%;
                }
            }
             li > a{
            line-height: 20px;
            border-bottom: 1px solid @bordercolor3;
            margin: 10px 15px;
            font-size:@fs12;
        }
    }
    .nav >li{
        padding: 0 15px;
        a:hover,
        a:focus{
            background-color:transparent;
            color:@black;
            font-weight:normal;
            
        }
        
    }
    .dropdown-submenu-fab {
        position: relative;
    }
    
    .dropdown-submenu-fab .dropdown-menu-fab {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }
    .content-right{
        @media @phone{
           margin-top: 2%;    
        }
    }
    button.btn-navbar.btn-inverse
    {
            background: transparent;
            border: 0 none;
            z-index: 999;
    
            span.icon-bar {
            width: 16px;
            height: 2px;
            background-color: black;
            margin: 4px 0;
            display: block;
        }
        &:focus{
            outline-color: transparent;
        }
    }
    }
    
    #justIn_mobile_menu{ 
        ul {
            li.open {
                a.lastLevel:before {
                    content: "";
                }
            }
        }
        
    }
    
    #collection_mobile_submenu{ 
        li {
            a.lastLevel:before {
                content: "";
            }
        }
    }
}
b.fa.fa-plus {
   /* width: 15%;
    font-size: 9px;
    font-weight: normal;
    color: #333;
    float: right;*/
}
a.arrow-dropdown:before {
    border: solid;
    border-width: 0 0.5px 0.5px 0;
    display: inline-block;
    padding: 2px;
    content: '';
    float: right;
    margin: 6px 5px 0 6px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#CC-megaMenu {
    @media @iPhone
    {
        padding:0;
    }

.fa.fa-angle-down{
    padding:0 2px;
}
.left-content{
    width: 66%;
    float: left;
    margin: 0 0 0 40px;
    
     @media @iPadL { width: 65%;}
}
.right-content{
    width:30%;
    float:left;
    margin-top:13px;
    
    @media @iPadL{
     margin-top: 5px;
    }
    
    img{
        max-width:280px;
        width:100%;
    }
}
  .navbar {
    margin:0;
    background: transparent;
    border: 0 none;
    @media @tablet{
      min-height: 0;  
    }
  }
    @media @iPadP{
    .navbar { 
        min-height: 0;
        position: relative;
        .navbar-header{
            position: absolute;
            top: -75px;
            left: 10px;
            z-index: 99;
        }
    }
    div.mega-menu { min-height: 0;}
    }
.cc-welcome{
    @media  @phone{
    font-size: 13px;
    text-align: center;
    margin: 5% 0 3% 0;
    margin: 14px 0 9px 0;
    border-bottom: 1px solid #b7b6ae;
    padding-bottom: 10px;
    color: @black;  
    }
    @media @iPadP{
        font-size: 13px;
        text-align: center;
        margin: 3% 0 0 0;
        border-bottom: 1px solid #b7b6ae;
        padding-bottom: 10px;
        color: @black;  

    }

}
  .mega-menu { 
    background:#f4f2e5;
    min-height: 42px;
    // margin-bottom: 10px;
    -webkit-box-shadow: 0 2px 2px #e2e1da;
    -moz-box-shadow: 0 2px 2px #e2e1da;
    box-shadow: 0 2px 2px #e2e1da;
    border-radius: 0;
    @media @iPadP{
        padding: 0 16px;
        margin-bottom: 0px;
    }
    @media @tablet{
        min-height:0;
        margin-bottom: 0px;
    }

    .nav{
    float: none;
    display: inline-block;
    max-width: 100%;
    margin: 0 auto;
    position: static;

    }

    .dropup,
    .dropdown {
      position: static;
    }

    .navbar-collapse,
    .container {
      position: relative;
    }

    .navbar-collapse {
      border:0;
      -webkit-box-shadow:none;
      -moz-box-shadow:none;
      box-shadow:none;
      overflow-x: hidden;
      background: @NavbarBackgroundColor;
      @media (min-width: 768px){
          height: 42px !important;
      }
    }

    .mega-menu-fullwidth-collapse {
      padding-left: 0;
      padding-right: 0;
      background: transparent;
      text-align: left;
      margin: 0 auto;
      width: 94%;
      text-align:center;
    }

    .dropdown-menu {
      left: auto;
      z-index: 1;
      top:40px !important;
      border:0 none;
      background:@Globalcolor;
    }
    .sale-flyout{
        display: none;
    }
    .sale-mega-menu:hover {
        position: static;
        .sale-flyout{
            display: block;
            width: 100%;
            left: 0; 
        }
    }
    .category-submenu-wrapper{
        padding: 22px 93px 5px;
    }
    .style4{
        span {    
            text-align: center;
            border: 1px solid #ccc;
            width: 100%;
            padding: 13px 0;
            display: block;
            margin: 3px auto 15px;
            color:@lightblack;
            font-weight:bold;
            max-width: 96%;  
            font-size: @fs12;
            line-height: 14px;
        }
        img{
            max-width: 96%;
            width:100%;
        }
    }

    .dropdown-menu > li {
      display: block;
      @media @iPadP{
          margin-left: 16px;
      }
      @media @tablet{
          margin-left: 16px;
      }
    }

    .nav.pull-right .dropdown-menu {
      right: 0;
    }

    .mega-menu-content {
      padding: 20px 30px;
      *zoom: 1;
    }

    .mega-menu-content:before,
    .mega-menu-content:after {
      display: table;
      content: "";
      line-height: 0;
    }

    .mega-menu-content:after {
      clear: both;
    }

    .nav > li > a {
      float: none;
      padding: 10px 15px 10px 15px;
      text-decoration: none;
      cursor:pointer;
      font-weight: 300;
      text-transform: capitalize;
      text-shadow: none;
      font-family: @SiteFontFamily;
      font-size:@fs13;
      text-align:left;
      @media @iPadL{
          padding: 10px 8px 10px 8px;
      }
      
    }

    .nav > li > a:focus
    {
      background-color: transparent;
      border-bottom: 0 none; 

      @media @tablet{
        border-bottom: 1px solid @bordercolor3;
      }

    }
    .nav > li > a:hover{
        background-color:transparent;
        color: @black;
    }

    .nav > li > a:hover:after,
    .nav > li > a:active:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin-left: 0;
    width: 100%;
    border-bottom: 3px solid #7b262c;
    background-color: transparent;
    
    @media @iPadP,
    @phone{
        display:none
    }
}
    
    #sale_mobile:before, #mobileMenCustomKurta:before{
        content: "";
    }

    li.cc-desktop-dropdown:hover > ul.dropdown-menu {
      display: block;    
      top: auto;
    }

    .nav li.dropdown.open > .dropdown-toggle {

      background: transparent ;
      color: @black;
      text-align:left;
      font-weight: 600;
    }

    .nav li.dropdown > .dropdown-toggle .caret {
      border-top-color: @NavbarLinkColor;
      border-bottom-color:@NavbarLinkColor;
    }

    .nav li.dropdown.open > .dropdown-toggle .caret {
      border-top-color: @NavbarLinkHoverColor;
      border-bottom-color: @NavbarLinkHoverColor;
      color: @white;
    }

    .nav li.dropdown > a:hover .caret, 
    .nav li.dropdown > a:focus .caret {
      border-top-color: @NavbarLinkHoverColor;
      border-bottom-color: @NavbarLinkHoverColor;
    }

    .nav > li > .dropdown-menu:after,
    .nav > li > .dropdown-menu:before {
      display: none;
    }

    .dropdown.mega-menu-fullwidth .dropdown-menu {

      background:@Globalcolor;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      margin: 0 auto;
      min-height:350px;
      padding:22px 0 20px 10px;
      left: 0;
      right: 0;
      border-top: 0 none;
      z-index: 99;
      
      @media @iPadL{
          min-height:300px;
      }

      a {
        color:@SubNavigationLinkColor;
        font-size:@fs12;
        font-family: @SiteFontFamily;
        line-height: 18px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      a:hover {
        color:#8f2c34;
        text-decoration: none;
        @media @iPadP{
            font-weight: 600;
        }
        @media @tablet{
            font-weight: 600;
        }
      }

      .category-header {
        font-weight: 700;
        display: block; 
        height: 100%; 
        text-transform: none;
        white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 18px;
        color: @magentacolor;
        font-family: @SiteFontFamily;
        text-align: left;
        cursor: pointer;
      }

      .child-category-container {
        margin-top:5px;
        ul {
           margin-left:0px;
           padding-left: 0px;
           li {
             padding-top:0px;
             color: @NavbarLinkHoverColor;
             padding-left: 0px;             
             white-space: normal;
             overflow: hidden;
             text-overflow: ellipsis;
             text-align:left;
             line-height: 10px;
                 &:first-child{
                     padding-top: 5px;
                 }
           }


           ul {
             margin-left: 0px;

             li {
               padding-top:5px;
               color: @NavbarLinkHoverColor;
               padding-left: 0px;               
               white-space: normal;
               overflow: hidden;
               text-overflow: ellipsis;
             } 
           }
        }
      }

      .child-category-container a:hover {
        background-color: transparent;
      }

      .child-category-container:nth-child(7), 
      .child-category-container:nth-child(13), 
      .child-category-container:nth-child(19) {
        clear:both;
      }

      .dropdown-menu .last {
        margin-left:0;
      }
    }
    
     @media @iPadP{
    
        #CC-megaMenu {
            .mega-menu {
                .nav{
                    > li{
                   
                        padding-left: 30px!important;
                    }
                    }
                }
            }
        }
    

    @media @tablet{
      .dropdown.mega-menu-fullwidth .dropdown-menu {
        width: auto;
      }

      .mega-menu-content {
        padding-left: 0;
        padding-right: 0;
      }

      .dropdown-menu > li > ul {
        /*display: block;*/
      }
    }
  }

  /**************************************************************
  *
  *   Mobile Styles
  *
  **************************************************************/
  /* Landscape phone to portrait tablet */
  @media @tablet{
    .mega-menu {

      div.navbar-inner {
          background:none;
          background-image: none;
          border: none;
          -webkit-box-shadow:none;
          -moz-box-shadow:none;
          box-shadow:none;
      }
    }

    .navbar {
        margin:0;
        background: transparent;
        position: relative;

      .navbar-toggle {
        display: block;
      }

      .icon-bar {
        background-image: none;
        color: @NavbarTextColor;
        background-color: @black;
      }

      .btn-navbar:hover {
          .icon-bar {
                background-image: none;
                color: @NavbarTextColor;
                background-color: @black;
          }
      }
    .navbar-header{
        position: absolute;
        width: 24px;
        top: -37px;
        z-index: 999;
        left: 8px;
    }
    }




    #mobile-menu.collapse {
      display: none !important;
    }

    #mobile-menu.collapse.in {
      display: block !important;
    }

    .navbar-nav {
      float: none !important;
      width:100%;
      .open {
        .dropdown-menu {
          position: static;
          float: none;
          border: 0;
          box-shadow: none;
          & > li {
            & > a {
                line-height: 20px;
            }
          }
        }
      }

    }

    .mega-menu .nav > li {
      float: none;
      display: block;
      padding: 0;
      margin-left: 30px;
    }

    .mega-menu .nav > li > a {
      border-top: 0 none;
      padding: 15px 0;
      margin:0px;
    }

    .mega-menu .nav > li > a:hover {
      color: @black;
      background-color: transparent;
      text-decoration: none;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
    }

    .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      border: 0;
      box-shadow: none;
    }

    .navbar-nav .open .dropdown-menu > li > a {
      line-height: 20px;
    }

    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
      padding: 10px 15px 5px 25px;
      text-align:left;
    }

    .navbar-collapse {
      max-height: none;
    }

    .nav-collapse {
      .nav {
        float: none;
        margin: 0;
      }
      .dropdown-menu a {
        padding-left: 0px;
      }
    }

    .nav-collapse .dropdown-menu li + li a {
      margin-bottom: 0px;
    }

    .nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, 
    .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus {
      background-color: transparent;
    } 

    .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
      min-height: 20px;
      padding:0;
    }

    .nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, 
    .nav-collapse .dropdown-menu a:focus {
      background-color: @NavbarBackgroundHoverColor;
      &.Level2 {
        background-color: @SubNavigationBackgroundHoverColor;
      }

      &.Level3 {
        background-color: @SubNavigationBackgroundHoverColor;
      }

    }

    .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu .first {
      margin-left: 0;
    }

    .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu .category-header {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      border:none;
      font-weight: bold;
      padding:0 10px 0 0;
      height: 100%;
    }

    .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu .caret {
      border-top-color: @NavbarLinkHoverColor;
      border-bottom-color: @NavbarLinkHoverColor;
    }

    .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu .child-category-container {
      float: left;
      margin-left:0;
      min-height: 20px;
      padding-bottom: 20px;
    }

    .dropdown.mega-menu-fullwidth .dropdown-menu {
      ul {
        li {
          /*padding-left: 10px;*/
        }
      }
    }

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
      background-image: none;
      background: transparent;
    }

    .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
      background: @SubNavigationBackgroundColor;
      color: @SubNavigationTextColor;
    }

    .mega-menu .dropdown-menu > li a {
      /*padding-left: 10px;*/
    }

    .submenu > li a {
      padding-left: 20px;
    }

    .mega-menu .dropdown-menu .open > a:after {
      border:none;
      display: inline-block;
      width: 0;
      height: 0;
      vertical-align: top;
      content: "";
      /*border-top: 6px solid @black;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      border-top-color: @bordercolor3;
      border-bottom-color: @bordercolor3;*/
      color: @NavbarLinkHoverColor;
    }

    .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu .child-category-container a:hover {
        background-color: @SubNavigationBackgroundHoverColor;
      }

    .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu > a:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: @bordercolor3;
      margin-top: 5px;
      margin-right: -10px;
    }

    .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu a.Level3:after{
      display:none;
    }

    li.dropdown-menu.submenu.closed {

       ul {
        display: none;
       }
    }

  }

  /* Landscape phones and down */
  @media @phone {
    .mega-menu {
      .dropdown.mega-menu-fullwidth {
        .dropdown-menu {
          .child-category-container {
            float:none;
            margin-left: 10px;
          }
        }
      }
    }
    
  }
 
  @media @iPhone5{
    .navbar .navbar-header { top: -44px;}
  }
}
.menu-fixed {
    position: fixed;
    top: 130px;
    left: 0;
    width: 100%;
    z-index: 9999;
    text-align: center;
    padding: 0;
    background: #f4f2e5 url(/file/v7272026183656673042/general/site_bg.png) center center repeat;


    .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
        width: 97%;
    }
    
    @media @iPadL{
        .mega-menu .nav { padding: 0 50px; }
    }
    
}
ul.nav.navbar-nav{
li.dropdown.mega-menu-fullwidth.menu-item.cc-desktop-dropdown{
    a{
            font-size: @fs13;
            span{
            font-family: @SiteFontFamily;
            font-size: @fs13;
            text-transform: capitalize;
            font-weight:300;

            }
    }

}
li.sale-mega-menu{
    a{
            font-family: @SiteFontFamily;
            font-size: @fs13;
            text-transform: capitalize;
            font-weight:normal;
            color:@magentacolor;
        
    }
    a:hover{
     text-decoration:none;
     color:@magentacolor;
         span{
           color:@magentacolor;  
         }
    }
}
li.sale-mega-menu.collection{
    a{
    color:@black;
    }
}
}

@media @iPadP{
    button.btn-navbar.btn-inverse
    {
        background: transparent;
        border: 0 none;
        left: 10px;
        z-index: 9999;
        span.icon-bar {
            width: 21px;
            height: 3px;
            background-color: black;
            margin: 4px 0;
            display: block;
        }
        &:focus{
            outline-color: transparent;
        }
    } 
    #CC-megaMenu {
        .mega-menu{
        .sale-flyout {
            padding: 0;
            li.Level1 {
                margin: 10px 0 10px 35px;
                .style4{
                    color:@lightblack;
                    font-weight:bold;       
                }
            }
        }
             .nav >li{
                 width:100%;
                 padding:0;
                 padding-left: 32px!important;
                 a{
                    line-height: 16px;
                    border-bottom: 1px solid #b7b6ae;
                     margin: 0;
                     padding: 15px 0;
                 }
                 a:active,
                 a:hover,
                 a:focus{
                    border-bottom: 1px solid #b7b6ae; 
                 }
             }
             .nav li.dropdown.open{
                 .dropdown-toggle{
                    line-height: 16px;
                    border-bottom: 1px solid @bordercolor3;
                    margin: 0; 
                 }
             }
             .dropdown.mega-menu-fullwidth {
                 .dropdown-menu{
                     background:transparent;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    border-radius: 0;
                    margin: 0 auto;
                    min-height: 50px; 
                    padding: 0;
                    left: 0;
                    right: 0;
                    border-top: 0 none;
                    a{
                        line-height:16px;
                    }
                 }
             }
        }
        
    }

    .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background: transparent;
        border: 0;
        box-shadow: none;
        li{
            a:hover{
                background-color:transparent;
            }
            
            a.Level2:before{
            /*font-family: "Glyphicons Halflings";
            line-height: 1;
            margin: 10px;
            display: inline-block;
            width: 15%;
            font-size: 9px;
            font-weight: normal;
            color: #333;
            float: right; */
         }
        }
    }
    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus{
        background-color:transparent !important;
        color: @black;
        
    }
  }
  
  #justIn_mobile, #sale_mobile{
      color: @pricecolor;
  }

  .lastCategory a:before{
    content: '';
  }     
  /* Logged in User CSS */
  #mobile-menu{
     .cc-myAccount{
        strong{
            display: block;
            border-bottom: 1px solid #b7b6ae;
            padding-bottom: 10px;
            margin-bottom: 12px;
            font-weight: 800;
            color: @black;
            span{
                
            }
        }
        a#CC-loginHeader-myAccount, a#CC-loginHeader-logout{
            color: @black;
            font-size: @fs14;
            display: inline-block;
            font-weight: 300;
            color: @black;
        } 
        a#CC-loginHeader-myAccount{
            padding: 0;
        }
        a#CC-loginHeader-logout{
            margin-left: 32px;
            &:before{
                content: '';
                margin-right: 38px;
                border-right: 1px solid @black;
            }
        }
    } 
  }
    .navbar-nav > li{
        @media @big{
            display: inline-flex;
        }
    } 
}