    #CC-Purchase-list-report{
        .redirect_back{
            display: inline-block;
            float: right;
            width: 15%;
        }
        .purchase-report-wrapper{
            .heading{
                h1{
                    font-weight: 800;
                    font-family: 'Unna',serif;
                    font-size: 24px;
                    text-transform: capitalize;
                    border-bottom: 1px solid #b7b6ae;
                    padding-bottom: 3px;  
                    
                    @media @iPadP{
                        font-size: 21px;    
                    }
                }
            }
            .report-list{
                    padding: 20px;
                    background: #f9f8f1;
                .cc-table{
                    width: 100%;
                    line-height: 35px;
                }
            }
            .cc-cancel-btn{
                margin: 20px;
                
                button{
                    width: 20%;
                }
            }
        }
    }
