#FabindiaStaticPagesLeftNav_v0-wi1300093 {
 .contentpages-left {
        margin:30px auto 0;
        .panel-default {
            border-color: #000;
        }
        .tablist {
            background: none;
        
            li {
                color: @black;
                padding: 0 25px 0 0;
                margin: 0;
                display: block;
                &:hover{
                   
                }
                
                a {
                    font-size: @fs14;
                    text-transform: capitalize;
                    background: none;
                    color: @black;
                    font-weight: bold;
                    border-bottom: 1px solid @bordercolor3;
                    padding: 15px 0;
                    display:block;
                    &:hover{
                        text-decoration: underline;
                    }
                }
               
            }
        }
        
        .panel-title {
            a {
                background: transparent;
                box-sizing: border-box;
                color: @black;
                display: inline-block;
                float: left;
                font-size: 15px;
                height: 40px;
                line-height: 40px;
                padding-left: 28px;
                text-align: center;
                text-decoration: none;
                width: 100%;
                text-transform: uppercase;
                &:before{
                    float: right !important;
                    font-family: FontAwesome;
                    content:"\f078";
                    padding-right: 16px;
                }
            }
        }
        
       .panel-heading {
           padding: 0;
            background: transparent;
        }
        
        .panel-body {
            padding: 45px 15px 15px;
        }
        
        @media @iPadP {
            margin: 0 12px;
            
        }
        
        .number-fonts {
            font-family: @SiteSecondaryFontFamily;
            font-size: 18px;
        }
        
    }
  .panel {
    background-color: transparent!important;
  }

}