/* -------------------------------------------------- */
  /*  Shopping Cart
  /* -------------------------------------------------- */
  .cart_credit{
        background: #f9f8f1;
        border: 1px solid #f9f8f1;
        margin-bottom: 18px;
        padding: 10px 0px 10px;
        right: 20px;
        
        
      .credit_limit{
        display: inline-block;
        padding: 0px 20px;
        text-align: center;
        margin: 5px 0;
        
        .limit_heading{
            display: block;
            font-weight: 600;
            color: #000;
            font-size: 12px;
            text-align: center;
            margin-bottom: 8px;
            line-height: 12px;    
        }
        .limit-value{
            font-size: 13px;
            margin: 5px 0;
            display: inline-block;
            text-align: center;     
        }
      }
  }
  #cc-cartSummary {
     .cart-inner {padding: 0;}
     
     .bold { color: @grayDark; font-weight: bold; }
    #cart-info {
      .thead {
        background: @lightBlue;
        padding: 10px 0px;
        color: #3d3d3d;
        font-weight: bold;
      }
      .alignChild {
        left: -14px;
        position: relative;
      }
      margin-bottom: 6px;
      .item {
        border-bottom: 1px solid #eee;
        padding-top: 10px;
        padding-bottom: 7px;
      }
       .image.span2 {
        font-weight: bold;
        border: 0;
        background: @white;
        border-bottom: 1px solid #eee;
      }
      .input-qty {
        width: 45px;
        margin-bottom: 10px;
        height: 30px;
        padding-left: 6px;
        padding-right: 6px;
        -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
      }
      .image img { max-width: 62px; }
      .price, .total {  text-align: left; }
      .quantity {
        white-space: nowrap;
        a, input {display: inline-block; }
      }
      .price {
        white-space: nowrap;
      }
      .notify { text-align: left; padding-left: -8px;}
      .name > a { color: @grayDark; font-weight: bold; }
      .btn-update {
        .btn-xs;
        border-radius: @ButtonPrimaryBorderRadius;
        display: none;
      }
    }
    small {
      color: #666666;
      font-size: @fontSizeMini;
      line-height: @smallLineHeight;
    }
    .instock{
      color: @instock !important;
      font-size: @fs12;
      font-weight: bold !important;
      margin: 0;
      @media @iPadP{
          margin: 0;
      }
    }
    .lowstock{
      color: @lowstock !important;
      font-size: @fs12;
      font-weight: bold !important;
      margin: 0;
      @media @iPadP{
          margin: 0;
      }
    }
    .outofstock{
      color: #c2343e;
      font-size: @fs12;
      font-weight: bold;
      margin: 0;
      position: absolute;
      top: -22px;
      @media @iPadP{
          margin: 0;
          font-size: @fs11;
      }
    }
    .shippingdate{
      color: @outofstock;
      font-size: @fs12;
      font-weight: bold;
    }
    .buttons{
      margin-bottom: 10px;
    }
    .CC-shoppingCart-shippingSurcharge {
      font-weight: 600;
      font-size: 11px;
    }
    .padding-border {
      padding-top:10px;
      border-bottom: 1px solid #eee;
      @media @tablet{
          padding: 0;
          border: 0 none;
      }
    }
    .placeHolderButton {
      padding: 4px 35px;
      font-size: 12px;
      color: @white !important;
    }
    #CC-giftSelectionpane img {
      max-height: 200px;
    }
    #CC-giftSelectionpane .variantOptions {
      padding-top: 25px;
    }
    #CC-giftSelectionpane .cc-skuDropdown {
      font-size: 1rem;
      padding-top: 0px;
      padding-bottom: 0px;
      height: 20px;
    }
    .padding-top {
      padding-top: 5px;
    }
    .total-cart-padding-top {
      padding-top: 6px;
    }
    .padding-right {
      padding-right: 6px;
    }
    .padding-zero {
      padding:0px;
    }
    @media (max-width: @screen-xs-max) {
      .even {
        
      }
    }
    .giftIcon {
      font-size: 4.5em;
    }
    /* -------------------------------------------------- */
    /*  Cart Total
    /* -------------------------------------------------- */
    #total-cart {
      margin-bottom: 10px;
      margin-top: 0;
      .inner { padding: 12px; background: #f9f9f9; overflow: hidden; }
      table { margin: 0 12px 0 0; float: right; margin-bottom:12px; }
      th {
        padding-right: 6px;
        //border-bottom: 1px solid #eee;
        //font-size: @fontSizeLarge;
        font-weight: bold;
      }
      td {
        padding: 0;
        text-align: right;
        //border-bottom: 1px solid #eee;
        //font-size: @fontSizeLarge;
        font-weight: bold;
        vertical-align: top;
      }
      td.total.last {
        //font-size: @fontSizeLarge;
        font-weight: bold;
      }
    }
    
    #continue-shopping { margin-top: 0px; }
  }
  
  
  /* Custom CSS */
.empty_msg{
    margin: 12% -25% 12% 25%;
    text-align: center; 
    @media @iPadP{
        margin: 40% -25% 12% 25%;
    }
    @media @tablet{
        margin: 12% 0;
    }
    
    .empty_img {
        img {
            width: 89px;
        }
    }

    .empty_text{
        margin: 12px 0 8px;
        @media @tablet{
            max-width: 180px;
            margin: 12px auto 8px;
        }
        span.cart-empty-msg{
            font-size: @fs30;
            color: @black;
            margin-top: 36px;
            font-family: @SiteSecondaryFontFamily;
            font-weight: bold;  
            display: block;
            line-height: 30px;
            @media @tablet{
                font-size: @fs18;
                line-height: 24px;
            }
        }
        span:first-child{
            font-size: @fs23;
            font-weight: normal;
            line-height: 25px;
            margin: 0;
            color: @readmore;
            @media @tablet{
                font-size: @fs18;
                line-height: 20px;
            }
        }
    }
    span.add-items-msg {
        font-family: @SiteFontFamily;
        font-size: @fs18;
        color: @black;
        @media @tablet{
            font-size: @fs13;
        }
    }
    .button_home{
        margin: 50px 0 30px;
        @media @tablet{
            margin-top: 35px;
        }
        .return_home{
            background:@ButtonPrimaryBackgroundColor;
            padding: 10px 80px 34px;
            color: @black;
            border-radius:5px;
            border: 0 none;
            font-size: @fs13;
            font-family: @SiteFontFamily;
            font-weight: 700;
            height: 42px;
            line-height: 24px;
            @media @tablet{
                padding: 10px 64px;
            }
        }
        .return_home:hover{
            text-decoration:none;
        }
    }
}
    
  .cart_widget{
    border-right: 1px solid @bordercolor1;
    // margin: 50px 0px 0 0;
    padding-right: 50px;
    @media @tablet{
        margin: 0 -15px;
        border: 0 none;
        padding: 0;
    }
      h2{
          font-family: @SiteSecondaryFontFamily;
          font-weight: bold;
          font-size: @fs23;
          line-height: 26px;
          padding-bottom: 6px;
          margin-bottom: 24px;
          color: @black;
          border-bottom: 1px solid @bordercolor1;
          @media @tablet{
            font-size: @fs17;
            line-height: 20px;
            border-bottom: 1px solid @black;
            margin-bottom: 10px;
          }
      }
      .cart-inner{
          .cc_continue_shop{
              a{
                    font-size: @fs12;
                    font-weight: 700;
                    background: none;
                    font-family: @SiteFontFamily;
                    color: @black;
                    line-height: 15px;
                    padding: 10px 35px 11px;
                    display: block;
                    max-width: 206px;
                    position: relative;
                    &:after{
                        content: '\203A';
                        font-size: @fs18;
                        position: relative;
                        top: 1px;
                        right: -3px;
                    }
              }
          }
          .cc_cart_error{
            background: @redcolor;
            text-align: left;
            color: @white;
            padding: 11px 25px;
            font-size: @fs12;
            line-height: 14px;
            margin-bottom: 0px;
            @media @tablet{
                padding: 11px 15px;
            }
          }
          .cc_international{
              margin: 0;
          }
      }
  }
  .cart_row_repeat{
      background: @Globalcolor;
      border: 1px solid @Globalcolor;
      margin-bottom: 18px;
      padding: 35px 16px 20px;
      position: relative;
      @media @iPadP{
        padding: 35px 5px 20px;
    }
      @media @tablet{
          padding: 35px 10px 0px 16px;
      }
      a{
          display: block;
          img{
              max-width: 100%;
              width: 20px;
              @media @iPadP{
                width: 12px;  
              }
          }
      }
    .parent_row{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        
        > div{
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            -webkit-flex: 0 1 auto;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            -webkit-align-self: auto;
            -ms-flex-item-align: auto;
            align-self: auto;
        }
        .cart_img_container{
            margin: 0 3px 15px 0;
            width: 18%;
            position: relative;
            @media @iPadL{
                margin: 0 15px 15px 0;
            }
            @media @iPadP{
                margin: 25px 0px 0px 0px;
                width: 13%;
            }
            @media @tablet{
                width: 115px;
                margin: 0 18px 15px 0;
            }
            a{
                img{
                    width: 96px;
                    @media @iPadP{
                        width: 50px;
                    }
                    @media @tablet{
                        width: 115px;
                    }
                }
            }
        }
        .cc_item_detail{
            max-width: 150px;
            margin-right: 18px;
            margin-left: 8px;
            width: 25%;
            @media @iPadL{
                margin-right: 0;
                margin-left: 0;
                width: 25%;   
            }
            @media @iPadP{
                margin-left: 15px;
                margin-right: 8px;
            }
            @media @tablet{
                max-width: none;
                margin-right: 0;
                margin-left: 0;
                width: 47%;
            }
            a{
                font-size: @fs12;
                color: @black;
                line-height: 15px;
                @media @iPadP{
                    line-height: 16px;
                    font-size: @fs10;
                }
            }
            span{
                  font-size: 12px;
                  color: #000;
                  line-height: 15px;
                  display: inline-block;
            }
            a.edit-link{
                display: none;
                margin-top: 12px;
                font-weight: 700;
                color: @magentacolor;
                text-decoration: underline;
                @media @iPadP{
                    margin-top: 6px;
                    margin-bottom: 8px;
                }
            }
            .cc_color_code, .cc_item_size{
                line-height: normal;
                @media @tablet{
                    margin-top: 2px;
                }
                span{
                    font-weight: 700;
                    font-size: @fs11;
                    @media @iPadP{
                        font-size: @fs10;
                    }
                    @media @tablet{
                        font-size: @fs13;
                    }
                    &:first-child{
                        display: inline-block;
                        width: 34px;
                    }
                    &:last-child{
                        font-weight: normal;
                    }
                }
            }
            .cc_item_size{
                @media @tablet{
                   margin-bottom: 4px; 
                }
                
            }
            .attributes {
                text-align: left;
                margin:15px auto 5px;
                font-size: 11px;
            }
            .summary-of-product-title {
            	font-weight: 600;
            	color: #000;
            	font-size: 12px;
            	text-align: left;
            	margin: 8px 0;
            	line-height: 12px;
            	
            }
            .attribute,
            .attribute-value{
            	font-weight: 400;
            	font-size: 11px;
            }
            .bespoke-item-name {
                text-transform: capitalize;
            }
        }
        .cc_item_qty{
            max-width: 104px;
            margin-right: 24px;
            width: 25%;
            @media @iPadL{
                margin-right: 0;
                width: 15%;   
            }
            @media @iPadP{
                margin-right: 8px;
                width: 22%;
            }
            @media @tablet{
                width: auto;
                margin: 0;
                max-width: none;
            }
            p{
                @media @tablet{
                    float: left;
                    width: auto;
                    margin-right: 6px;
                    font-size: @fs13;
                }
            }
            button,input{
                float: left;
                width: 26px;
                display: inline-block;
                border: 0 none;
                padding: 2px;
                height: 26px;
                text-align: center;
                outline: 0;
                font-size: @fs13;
                background: @white;
                box-shadow: none;
                border-radius: 0;
                font-weight: 300;
            }
            button{
                font-weight: 800;
                font-size: @fs16;
                background: @MinicartBackgroundColor;
                border: 1px solid @MinicartBackgroundColor;
            }
            a{
                position: absolute;
                right: 20px;
                top: 12px;
                display: block;
                @media @iPadP{
                    right: 12px;
                }
                @media @tablet{
                    right: 12px;
                }
            }
            .form-group{
                max-width: 82px;
                margin: 25px auto;
                @media @tablet{
                    max-width: none;
                    float: left;
                    margin: -6px 0 0;
                }
            }
        }
        .cc_item_total{
            max-width: 95px;
            width: 30%;
            text-align: center;
            @media @iPadL{
                width: 18%;
            }
            @media @iPadP{
                width: 16%;
            }
            @media @tablet{
                max-width: none;
                width: 100%;
                padding-top: 10px;
                border-top: 1px solid @bordercolor1;
                margin-top: 10px;
            }
            span{
                font-size: @fs13;
                margin: 21px 0;
                display: inline-block;
                @media @iPadP{
                    font-size: @fs10;
                }
                @media @tablet{
                    float: right;
                    margin: 0;
                    line-height: 12px;
                }
            }
            p{
                @media @tablet{
                    float: left;
                    font-size: @fs13;
                }
            }
        }
        p{
            font-weight: 600;
            color: @black;
            font-size: @fs12;
            text-align: center;
            margin-bottom: 8px;
            line-height: 12px;
        }
    } 
    .cc_view_details{
        border-top: 1px solid @bordercolor1;
        text-align: right;
        margin: 0 10% 0 19.5%;
        padding: 12px 0 0;
        @media @iPadL{
            margin: 0 10% 0 22%;
        }
        @media @iPadP{
            margin: 0 4% 0 25%;
        }
        @media @tablet{
            margin: 0;
        }
        a{
            font-weight: 700;
            font-size: @fs12;
            text-decoration: underline;
        }
    }
     
  }
  .cart_row_repeat.cart_error_border{
      border: 1px solid @redcolor;
  }
/* View Attributes Bespoke css */
.cart_row_repeat {
    .parent_row {
        .cc_item_detail{
            .view_attributes{
              a{
                    font-weight: 700;
                    font-size: @fs11;
                    color: @pricecolor;
                    text-decoration: underline;
                    margin-top: 4px;
                    i{
                        font-size: @fs10;
                        margin-left: 4px;
                    }
              }
          }
          .att_selected{
              display: none;
              margin-top: 8px;
              p{
                  text-align: left;
              }
          }
        }
    }
  
}
  
  .cc-viewer-pane{
            img{
                width: 100%;
                margin-bottom: 10px;
            }
        }
