
#CC-selectionPage{
    width: 1336px;
    margin: 0 auto;
    
    @media @iPadL{
        width: 980px;
    }
    @media @iPadP{
        width: 710px;
        margin-top: 15px;
    }
    .numberSelection{
        width: 100%;
        text-align: center;
        border: none;
        
        @media @iPadP{
            font-size: 8px;
        }
    }
    
    img.webstyleImg{
       
        .selected{
             border:solid 2px black;
        }
    }
    
    .selection-list-header{
            width: 100%;
            .selection-header-wrapper{
            }
            .header-content{
                
            }
            .list_info{
                padding: 0;
                .list_label{
                    border-right: 1px solid;
                    padding: 0;
                    height: 65px;
                    
                    .list_name{
                        padding-left: 10px;
                        font-weight: 600;
                        
                        @media @iPad{
                            font-size: 10px;
                        }
                    }
                    .list{
                        border-top: 1px solid;
                        padding-left: 10px;
                        display: block;
                        font-weight: 100;
                        
                        @media @iPadL{
                            font-size: 10px;  
                        }
                        @media @iPadP{
                            font-size: 10px;  
                        }
                    }
                }
            }
            .limit_details{
                
                .limit_span{
                    border-right: 1px solid;   
                }
                span{
                    display:block;
                }
                .limit_amount{
                    float: right;
                    height: 65px;
                    
                    span{
                        padding-left: 10px;
                        font-weight: 600;    
                    }
                    .limit_label{
                        border-bottom: 1px solid;
                    }
                    .limit_value{
                      font-weight: 100;
                      
                        @media @iPadL{
                            font-size: 10px;  
                        }
                        @media @iPadP{
                            font-size: 10px;  
                        }
                    }
                    
                    @media @iPad{
                        font-size: 10px; 
                    }
                }
            }
        }
    .selection-list-body{
            width: 100%;
            border: 1px solid;
            .list-flex{
            
                .list-title{
                    
                    ul{
                        display: flex;
                        border-top: 1px solid;
                        border-bottom: 1px solid;
                        background-color: #fff;
                    }
                    li{
                        margin: 5px 5px 5px 10px;
                        text-align: center;
                        font-weight: 700;
                        font-size: 12px;
                        
                        @media @iPadL{
                            font-size: 10px;
                        }
                        @media @iPadP{
                            font-size: 9px;  
                        }
                    }
                    .color_li{
                        text-align:left;
                    }
                    .size_li{
                        margin: 4px 0px;
                        width: 380px;   
                        text-align:left;
                        
                        @media @iPadL{
                            width: 450px;   
                        }
                        @media @iPadP{
                            width: 340px;
                        }
                    }
                    .total_values{
                        width: 150px;
                        
                        @media @iPadL{
                            width: 205px;
                        }
                        @media @iPadP{
                            width: 160px;    
                        }
                    }
                }
                .list-detail{
                     border-bottom: 1px solid;
                    ul{
                        display: flex;
                       
                        font-size: 12px;
                        
                        @media @iPadL{
                            font-size: 10px;
                        }
                        @media @iPadP{
                            font-size: 10px;
                        }
                    }
                    li{
                        margin: 30px 20px 5px 17px;
                        min-width: 5%;
                        
                        @media @iPadL{
                            margin: 10px 15px 10px 15px;

                        }
                        @media @iPadP{
                            margin: 30px 5px 5px 10px;
                            font-size: 8px;
                        }
                    }
                    .img_li{
                        
                        @media @iPadL{
                           font-size: 10px; 
                        }
                        @media @iPadP{
                            font-size: 10px;  
                        }
                        p{
                            text-align: center;
                            width: auto;
                            margin: 5px;
                        }
                        
                        img{
                            display: block;
                            width: 75%;
                            margin: 0 auto;
                        }
                        a{
                            text-align: center;
                            display:block;
                            width:auto;
                            text-decoration:none;
                        }
                    }
                    .productDetail{
                        float: right;
                     }
                    .size_code_li{
                        min-width: 100px;
                    }
                    .mrp_price{
                        margin: 30px 15px 5px 15px;    
                    }
                    .list_price{
                        margin: 30px 15px 5px 20px;
                    }
                    .mrp_price_range{
                        font-size: 10px;
                        width: 130px;
                        margin: 5px 10px;    
                    }
                    .color_li{   
                    }
                    .table_li_sizes{
                 
                    }
                    .table_li{
                        margin: 0;
                        
                        .size_display{
                            
                            .size_span{
                                margin: 0 16px;
                                font-size: 12px;
                                
                                @media @iPadL{
                                    margin-left: 0;
                                    font-size: 8px;
                                }
                            }
                            .quantity_span{
                                margin-left: 38px;
                                font-size: 12px;
                                
                                @media @iPadP{
                                    margin-left: 0;
                                    font-size: 8px;
                                }
                            }
                            
                            td{
                                max-width: 40px;    
                            }
                            .size_values{
                                text-align: center;
                                margin-top: 15px;
                                
                                th{
                                    text-align: center;
                                    border-bottom: none;
                                    
                                    @media @iPadL{
                                        font-size: 10px;
                                    }
                                    @media @iPadP{
                                        font-size: 8px;  
                                    }
                                }
                            }
                            .no_size{
                                span{
                                    margin: 0;    
                                }
                            }
                            .size_attr{
                                span{
                                    margin-left: 25px;
                                    
                                    @media @iPadP{
                                        margin-left: 0;
                                        font-size: 8px;
                                    }
                                }
                            }
                            .size_attr_qty{
                                span{
                                    margin-left: 25px;    
                                }
                                @media @iPadP{
                                    margin-left:0;
                                    font-size: 6px;
                                }
                            }
                            .size_years{
                                span{
                                    font-size: 10px;
                                    margin-left: 5px;
                                }
                            }
                            .total_yrs_atp{
                                span{
                                    font-size: 10px;
                                    margin-left: 25px;
                                    
                                    @media @iPadP{
                                        margin-left: 0;
                                    }
                                }
                            }
                        }
                        .total_display{
                            margin-top: 21px;
                            
                            td{
                                width: 170px;
                                text-align: center;
                                
                                @media @iPadP{
                                    font-size: 8px;
                                }
                            }    
                        }
                        .total_display_row{
                            margin-top: 42px;    
                        }
                    }
                    
                }
            }
            .total_amount{
                text-align: center;
                float: right;
                background: #808080;
                
                .grand_total{
                    display: inline-block;
                    height: 50px;
                    border-right: 1px solid;
                    
                    p{
                        margin: 15px;
                        color: #fff;
                        
                        @media @iPadL{
                            margin: 12px;
                            font-size: 10px;
                        }
                        @media @iPadP{
                            margin: 5px 0 0 0;
                            font-size: 9px;  
                        }
                    }
                    @media @iPadP{
                        height: 25px;
                    }
                }
            }
        }
    .selection-empty-list{
        position: relative;
        top: 110px;
        text-align: center;
        font-weight: 700;
        font-size: 17px;
        
        .empty-list-txt{
            font-size: 30px;
            color: #000;
            margin-top: 36px;
            font-family: 'Unna',serif;
            font-weight: bold;
            display: block;
            line-height: 30px;
        }
        
        p{
            font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
            font-size: 18px;
            color: #000;
        }
        
        .button_home{
        margin: 50px 0 30px;
        @media @tablet{
            margin-top: 35px;
        }
        .return_home{
            background:@ButtonPrimaryBackgroundColor;
            padding: 10px 80px 34px;
            color: @black;
            border-radius:5px;
            border: 0 none;
            font-size: @fs13;
            font-family: @SiteFontFamily;
            font-weight: 700;
            height: 42px;
            line-height: 24px;
            @media @tablet{
                padding: 10px 64px;
            }
        }
        .return_home:hover{
            text-decoration:none;
        }
    }
    }
    /*Sticky Footer */        
    .sticky_footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        background: @white;
        left: 0;
        z-index: 99;
            display: none;
            box-shadow: 0px -2px 2px #e2e1da;
            padding: 12px 12px 2px;
            font-size: 12px;
            font-family: Arial, sans-serif;
            font-weight: normal;
            color: #fff;
            text-align: center;
            cursor: pointer;
        @media @iPadL{
            padding: 12px 10px 2px;
        }
        @media @iPadP{
            padding: 12px 15px;
                font-size: 11px;
        }
        @media @tablet{
            padding: 12px 15px;
                font-size: 11px;
        }
            
            .cust_pro_desc{
                float: left;
                width: 22%;
            .cust_img{
                float: left;
                margin-right: 14px;
                width: 20%;
                img{
                    max-width: 100%;
                    height: 52px;
                }
            }
            .cust_pro_detail{
                float: left;
                width: 72%;
                margin-top: 7px;
                p{
                    font-family: @SiteFontFamily;
                    font-weight: 800;
                    font-size: @fs16;
                    margin: 0;
                    line-height: 18px;
                    text-transform: capitalize;
                }
                span{
                    font-family: @SiteFontFamily;
                    font-size: @fs13;
                    font-weight: 300;
                }
            }
        }
            .cc-item-price {
                font-size: 25px;
                font-weight: 800;
                color: #000;
                
                div {
                    display: inline-block;
                }
                
                .taxMsg { margin-top: 8px;}
                
                .list-price {
                    margin-right: 5px;
                    span {
                        text-decoration: line-through;
                        color: @black;
                    }
                }
                
                #CC-prodDetails-priceMin { margin-right: 5px;}
                
                @media @tablet, @iPadP {
                    border-top: 0;
                    //border-bottom: 1px solid #a0a0a0;
                    font-size: 22px;
                    font-weight: 400;
                    margin: 0;
                    padding-bottom: 20px;
                    padding-top: 10px;
                    position: relative;
                }
                
            }
            .sale-price { color: #8f2c34;}
            .get_price {
                float: left;
                width: 13%;
                text-align: center;
                 @media @iPadL{
                    margin: 0 12px 12px 15px;
                    width: 15%;
                }
                @media @iPadP{
                    width: 47%;
                    display: inline-block;
                    text-align: center;
                    margin: 4px 0px;
                }
                @media @tablet{
                    width: 47%;
                    display: inline-block;
                    text-align: center;
                    margin: 4px 0px;
                }
                span{
                    font-size: @fs24;
                    line-height: normal;
                    display: inline-block;
                    vertical-align: text-bottom;
                    @media @iPadL{
                        font-size: @fs20;
                    }
                }
                .inclusive-taxes{
                    font-size: 12px;
                    display: block;
                    line-height: normal;
                    margin-top: 3px;
                    font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
                    font-weight: 700 !important;
                }
                .info_icon{
                        font-size: @fs14;
                        display: inline-block;
                        vertical-align: super;
                        border: 1px solid @pricecolor;
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        line-height: 18px;
                        font-weight: 800;
                        color: @pricecolor;
                        @media @iPadL{
                            font-size: @fs10;
                        }
                    }
            }
            .select_custom_size{
                float: left;
                @media @iPadL{
                    margin: 0;
                }
                #size-select{
                       text-align: center;
                li{
                    display: inline-block;
                    margin-bottom: 5px;
                    margin-right: 5px;
                    button{
                        background: transparent;
                        box-shadow: none;
                        font-size: @fs13;
                        padding: 4px 10px;
                        text-shadow: none;
                        border: 1px solid @placeholdercolor;
                        line-height: normal;
                        min-width: 35px;
                        font-family: @SiteFontFamily;
                        font-weight: 300;
                    }
                    button.activeAlpha{
                        background: @buttonBgColor;
                    }
                }
                
                .size-chart,.size-chart-click {
                    font-size: 11px;
                }
                .size-chart {
                    .size_icon {
                        width: 20px;
                        margin-left: 4px;
                    }
                }
                .size-chart-click {
                    font-weight: 800;
                    color: #8f2c34;
                    text-decoration: underline;
                }
            }
                .size-control-label{
                    display: block;
                    margin-right: 6px;
                    font-size: @fs12;
                    margin-top: 2px;
                    font-weight: 800;
                        @media @iPadP{
                            font-size: 11px;
                        }
                }
                }
            .number-spinner{
                max-width: 152px;
                float: left;
                margin-top: 12px;
                .qty_label{
                    float: left;
                    font-size: @fs12;
                    font-family: @SiteFontFamily;
                    font-weight: 300;
                    display: inline-block;
                    position: relative;
                    top: 2px;
                    margin-right: 12px;
                }
                button{
                    font-weight: 800;
                    font-size: @fs16;
                    background: @MinicartBackgroundColor;
                    border: 1px solid @MinicartBackgroundColor;
                    padding: 1px 6px;
                    border-radius: 0;
                    float: left;
                    width: 26px;
                    display: inline-block;
                    height: 26px;
                    text-align: center;
                    outline: 0;
                    box-shadow: none;
                }
                .text-center{
                    float: left;
                    width: 26px;
                    display: inline-block;
                    border: 0 none;
                    padding: 2px;
                    height: 26px;
                    text-align: center;
                    outline: 0;
                    font-size: @fs13;
                    background: @white;
                    box-shadow: none;
                    border-radius: 0;
                    font-weight: 300;
                }
            }
            .footer_buyNow{
                float: right;
                @media @iPadP{
                    float: right;
                }
                @media @tablet{
                    float: right;
                }
                button{
                    color: @black;
                    font-family: @SiteFontFamily;
                    font-size: @fs12;
                    font-weight: 800;
                    display: inline-block;
                    background: @buttonBgColor;
                    line-height: 14px;
                    padding: 12px 0;
                    width: 100%;
                    border-radius: 2px;
                    text-align: center;
                    border: 0 none; 
                    outline: none;
                        @media @iPadP{
                            font-size: 11px;
                        }
                    }
                }
        }
    .show, .sticky_footer:hover {
        display: block;
    }
    .align-desc {
    text-align : left;
    }
    ul.align-bullet {
    li{
        text-align: left;
        margin-left : 30px;
    }
    }
/* Mobile Sticky Add to cart */
    #cc-product-details .product-details-wrapper{
    @media @iPadP, @tablet{
        .sticky_addtoCartPDP{
            position: fixed;
            bottom: 0;
            width: 100%;
            left: 0;
            background: @Globalcolor;
            z-index: 99;
            .cc-item-price{
                border: 0;
                padding: 0;
                color: @magentacolor;
                width: 45%;
                margin: 13px 8px 10px 0;
                text-align: left;
                padding-left: 38px;
                overflow: hidden;
                font-size: @fs21;
                &:after{
                    background: transparent;
                }
                .taxMsg{
                    margin: 0;
                }
            }
            .mobileAddtoCart{
                width: 46%;
                margin: 10px 20px 10px 0;
                button{
                    font-size: @fs14;
                }
            }
            .continue_shopping{
                padding: 11px 10px;
                border-radius: 3px;
                width: 42%;
                font-weight: 800;
                float: left;
                color: @black;
                font-size: @fs13;
                font-family: @SiteFontFamily;
                margin: 10px 0px 10px 20px;
                background: transparent;
                border: 1px solid #c8c8c8;
                line-height: 1.33;
            }
        } 
}
    @media @iPadP{
        .sticky_addtoCartPDP{
            .continue_shopping{
                width: 47%;
            }
        }
}
    #size-select .size_box.outofstocksize {
                text-decoration: line-through;
        }
    }
}
}
.selection-main-page{
    width: 100%!important;
    margin: 0 auto!important;
    padding: 0!important;
}
.selection-main-page-below-row{
    padding: 0!important;
}