#CC-customerProfile {
  .cc-customerProfile-user-details {
    min-height: 300px;
  }
  .cc-customerProfile-password {
    min-height: 200px;
  }
  .cc-customerProfile-order-details {
    margin-right: 0px;
  }
  .cc-customerProfile-space-settings {
    margin-left: 0px;
  }
  .cc-customerProfile-shipping-address {
    min-height: 300px;
  }
  .cc-customer-profile-checkbox {
    margin-top: 30px;
  }
  .cc-customer-profile-shipping-address-phone {
    margin-top: 30px;
  }
  .cc-customer-profile-save-cancel {
    margin-top: 30px;
    margin-right: 0px;
    padding-left: 40px;
  }
  .cc-customer-profile-button {
    margin: 5px 5px 5px 5px;
  }

  .cc-profile-modal-footer {
    text-align: right;
    background-color: white;
    border-top: 0px;
    border-radius: 0px 0px 6px 6px;
  }
  .cc-profile-modal-heading {
    background-color: white;
    border-bottom: 0px;
    border-radius: 6px 6px 0px 0px;
    padding: 9px 15px 9px 15px;
    margin-bottom: 20px;
  }
  .cc-profile-confirm-icon {
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    background: transparent url(/img/icons-32x32/icon-alert-alt-32x32.png) no-repeat 0 0;
  }
  .cc-profile-modal {
    max-width: 450px;
    background-color: white;
  }
  .cc-profile-body-modal {
    max-height: 400px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .cc-profile-legend-title {
    display: inline-block;
    font-size: 25px;
    padding-bottom: 10px;
  }

  #CC-customerProfile-modal-headerText {
    margin-left: 20px;
    margin-top: -2px;
  }

  #CC-customerProfile-marketingMail-text {
    color: @grayLight;
  }

  #cc-customerProfile-user-details-edit {
    .btn-xs;
    border-radius: @ButtonPrimaryBorderRadius;
  }
  
  #CC-customerProfile-password-edit {
    .btn-xs;
    border-radius: @ButtonPrimaryBorderRadius;
  }
  
  .cc-customer-profile-shipping-address-view {
    .btn-xs;
    
    .address-field {
      display: inline-block;
    }
    
    padding: 8px 8px;
    border: 1px solid gray;
  }

  .cc-customer-profile-default-address {
    font-weight: bold;
  }

  #cc-customer-profile-shipping-address-add {
    .btn-xs;
    border-radius: @ButtonPrimaryBorderRadius;
  }

  @media (min-width: 768px) {
    #CC-customerProfile-modal-dialog {
      width: 450px;
    }
  }

  #CC-customerProfile-edit-marketingMail-checkbox {
    padding-bottom: 20px;
  }

  #CC-customerProfile-marketingMail {
    margin-bottom: -10px;
  }
}
.my_pwd_section{
    
    #CC-customerProfile-edit{
        padding-top: 28px;
    }
    
    fieldset{
         padding: 23px 16px 0 46px;
         
        .CC-customerProfile-password-title{
            h1{
                font-weight: 800;
                margin: 0;
                color: #000;
                font-family: 'Unna',serif;
                font-size: 24px;
                line-height: 30px;
                text-transform: capitalize;
                width: auto;
                position: relative;
                border-bottom: 1px solid #b7b6ae;
                padding-bottom: 3px;    
            }
        }
    }
    
    @media @tablet {
        padding: 0;
    }
    
    label{
        margin-top: 5px;
    }
    .control{
      input.form-control{
        border: 1px solid @bordercolor3;
        box-shadow: none;
        max-width: 225px;
        height: 40px;
        box-shadow: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: @Globalcolor;
        border-radius: 2px;
        @media @tablet{
            max-width: 100%;
            font-size: @fs16;
        }
      }
    }
    .editpwd_section{
        @media @tablet {
            margin: 17px 15px 0;
        }
        label{
            color: @black;
            font-family: @SiteFontFamily;
            font-size: @fs12;
            font-weight: 800;
            margin: 14px 0;
            max-width: 130px; 
            line-height: 12px;
            @media @tablet{
                margin: 12px 0 8px;
            }
        }
        .form-group{
            @media @tablet{
                margin-bottom: 8px;
            }
            .text-muted{
                font-size: @fs11;
                line-height: 14px;
                margin-top: 3px;
                color: @placeholdercolor;
                font-weight: 600;
                font-family: @SiteFontFamily;
            }
        }
        .text-danger{
            display: inline-block;
        }
    }
    .cc-customer-profile-save-cancel{
        @media @tablet{
            margin-bottom: 20px;
        }
    }
    .cc-button-primary.cc-customer-profile-button{
        width:83%;
        float: left;
        margin: 0;
        font-weight: 800;
        
        @media @tablet{
            width: 100%;
            float: none;
            text-align: center;
            margin: 20px auto 0;
        }
    }
    .cc-customer-profile-button{
        float: left;
        margin: 0 0 0 8px;
        width: 83%;
        @media @tablet{
            float: none;
            text-align: center;
            margin: 10px auto 0;
        }
    }
    .chng_pwd_label {
        padding: 0;
        width: 140px;
    }
}
