
/* ---------------------------------------------------------------------- */
/*  No Search Results Found Area
/* ---------------------------------------------------------------------- */

#CC-noSearchResults-display {
    margin: 52px 0;
    text-align: center;
    
    #CC-noSearchResults-searchText h2 {
        font-family:Unna;
        font-size: 22px;
        margin-bottom: 32px;
        color: @black;
        margin-top: 0;
    }
    
    .searchdiv{
        @media @iPadP{
            margin: 10px 99px;
            margin-bottom: -99px;
        }    
        @media @desktop{
                margin: 10px 73px;
                position: relative;
                left: 7px;
                margin-bottom: -99px;
        }
        @media @tablet {
            margin-bottom: -33px;
        }
    }
    
    #CC-noSearchResults-resultsText {
        @media @desktop{
            margin-top:-32px;
        }
        h3{
            font-weight:800;
        }
        h3,
        p {
            font-family:Muli;
            font-size: @fs18;
            color : @black;
            
            @media @tablet {
                margin-bottom: 5px;
            }
            @media @desktop{
                display:inline;
            }
        }
    }
    
    .oc-panel {
        margin:33px auto 35px;
        float: none;
        input {
            @media @desktop{
                height: 50px;
                border: 1px solid #aeaca2;
                font-size: 14px;
                width: 67%;
                margin-left: -19px;
                border-radius: 2px;
                padding-left: 30px;
                color: #000;
            }
            
            @media @tablet {
                width: 100%;
                text-align: center;
                font-family: muli;
                font-weight: 300;
                border-radius: 2px;
                height: 54px;
                border: 1px solid #aeaca2;
                background: #f9f8f1;
            }
        }
        
       
        
        .input-group-btn {
            width: 30%; 
            padding: 0;
            margin-left: 15px;
            
            @media @tablet {
                width: 100%;
                margin: 20px 0 0;
                border-radius: 0;
            }
            
            #searchSubmit {
                @media @desktop{
                    background: #e5cc76;
                    padding: 14px 0 15px;
                    height: auto;
                    width: 189px;
                    border-radius: 3px;
                    font-family: muli;
                    font-weight: 900;
                    font-size: 15px;
                    border: 0;
                }
                @media @tablet {
                    background: #e5cc76;
                    padding: 16px 0;
                    height: auto;
                    border-radius: 3px;
                    font-family: muli;
                    font-weight: 900;
                    font-size: 17px;
                    border: 0;
                }
                
                &:hover { border: 0;}
            }
        }
    }
    
    #CC-noSearchResults-categories {
        @media @desktop{
            margin: 54px;
        }
        
        h3 {
            font-family:Unna;
            font-size: 20px;
            color: @black;
            padding-bottom: 18px;
            border-bottom: 1px solid #aeb0b0;
            width: 80%;
            margin: 0 auto 48px;
            
            @media @iPadP { width: 72%;}
        }
        
        .category-container {
            > div {
                background: @Globalcolor;
                margin-bottom: 20px;
                @media @iPadP{
                    width:46% !important;
                }
                @media @desktop {
                    width: 22%;
                    margin-right: 4%;
                    &:last-child { margin-right: 0; }
                }
                @media @tablet{
                    width: 47%;
                    margin-right: 5%;
                    &:nth-child(2n) { margin-right: 0; }
                }
            }
            
            .imgContainer {
                width: 100%;
            }
            
            img { width: 100%;}
            
            span {
                    font-size: 14px;
                    font-family: muli;
                    font-weight: 300;
                    display: block;
                    padding: 12px 0;
                    color: #000;
                
                @media @tablet {
                    padding: 10px 0;
                }
            }
            
            a {
                display: block;
                width: 100%;
            }
            
            a:hover {
                color: @black;
                text-decoration: none;
            }
        }
    }
    
    #category-title-mobile {
        position: relative;
        max-width: 327px;
        margin: 0 auto;
        
        span {
            display: inline-block;
            width: 23%;
            border: 1px solid #aeb0b0;
            position: absolute;
            top: 37px;
            
            &:first-child {
                left: 0;
            }
            
            &:last-child {
                right: 0;
            }
        }
        
        h3 {
            width: 63%;
            display: inline-block;
            text-align: center;
            vertical-align: -13px;
            border: 0;
            font-size: 17px;
            margin: 0;
        }
    }

}

