
/* -------------------------------------------------- */
/*	Order History
/* -------------------------------------------------- */	
#CC-orderHistory {
    
    .CC-search-group {
        position: relative;
        display: table;
        border-collapse: separate;
        padding-right: inherit;
        margin-bottom: 10px;
        margin-right: 15px;
        
        .form-control{
            background: #f9f8f1 none repeat scroll 0 0;
            border: 0 none;
            font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
            font-size: 12px;
            height: 38px;
        }
        #CC-searchButton{
            background: #f9f8f1 none repeat scroll 0 0;
            border: 0 none;
            font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
            font-size: 12px;
            height: 38px;
        	margin-left: 0px;
        }
    }
    
  #CC-backToMyAccounts {
    @media @iPadP{
        font-size: 11px;
    }     
  }
  #CC-orderHistory-legend{
        legend{
            font-weight: 800;
            font-family: 'Unna',serif;
            font-size: 24px;
            line-height: 30px;
            text-transform: capitalize;
            width: auto;
            margin-top: 25px;
            
            @media @iPadP{
                font-size: 17px;
            }    
        }
  }
  .linkText {
    width: 100px;
    
    @media @iPadP{
         width: 85px;    
    }
  }
  #orders-info {
    margin-bottom: 12px;
    
    #CC-orderHistory-table-md-lg-sm{
        background: #f9f8f1;
        
        @media @iPadP{
            width: 490px;
        }
    }
    select{
       background: #f9f8f1; 
    }
    thead{
        border-bottom: 2px solid #ddd;
    }
    th{
        font-weight: bold; 
        border: 0;
        padding: 8px;
      
      @media @iPadP{
          font-size: 11px;
      }
    }
    td{
        border-top: 0;
        padding: 8px;
        border-bottom: 1px solid #eee;
        vertical-align: top;
          
        @media @iPadP{
            font-size: 11px;
            padding: 3px;
        }
        
        button{
            width: 115px;
            
            @media @iPadP{
                width: 100px;
            }
        }
    }
    .image.span2 {
      font-weight: bold; 
      border: 0; 
      border-bottom: 1px solid #eee;
    }
    .input-qty {
      width: 45px;
      margin-bottom: 10px;
      height: 30px;
      padding-left: 6px;
      padding-right: 6px;
    }
    .image img {
      max-width: 62px;
    }
    .price,
    .total {
      text-align: right;
    }
    .quantity {
      white-space: nowrap;
      a, input {
        display: inline-block;
      }
    }
    .notify {
      text-align: left;
      padding-left: -8px;
    }
    .name a {
      color: @grayDark;
      font-weight: bold;
    }
    
    @media @iPadL{
        padding: 0;    
    }
    @media @iPadP{
        padding: 0;
    }
  }
  
  .cc-account-back-link {
    top: 24px;
  }
  
  .cc-copy-to-cart-button{
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.428571429;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #195d8e;
    border: 1px solid #0e324d;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    border-radius: 4px;
    }
  
  #CC-backToAccount-xs {
    margin-bottom: 20px;
  }
  
  #CC-orderHistoryFilter{
    margin-bottom:10px;  
    }
  
  #CC-orderList-statusFilter {
    display:inline;
    width : 100%;
    padding : 2px 7px;
    cursor: pointer;
    
    @media @iPadP{
        font-size: 11px;
    }
  }
}
#cc-placeOrder-ModalContainer {
  @media (min-width: 768px) {
    .modal-dialog {
      width: 385px;
    }
  }
  .modal-footer {
    padding-top : 0px;
    border-top: 0px;
  }
  .modal-body {
    font-size: 1.25rem;
  }
  
  #modal-copy-order-ok {
    width: 70px;
    float: right;
    margin-left: 10px;
  }
}