#CC-orderDetails{
    #CC-orderDetails-account-title{
        margin: 10px;
    }
    .order-details-info{
        margin: 20px;    
    }
    .row{
        #CC-myaccount-header{
            h2{
                font-weight: 800;
                margin: 0;
                color: #000;
                font-family: 'Unna',serif;
                font-size: 24px;
                line-height: 30px;
                text-transform: capitalize;
                width: auto;
                padding-bottom: 3px;
            }   
        }
    }
    .cc-profile-legend-title {
        font-weight: 800;
        margin: 20px;
        color: #000;
        font-family: 'Unna',serif;
        font-size: 20px;
        line-height: 30px;
        text-transform: capitalize;
        border-bottom: 1px solid #000;
    }
    #CC-orderDetails-table{
        border: 1px solid;  
    }
    .alignChild {
        left: -14px;
        position: relative;
    }
    #CC-backToMyOrders-link {
        text-decoration: none;
    }
    .titleText {
        color: #3d3d3d;
        font-weight: bold;
    }
    .image img {
        width: 100%;
      }
    #CC-orderDetailsTable{
        border-bottom:1px solid;
        margin: 0;
      }
    #CC-orderDetailsTable th {
        font-weight: bold;
        border: 0;
        white-space: nowrap;
      }
    #CC-orderDetailsTable td {
        border-bottom: 0;
        border-top: 1px solid;
        vertical-align: top;
      }
    #CC-orderDetailsTable > tbody small {
        color: @gray;
        font-size: @fontSizeMini;
        line-height: @smallLineHeight;
      }
    #CC-orderDetailsTable .centeredText {
      text-align: center;
      }
    #CC-orderDetails table td {
        vertical-align: top;
      }
    .removePadding {
       padding-left: 0px;
      }
    #CC-orderDetails-itemTotal {
        padding-right: 25px;
      }
    #CC-orderDetails-shippingAddressAndMethodText {
        font-size: 17px;
        font-weight: 600;
      }
      
    .CC-orderDetails-itemShippingSurcharge {
        font-weight: 600;
        font-size: 11px;
      }
      
    #CC-orderDetails-ShipAdressText,
    #CC-orderDetails-ShipAdressText-xs,
    #CC-orderDetails-ShipMethodText {
        padding-right: 10px;
      }
    #CC-orderDetails-shipping-priceInfo {
        padding-top: 20px;
        border: 1px solid;
        margin-bottom: 10px;
      }
      @media (min-width: @screen-sm){
         solidFrame {
        }
      }
    .section-orderDetails {
        line-height: 30px;
      }
    .discount {
        padding-left: 10px;
        padding-top: 5px;
      }
    #CC-orderDetails-priceDetails-mobile {
        border-top: 1px solid #ABA8A8;
        border-bottom: 1px solid #ABA8A8;
        background: #e7e7e7;
        margin: 0px;
      }
    .shipping-address-table {
        vertical-align: top;
      }
    #CC-orderDetails-orderTotal {
        padding-top: 15px;
      }
    #CC-orderDetails-ShipAdressText {
        vertical-align: top;
      }
    .breakWord {
        word-wrap: break-word;
      }
 }
