#CC-customerProfile {
    fieldset{
            margin: 25px 0 0 0;
            legend{
                border: 0 none;
                margin-bottom: 0;
                
                .head_title{
                    border-bottom: 1px solid @commoncolor;
                    width: 100%;
                    font-weight: 800;
                    font-size: @fs20;
                    text-transform: capitalize;
                    display: block;
                    line-height: 24px;
                    padding: 0px 0px 5px;
                    margin-bottom: 0px;
                    font-family: @SiteSecondaryFontFamily;
                    color: @black;
                    @media @tablet{
                        font-size: @fs16;
                        line-height: 16px;
                        padding: 0 0 4px;
                    }
                }
            }
        }
    .CC-customerProfile-userEditDetails-title{
        h1{
            font-weight: 800;
            margin: 0;
            color: #000;
            font-family: 'Unna',serif;
            font-size: 24px;
            line-height: 30px;
            text-transform: capitalize;
            width: auto;
            position: relative;
            border-bottom: 1px solid #b7b6ae;
            padding-bottom: 3px;
        }
    }
    .cust_details{
        margin-top: 22px;
        @media @tablet{
            margin: 22px 15px 0;
        }
       @media @iPhone{
            margin: 22px 5px 0;
        }
        label{
            color: @black;
            font-family: @SiteFontFamily;
            font-size: @fs12;
            font-weight: 800;
            margin: 15px 15px 12px 0;
            max-width: 130px;
            line-height: 12px;
            
            @media @tablet{
                margin: 12px 25px 8px 0;
            }
        }
        label.label-gender{
            font-weight: 300;
            font-size: @fs13;
            cursor: pointer;
        }
        .form-group{
            @media @tablet{
                margin-bottom: 8px;
            }
            .control{
                .form-control[disabled]{
                    background-color: @Globalcolor;
                }
                .form-control{
                    border: 1px solid @bordercolor3;
                    box-shadow: none;
                    max-width: 225px;
                    height: 40px;
                    font-size: @fs12;
                    border-radius: 2px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background-color: @Globalcolor;
                    font-weight: 300;
                    
                    @media @tablet{
                        max-width: 100%;
                        /*font-size: @fs16;*/
                    }
                }
                input[type="radio"]{
                    vertical-align: top;
                    margin: 8px 5px 0 0;
                    background-color: transparent;
                    outline: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    cursor: pointer;
                    position: relative;
                    top: 7px;
                    @media @tablet{
                        margin-top: 5px;
                    }
                    &:after{
                        width: 15px;
                        height: 15px;
                        border-radius: 15px;
                        top: -1px;
                        left: 0;
                        position: relative;
                        content: '';
                        display: inline-block;
                        visibility: visible;
                        background-color: transperent;
                        border: 1px solid @commoncolor;
                    }
                }
                input[type="radio"]:checked{
                    /*display: none;*/
                    &:after{
                        width: 15px;
                        height: 15px;
                        border-radius: 15px;
                        top: -1px;
                        left: 0px;
                        position: relative;
                        background: url(/file/general/radio_act.png) no-repeat;
                        background-color: transperent;
                        content: '';
                        display: inline-block;
                        visibility: visible;
                        background-size: contain;
                    }
                }
                input[type="radio"]:checked + label{
                    font-weight: 800;
                }
                
            }
        }
    }
    .cc-customer-profile-save-cancel {
        margin-top: 30px;
        margin-right: 0px;
        padding-left: 50px;
    }
    .cc-customer-profile-save-cancel {
        .cc-customer-profile-button{
            margin: 0;
            max-width: 225px;
            font-weight: 800;
            @media @tablet{
                margin: 20px auto 0;
                max-width: 100%;
            }
        }
    }
    .label_align {
        width: 140px;
        padding: 0;
        @media @iPadP{
            width: 120px;
        }
    }
    select.form-control{
        float: left;
        width: 82px;
        margin-right: 18px;
        background: url(/file/general/select_drop.png) no-repeat 88% 50% @Globalcolor;
        @media @iPadP{
            width: 68px;
            margin-right: 5px;
        }
        @media @tablet{
            width: 31%;
            margin-right: 8px;
        }
        
        &:last-child{
            margin-right: 0;
        }
    }
    
    fab-required {
        content: ' *';
        display:inline;
    }
    
    .mobile-no{
        position: relative;
        .edit-mobile-no{
            position: absolute;
            top: 8px;
            right: 40px;
            cursor: pointer;
            @media @iPadL{
                top: 9px;
                right: -30px;
            }
            @media @iPadP{
                top: 9px;
                right: -30px;
            }
            @media @tablet{
                right: -30px;
            }
          img {
              width: 18px;
              @media @iPadL{
                    width: 22px;
                }
                @media @iPadP{
                    width: 20px;
                }
                @media @tablet{
                    width: 22px;
            }
          }  
        }
    }
    
    .disabled{
        cursor: default;
        pointer-events: none;
    }
    .generateOTP-btn{
        max-width: 225px;
        width: 100%;
        @media @tablet{
            max-width: 100%;
        }
    }
    .otp_txt{
        display: inline-block;
        margin: 10px 0 0px 45px;
        @media @tablet{
            margin: 10px 0 0 60px;
        }
        @media @iPhone{
            margin: 10px 0 0 35px;
        }
    }
    
    .resend_otp{
          margin: 10px auto;
          span{
            display: inline-block;
            color: @black;
          }
          a{
            font-size: @fs12;
            font-weight: 300;
            margin-bottom: 5px;
            display: inline-block;
            line-height: 14px;
            color: @magentacolor;
            margin: 0 0 0 10px;
          }
    }
}
