
  .cc-reader-text {
    display:none;
  }

  .listing-title{
    font-size: 1.3em;
    font-weight: lighter;
    padding: 10px 0 5px 0;
  }
  .price{
    color: #0096b1;
    font-weight: bold;
    font-size: 1.3em;
  }

  .product-title{
    font-weight: lighter;
    padding: 10px 0 5px 0;
  }

  .product-price{
    color: #195d8d;
    font-weight: Bold;
    font-size: 2.8em;
  }

  .thumbnail{
    background:#f1fafe;
  }
  .thumbnails {
    margin-left: -20px;
    list-style: none;
    *zoom: 1;
  }

  .thumbnails:before,
  .thumbnails:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .thumbnails:after {
    clear: both;
  }
  .row .thumbnails {
    margin-left: 0;
  }

  .thumbnails > li {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .thumbnails:before {
    margin-left: 0;
  }
  .cc-thumbnail {
    width: 100px;
  }

  .cc-item-title a:hover {
    color: #000000;
  }

  #cc-product-listing-title {
    line-height: 1.1;
  }

  .quick-view {
    position: absolute;
    display: none;
    padding: 5px 10px;
    background-color: #195d8d;
    color: white;
    border: 1px dotted white;
    cursor: pointer;
    z-index: 9;
    bottom: 0;
    p {
        font-weight: bold;
        margin: 0;
        font-size: @fs10;
        line-height: 35px;
    }
  }

  #product-grid {
    .row {
      vertical-align: middle;
      

      .cc-product-item {
        overflow:hidden;
        /*height: 95%;*/
        height: auto;
        vertical-align: top;
        @media @iPad{
            /*height: 68%;*/
        }
        

        .cc-item-detail{
          /*height:64%;*/
          height: auto;
          text-align:center;
          position: relative;
          a {
            height:100%;
            img {
              /*height:100%; */
              @media @iPad{
                
              }
              @media @tablet{
                
              }
            }
          }
          a:focus {
            outline: 0;
          }
          .quick-view {
        /*    left: 32%;
            top: 50%;
            bottom: 9%; */
          }
        }
        .cc-item-detail:hover {
          .quick-view {
            display:inline-block;
                @media @iPad{
                display: none;
            }
            @media @tablet{
                display: none;
            }
          }
        }
        .cc-item-title{
          
          display:inline-block;
          overflow:hidden;
          width: 100%;
          color: #195d8d;
          font-weight: Bold; text-align: center;
          a:focus {
            outline:none;
            color:#000000;
          }
          p {
            text-align:left;
            @media @tablet{
                text-align: center;
            }
          }
        }
        .cc-item-price{
          /*height:15%;*/
          margin-bottom:10px;
          color: @magentacolor; 
          text-align: left; 
          @media @tablet{
              text-align: center;
          }
        }
      }
    }
  }

  #CC-refinyByButton-mobile {
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn-group {
    position: relative;
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    font-size: 0;
    vertical-align: middle;
    white-space: nowrap;
    *margin-left: .3em;
    z-index: 0;
  }
  .btn-group:first-child {
    *margin-left: 0;
  }
  .btn-group + .btn-group {
    margin-left: 5px;
  }
  .btn-group > .btn {
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .btn-group > .btn + .btn {
    margin-left: -1px;
  }
  .btn-group > .btn,
  .btn-group > .dropdown-menu {
    font-size: 14px;
  }
  .btn-group > .btn-xs {
    font-size: 11px;
  }
  .btn-group > .btn-sm {
    font-size: 12px;
  }
  .btn-group > .btn-lg {
    font-size: 16px;
  }
  .btn-group > .btn:first-child {
    margin-left: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
  }
  .btn-group > .btn:last-child,
  .btn-group > .dropdown-toggle {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
  }
  .btn-group > .btn.large:first-child {
    margin-left: 0;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
  }
  .btn-group > .btn.large:last-child,
  .btn-group > .large.dropdown-toggle {
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
  }
  .btn-group > .btn:hover,
  .btn-group > .btn:focus,
  .btn-group > .btn:active,
  .btn-group > .btn.active {
    z-index: 2;
    outline: 0;
  }
  .btn-group .dropdown-toggle:active,
  .btn-group.open .dropdown-toggle {
    outline: 0;
  }
  .btn-group > .btn + .dropdown-toggle {
    padding-left: 8px;
    padding-right: 8px;
    -webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    *padding-top: 5px;
    *padding-bottom: 5px;
  }
  .btn-group > .btn-mini + .dropdown-toggle {
    padding-left: 5px;
    padding-right: 5px;
    *padding-top: 2px;
    *padding-bottom: 2px;
  }
  .btn-group > .btn-small + .dropdown-toggle {
    *padding-top: 5px;
    *padding-bottom: 4px;
  }
  .btn-group > .btn-large + .dropdown-toggle {
    padding-left: 12px;
    padding-right: 12px;
    *padding-top: 7px;
    *padding-bottom: 7px;
  }

  #CC-product-listing-results-text span {
    font-weight: bold;
    margin: 20px 0;
  }

  #cc-area-controls {
    margin: 15px 0;
    padding: 0;
    @media @iPadP{
        padding:0;
    }
    

    .col-sm-7 span{
      font-weight: bold;
      margin-right:1px;
    }

    .col-sm-5 span{
      font-weight: bold;
      margin-right:1px;
    }
    #CC-product-listing-viewby-controls{
        @media @iPad{
            text-align: left;
            width:28%;
        }
        @media @tablet{
            text-align: left;
            width: 100%;
        }
    }
  }

  #CC-productList-GridButton {
    margin-right:5px;
  }

  #cc-product-listing-sortby-label-div {
    text-align: right;
    padding-right: 8px !important;
    @media @iPadP{
        text-align: right;
        padding-right: 2px !important;
    }
    @media @tablet{
        text-align: left;
        padding-right: 8px !important;
    }
  }
  
  #cc-product-listing-collection-label-div {
    text-align: right;
    padding-right: 8px !important;
    padding-top: 6px;
    @media @iPadP{
        text-align: right;
        padding-right: 2px !important;
    }
    @media @tablet{
        text-align: left;
        padding-right: 8px !important;
    }
  }

  #cc-product-listing-result-text {
    min-height: 30px;
    font-weight: bold;
  }

  
  @media @iPadP{
      #CC-product-listing-viewby-controls {
          padding-right: 0px;
          padding-left:0;
        }
        #CC-product-listing-sortby-controls {
          margin-left: 0;
        }
      
    }

  #CC-product-listing-sortby-label {
    font-weight:bold;
    line-height:normal;
    padding-top: 5px;
  }
  
  #CC-product-listing-controls {
    @media (max-width: 767px) {
      .pull-right {
        float:none !important;
      }

      .btn-group {
        .dropdown-menu {
          right:auto;
        }
      }
    }
  }

  #product-list {
    .row {
  /*
      border-radius:4px;
      border: 1px solid #CFCFCF;
  */
      padding-bottom:10px;
      padding-top:15px;
      min-height: 120px;
    }
    .alternate {
      background-color:#EFEFEF;
    }
    .cc-product-heading {
      text-decoration:underline;
    }
    .cc-product-description {
      display:block;
    }
    .cc-product-price {
      vertical-align: middle;
      text-align: right;
      color: #195d8d; font-weight: Bold; font-size: @fontSizeLarge;
    }
    .quick-view {
     /* left: 22%;
      top: 60%; */
    }
    .cc-item-detail:hover {
      .quick-view {
        display:inline-block;
        @media @iPad{
            display: none;
        }
        @media @tablet{
            display: none;
        }
      }
    }
  }

  .cc-product-price .label-danger{
    background-color: #e50000;
    margin-left:10px;
    padding: 2px 4px 2px 4px;
    font-size: 70%;
  }

  .cc-sale-price {
    color: @pricecolor;
  }

  .cc-list-price {
    line-height:     inherit;
    text-align:      inherit;
    display: inline-block;
    margin: 0;
    span{
        color: @footerfontcolor;
        text-decoration: line-through;
    }

  }

  .cc-item-price .label-danger{
    background-color: #e50000;
    margin-left:10px;
    padding: 2px 4px 2px 4px;
    font-size: 70%;
  }

  .cc-item-price {
    /*min-height:45px;*/
    font-family: @SiteFontFamily;

    p {
      margin-bottom:0px;
      font-family: @SiteFontFamily;
    }
  }

  .cc-product-item-img {
    width: 190px;
    height: 145px;
    margin: 5px auto 5px;
    text-align: center;

    img{
       max-width: 100%;
       vertical-align:middle;
       border:0;
    }
  }

  .well {
    background-color:white;
    border-radius:0px;
  }

  #cc-product-spinner .row{
    height:70px;
  }

  #cc-product-spinner-area{
    position:relative;
  }

  #cc-paginated-controls {
    margin-bottom: 10px;

    .btn:focus {
      border: 0 none;
      outline: 0;
    }
  }

  .cc-text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin-top: 5px;
    @media @iPad{
        line-height: 16px;
    }
  }

  #cc-productlisting-didYouMeanTerms {
    display: inline-block;
    font-weight: bold;
  }

  #cc-productlisting-didYouMean {
    font-size: @fs12;
    color: @footerfontcolor;
    text-transform: capitalize;
    line-height: 15px;
    float: none;
    padding: 5px 0 5px;
    display: block;
    margin: 0;
    font-family: @SiteSecondaryFontFamily;
    font-weight: 400;
    border: 0 none;
    position: absolute;
    overflow: hidden;
    height: 18px;
    width: 45%;
    padding: 5px 0;
    bottom: 7px;
    top: 40px;
    @media @iPadP{
        top: auto;
    }
    
    @media @tablet{
        border-bottom: 1px solid @bordercolor3;
        position: relative;
        padding: 5px 0 5px;
        height: auto;
        width: auto;
        top: auto;
    }
  }
  #cc-productlisting-noSearchResults{
        position: relative;
        padding: 6px 0px;
  }

  #cc-productlisting-noSearchResults {
    font-weight: bold;
  }

  @media (max-width: 480px) {
    #product-grid .row{
      height:250px;
    }
  }

}


.search_result{
    @media @tablet{
        margin: 0 -30px;
    }
    .fab_title_row{
            background: @Globalcolor;
            margin: 0 5px;
            @media @tablet{
                background: transparent;
                margin: 0 5px;
            }
            h2{
                font-size: @fs20;
                padding: 20px 0px;
                font-weight: 400;
                text-transform: capitalize;
                margin: 0;
                font-family: @SiteSecondaryFontFamily;
                @media @iPadP{
                    font-size: @fs18;
                }
                @media @tablet{
                    font-size: @fs14;
                    padding: 0;
                    color: @lightblack;
                    text-transform: capitalize;
                    line-height: 18px !important;
                    float: none;
                    padding: 0px;
                }
            }
       .search_title{
            @media @iPadP{
            }
            @media @tablet{
                float: none;
                width: 100%;
            }
        }
        .sort_options{
            @media @iPadP{
                width: 100%;
            }
            
            @media @tablet{
                float: right;
                width: 30%;
            }
            .control-label{
                margin-bottom: 0;
                display: inline-block;
                position: relative;
                font-weight: 300 !important;
                line-height: 26px !important;
                font-family: @SiteFontFamily;
                font-size: @fs12;
                @media @iPadP{
                    font-size: @fs10;
                    padding-right: 3px;
                }
            }
            select.form-control{
                display: block;
                margin-top: 4px;
                background: url(/file/general/select_arrow.png) no-repeat 92% 50% #f9f8f1;
                border: 1px solid @bordercolor3;
                box-shadow: none;
                border-radius: 3px;
                font-weight: 300;
                line-height: 17px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                font-family: @SiteFontFamily;
                font-size: @fs11;
                padding: 0 5px;
                height: 28px;
                background-size: 8px;
                @media @tablet{
                    font-size: @fs10;
                    width: 100%;
                    padding: 5px 12px 6px 3px;
                    margin-top: 0;
                }
            }
            .btn-group{
                .prod_listview {
                    background: url(/file/general/threex.png) left center no-repeat;
                    width: 31px;
                    height: 28px;
                    margin-top: 0;
                    border-radius: 0 !important;
                    opacity: 0.3;
                    box-shadow: none;
                    @media @tablet{
                        background: url(/file/general/onex.png) left center no-repeat;
                        width: 28px;
                        left: 30px;
                    }
                }
                .prod_listview.active{
                    opacity: 1;
                    cursor: default;
                }
                .prod_gridview{
                    background: url(/file/general/fourx.png) left center no-repeat;
                    width: 39px;
                    height: 28px;
                    margin-left: 3px !important;
                    border-radius: 0 !important;
                    opacity: 0.3;
                    box-shadow: none;
                    @media @tablet{
                        background: url(/file/general/twox.png) left center no-repeat;
                        width: 36px;
                        float:right;
                    }
                }
                .prod_gridview.active{
                    opacity:1;
                    cursor: default;
                }
            }
            .viewBy{
                margin-bottom: 0;
                display: inline-block;
                position: relative;
                font-weight: 300 !important;
                line-height: 26px !important;
                font-family: @SiteFontFamily;
                font-size: @fs12;
                padding-top: 5px;
                @media @iPadP{
                    font-size: @fs10;
                }
                @media @tablet{
                    left: -35px;
                    font-size:15px;
                    padding-top: 0px;
                }
            }
            .form-group{
                @media @tablet{
                    margin-top: 0px !important;
                }
            }
        } 
    }
    .tab-content{
        background: none;
        margin: 0;
        .tab-pane{
            padding: 20px 0 0;
            .cc-product-item.col-sm-4,.cc-product-item.col-sm-3{
                .cc-item-detail.tile_style{
                    .quickViewElement{
                        .quick-view {
                            background: @Globalcolor !important;
                            opacity: 0.7;
                            height: 35px;
                            left: 0 !important;
                            margin: auto;
                            right: 0;
                            padding: 0 !important;
                            p.cc-product-quickview{
                                background: none;
                                color: @black;
                                font-size: @fs12;
                                font-weight: bold;
                                letter-spacing: 5px;
                                text-transform: uppercase;
                                line-height: 38px;
                            }
                        }
                    }
                } 
            }
            .cc-product-item.col-sm-3{
                .cc-item-detail.tile_style{
                    .quickViewElement{
                        .quick-view {
                            
                            
                        }
                    }
                } 
            }
            .cc-product-item.col-sm-4{
                .cc-item-detail.tile_style{
                    .quickViewElement{
                        .quick-view {
                            
                            p{
                                font-size: @fs12 !important;
                            }
                            
                        }
                    }
                } 
            }
            @media @tablet{
                padding: 10px 0 0;
            }
        }
    }
    .all_listed{
        margin: 0 5px 20px;
        font-family: @SiteFontFamily;
        font-size: @fs12;
        text-align: center;
        padding-right: 5px;
        border: 1px solid #dbd8ce;
        border-radius: 4px;
        background: #dbd8ce;
        color: @black;
        font-weight: 800;
        box-shadow: none;
        padding: 10px 0;
        .all_row{
            display: block;
            text-decoration: none;
            color: @black;
            text-decoration: none;
            text-align: center;
            text-transform: capitalize;
        }
    }
}
.cc-product-item.col-sm-3{
    height: auto;
    margin-bottom: 12px;
    padding: 0 8px 0 9px;
    @media @iPadP{
        height: auto;
    }
    @media @iPadL{
        height: auto;
    }
    .customized-slider-wrapper {
      position: relative;
      overflow: hidden;
      
        .customized-slider {
            position: relative;
            left: 0;
            width: 3000px;
            height: 100%;
            transition: transform 0.5s ease 0s;
            overflow: hidden;
            > div {
              float: left;
              > img {
                float: none;
                display: block;
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                margin: 0 auto;
            }
        }
    }
}
    
}

.cc-product-item.col-sm-4{
    height: auto;
    margin-bottom: 12px;
    padding: 0 9px 0 10px;
    @media @iPad{
        height: auto;
    }
    .cc-item-detail{
        height: auto;
        a{
            height: auto;
            .customized-slider-wrapper {
                height: auto;
                max-width: 100%;
                    .customized-slider {
                        > div {
                          float: left;
                          img{
                              height: auto;
                              max-width: 100%;
                          }
                    }
                }
            } 
        }
    }
    .cc-item-detail.tile_style{
        background: @Globalcolor;
        
         .new_product{
            position: absolute;
            top: 10px;
            left: 0px;
            line-height: normal;
                font-size: @fs10;
                text-transform: capitalize;
                padding: 2px 7px;
                background: @white;
                font-weight: 300;
                @media @iPad{
                    font-size: @fs10;
                    padding: 2px 5px;
                }
        }
        .new_sale_product{
            position: absolute;
            top: 10px;
            left: 0px;
            line-height: normal;
                font-size: @fs10;
                text-transform: capitalize;
                padding: 2px 7px;
                background: @white;
                font-weight: 300;
                background-color: #e5cc76;
                @media @iPad{
                    font-size: @fs10;
                    padding: 2px 5px;
                    z-index: 9;
                }
        }
    } 
    .cc-item-price{
        margin-bottom: 5px;
    }
    .product-detail{
        background: @Globalcolor;
        height: 85px;
        overflow: hidden;
        @media @iPad{
            height: 70px;
        }
        @media @tablet{
            height: 60px;
        }
        .cc-item-title{
            text-align: left;
            width: 100%;
            box-sizing: border-box;
            padding: 15px 15px 2px;
            @media @iPadP{
                padding: 8px 10px 2px;
            }
            @media @tablet{
                padding: 8px 10px 2px;
            }
            a{
                p{
                    font-size: @fs12;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-family: @SiteFontFamily;
                    color: @black;
                    text-align: left;
                    margin: 0 !important;
                    line-height: 14px;
                    font-weight: 300;
                }
            }
        }
        .cc-item-price{
            font-size: @fs18;
            padding: 0 14px;
            font-weight: 400;
            color: @pricecolor;
            text-align: left;
            line-height: 15px;
            font-family: @SiteFontFamily;
            @media @iPadP{
                font-size: @fs12;
                padding: 0 10px;
            }
            @media @tablet{
                padding: 0px 10px;
            }
            .cc-list-price{
                margin: 0px 6px 0 0;
                color: @footerfontcolor;
                font-size: @fs18;
                @media @iPadP{
                    font-size: @fs12;
                }
                @media @tablet{
                    line-height: 12px;
                }
                span{
                    text-decoration: line-through;
                    @media @iPadP{
                        font-size: @fs12;
                    }
                    @media @tablet{
                        line-height: 12px;
                        font-size: @fs12;
                    }
                }
            }
            .cc-sale-price{
                font-size: @fs18;
                display: inline-block;
                font-weight: 400;
                font-family: @SiteFontFamily;
                @media @iPadP{
                    font-size: @fs12;
                }
                @media @tablet{
                    font-size: @fs12;
                }
            }
        }
        .cc-size{
            max-width: 180px;
            margin: 0 auto;
            .addSkuSize{
                text-align: center;
                span{
                    display: inline-block;
                    font-size: @fs10;
                    color: @placeholdercolor;
                    margin: 0 5px;
                    line-height: 12px;
                }
            }
        }
    }
    
    .customized-slider-wrapper {
      position: relative;
      overflow: hidden;
     
        .customized-slider {
            position: relative;
            left: 0;
            width: 3000px;
            height: 100%;
            transition: transform 0.5s ease 0s;
            overflow: hidden;
            > div {
              float: left;
              > img {
                float: none;
                display: block;
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                margin: 0 auto;
            }
        }
    }
}
.individual-tile{
    @media @iPad{
        height: auto;
    }
    img{
        @media @iPad{
            height: auto;
            max-width: 100%;
        }
    }
}
}
.cc-product-item.col-sm-3{
    .cc-item-detail{
        height: auto;
        a{
            height: auto;
            @media @iPad{
                height: auto;
            }
            .customized-slider-wrapper {
                height: auto;
                max-width: 100%;
                    .customized-slider {
                        > div {
                          float: left;
                          img{
                              height: auto;
                              max-width: 100%;
                          }
                    }
                }
            } 
            .individual-tile{
                img{
                    @media @iPad{
                        height: auto;
                        max-width: 100%;
                    }
                }
            }
        }
    }
    .cc-item-detail.tile_style{
        background: @Globalcolor;
        
         .new_product{
            position: absolute;
            top: 10px;
            left: 0px;
            line-height: normal;
                font-size: @fs10;
                text-transform: capitalize;
                padding: 2px 7px;
                background: @white;
                font-weight: 300;
                @media @iPad{
                    font-size: @fs10;
                    padding: 2px 5px;
                }
        }
        .new_sale_product{
            position: absolute;
            top: 10px;
            left: 0px;
            line-height: normal;
                font-size: @fs10;
                text-transform: capitalize;
                padding: 2px 7px;
                background: @white;
                font-weight: 300;
                background-color: #e5cc76;
                @media @iPad{
                    font-size: @fs10;
                    padding: 2px 5px;
                    z-index: 9;
                }
        }
    } 
    .product-detail{
        background: @Globalcolor;
        height: 85px;
        overflow: hidden;
        @media @iPad{
            height: 70px;
        }
        @media @tablet{
            height: 60px;
        }
        .cc-item-title{
            text-align: left;
            width: 100%;
            box-sizing: border-box;
            padding: 15px 15px 2px;
            @media @iPadP{
                padding: 8px 10px 2px;
            }
            @media @tablet{
                padding: 8px 10px 2px;
            }
            a{
                p{
                    font-size: @fs12;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-family: @SiteFontFamily;
                    color: @black;
                    text-align: left ;
                    margin: 0 !important;
                    line-height: 14px;
                    font-weight: 300;
                    @media @tablet{
                        text-align: center;
                    }
                }
            }
        }
        .cc-item-price{
            font-size: @fs16;
            padding: 0 14px;
            font-weight: 400;
            color: @pricecolor;
            text-align: left;
            line-height: 15px;
            font-family: @SiteFontFamily;
            margin-bottom: 5px !important;
            @media @iPadL{
                font-size: @fs14;
            }
            @media @iPadP{
                font-size: @fs12 !important; 
                padding: 0px 10px;
            }
            @media @tablet{
                padding: 0px 10px;
            }
            .cc-list-price{
                margin: 0px 6px 0 0;
                color: @footerfontcolor;
                font-size: @fs16;
                @media @iPadL{
                    font-size: @fs14;
                }
                @media @iPadP{
                    font-size: @fs12;
                }
                @media @tablet{
                    line-height: 12px;
                }
                span{
                    text-decoration: line-through;
                    @media @iPadL{
                        font-size: @fs14;
                    }
                    @media @iPadP{
                        font-size: @fs12;
                    }
                    @media @tablet{
                        line-height: 12px;
                        font-size: @fs12;
                    }
                }
            }
            .cc-sale-price{
                font-size: @fs16;
                display: inline-block;
                font-weight: 400;
                font-family: @SiteFontFamily;
                @media @iPadL{
                    font-size: @fs14;
                }
                @media @iPadP{
                    font-size: @fs12;
                }
                @media @tablet{
                    font-size: @fs12;
                }
            }
        }
        .cc-size{
            max-width: 180px;
            margin: 0 auto;
            .addSkuSize{
                text-align: center;
                span{
                    display: inline-block;
                    font-size: @fs10;
                    color: @placeholdercolor;
                    margin: 0 5px;
                    line-height: 12px;
                }
            }
        }
    }
}
@media @tablet{
.cc-product-item.col-xs-12{
    margin-bottom: 20px;
    height: 500px;
    max-width: 345px;
    .cc-item-detail {
        height: auto;
        a{
            
            display: block;
            img{
                height: auto;
                max-width: 100%;
            }
        }
    }
    .cc-item-detail.tile_style {
        .new_product{
            position: absolute;
            top: 10px;
            left: 0px;
            line-height: normal;
                font-size: @fs11;
                text-transform: capitalize;
                padding: 4px 10px;
                background: @white;
                font-weight: 300;
        }
        .new_sale_product{
            position: absolute;
            top: 10px;
            left: 0px;
            line-height: normal;
                font-size: @fs10;
                text-transform: capitalize;
                padding: 2px 7px;
                background: @white;
                font-weight: 300;
                background-color: #e5cc76;
                @media @iPad{
                    font-size: @fs10;
                    padding: 2px 5px;
                    z-index: 9;
                }
        }
    }
    .product-detail{
        height: 102px;
        background: @Globalcolor;
        overflow: hidden;
        .cc-item-title{
            padding: 20px 10px 2px;
            a{
                height: auto;
                display: block; 
                p{
                    font-size: @fs16;
                    line-height: 20px;
                    margin: 0;
                    font-family: @SiteFontFamily;
                    font-weight: 300;
                }
            }
        }
        .cc-item-price{
            font-size: @fs24;
            line-height: 25px;
            font-weight: 400;
            .cc-list-price{
                font-size: @fs24;
                line-height: 25px;
                font-weight: 400;
                span{
                    font-size: @fs24;
                    line-height: 25px;
                    font-weight: 400;
                }
            }
            .cc-sale-price{
                font-size: @fs24;
                line-height: 25px;
                font-weight: 400;
            }
        }
    }
}  
}
@media @tablet{
.cc-product-item.col-xs-6{
    margin-bottom: 8px;
    height: 278px;
    padding: 0 5px;
    .cc-item-detail {
        height: auto;
        a{
            display: block;
            img{
                height: auto;
                max-width: 100%;
            }
        }
    }
    .cc-item-detail.tile_style {
        .new_product{
            position: absolute;
            top: 10px;
            left: 0px;
            line-height: normal;
                font-size: @fs11;
                text-transform: capitalize;
                padding: 4px 10px;
                background: @white;
                font-weight: 300;
        }
        .new_sale_product{
            position: absolute;
            top: 10px;
            left: 0px;
            line-height: normal;
                font-size: @fs10;
                text-transform: capitalize;
                padding: 2px 7px;
                background: @white;
                font-weight: 300;
                background-color: #e5cc76;
                @media @iPad{
                    font-size: @fs10;
                    padding: 2px 5px;
                    z-index: 9;
                }
        }
    }
    .product-detail{
        background: @Globalcolor;
        height: 60px;
        overflow: hidden;
        .cc-item-title{
            padding: 6px 10px 0px;
            a{
                height: auto;
                display: block;
                p{
                    font-size: @fs11;
                    line-height: 14px;
                    font-family: @SiteFontFamily;
                    margin: 0;
                    font-weight: 300;
                }
            }
        }
        .cc-item-price{
            font-size: @fs13;
            line-height: 16px;
            font-weight: 400;
            .cc-list-price{
                font-size: @fs13;
                line-height: 16px;
                font-weight: 400;
                span{
                    font-size: @fs13;
                    line-height: 16px;
                    font-weight: 400;
                }
            }
            .cc-sale-price{
                font-size: @fs13;
                line-height: 16px;
                font-weight: 400;
            }
        }
    }
    
}  
}


.individual-tile{
    @media @iPad{
        position: relative;
        
    }
    
}
.cc-product-item.col-xs-6{
   .individual-tile{
     @media @tablet{
        position: relative;
        background: @Globalcolor;
    }  
   } 
}
.cc-product-item.col-xs-12{
   .individual-tile{
     @media @tablet{
        position: relative;
        background: @Globalcolor;
    }  
   } 
}

.tag_change{
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: normal;
    font-size: 10px;
    text-transform: capitalize;
    padding: 2px 7px;
    font-weight: 300;
    background-color: #8f2c34;
    color: #ffffff;
    display: none;
    @media @tablet{
        left: 5px;        
    }
}
.cc-product-item.col-xs-12 .tag_change{
    @media @tablet {
        left: 0;
    }
}
