// Default Viewer Sizes

.addBorder{
border: 1px solid #000;
}

.notificatonMsgAddToCart {
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    text-align: center;
    z-index: 1000;
    left: 0;
    font-family: 'Muli';
    vertical-align: middle;
    border: 4px solid @black;
    p {
        margin: 0;
        font-weight: 700;
        font-size: @fs16;
        color: @black;
    }
}

#cc-product-details{

  @sfImageViewerHeight: 570px;
  @sfImageViewerWidth: 570px;
  @sfSpinnerMinHeight: @sfImageViewerHeight - 50;
  @sfImageViewerLeft: 600px;

  min-height: 400px;
  
  @media @tablet, @iPadP { margin: 0 -15px; }

  .no-line {
    outline:0;
  }

  .no-left-padding {
    padding-left: 0px;
  }
  
  .no-right-padding {
    padding-right: 0px;
  }
  
  &.onepanel {
    .panel-1 {
      .make-md-column(12);
    }

    .panel-2,
    .panel-3 {
      display: none;
    }
  }

  &.twopanel {
    .panel-1 {
      .make-md-column(6);
    }

    .panel-2 {
      .make-md-column(6);
    }

    .panel-3 {
      display: none;
    }
  }

  &.threepanel {
    .panel-1 {
      .make-md-column(6);
    }

    .panel-2 {
      .make-md-column(6);
    }

    .panel-3 {
      .make-md-column(12);
      margin-top: 30px;
    }
  }

  @media (max-width: 767px) {
    &.onepanel [class*="panel-"],
    &.twopanel [class*="panel-"],
    &.threepanel [class*="panel-"] {
      float: none;
      display: block;
      width: 100%;
      margin-left: 0;
      .box-sizing(border-box);
    }
  }
  
    .product-details-wrapper{
        background: @Globalcolor;
        padding: 27px 0;
        
        @media @tablet, @iPadP {
            text-align: center;
            background: transparent;
            padding: 0;
            
            .panel-1,
            .panel-2,
            .product-image-container{ padding: 0;}
            
            .center-block { 
                width: 60%;
            }
            
            h1[id$='FabindiaB2BProductTitle-id'] {
                margin-top: 20px;
                font-weight: 400;
                font-size: 16px;
            }
        }
        
         @media @phone {
            .center-block { 
                width: 100%;
            }
         }
         
         @media @iPadP {
            text-align: center;
            padding: 0 0 60px;
            background: transparent;
            .center-block { 
                width: 60%;
            }
         }
        
        h1{
            font-family : @SiteFontFamily;
            font-weight: 800;
            font-size: @fs16;
            margin: 0;
            line-height: normal;
        }
        
        p {
            font-family : @SiteFontFamily;
            font-weight: 300;
            color: @black;
            line-height: normal;
            margin-bottom: 0;
            
            .skuTitle { 
                font-family : @SiteFontFamily;
                font-size: 13px;
                color: #000;
            }
            
            span {
                font-family : @SiteFontFamily;
                font-size: 13px;
                font-weight: 300;
                
                @media @iPadP, @tablet { font-size: @fs15;}
            }
            
        }
        
        .oc-panel.panel-1 { padding-left: 0;}
        
        .control-label {
            font-weight: 800;
            font-size: 13px;
            line-height: normal;
            margin: 0 0 4px;
            
            @media @tablet, @iPadP {
              font-weight: 800;
              color: #000;
              font-size: @fs15;
              
               &:after {
                  content: ":";
            }
            } 
            
        }
        
        .control-group {
            margin-right: 2px;
            border-bottom: 1px solid #e2e1da;
            margin-top: 10px;
            
            @media @iPadP, @tablet {
                width: 100%;
                border: 0;
            }
            
            + div { 
                padding-left: 5px; 
                position: relative;
                
                i {
                    position: absolute;
                    right: 5px;
                    top: 17px;
                    
                    @media @iPadP { right: 263px;}
                    @media @tablet { right: 210px;}
                    @media @phone { right: 75px;}
                }
            }
        }
        
        .sale-price { color: #8f2c34;}
        
        .size_icon {
            width: 23px;
            margin-top: -4px;
            
            & + span { 
                margin-left: 0;
                font-size: 13px;
                font-weight: 300;
                
            @media @iPadP, @tablet {
                font-size: @fs15;
             }
            }
        }
        
        div[id$="FabindiaB2BProductImage-id"] {
            padding-left: 0;
        }
        
        div[id$="FabindiaB2BProductColor-id"] {
            margin-bottom: 20px;
            margin-top: 10px;
            
             @media @iPadP, @tablet {
                margin-bottom: 12px;
             }
            
            p {
                font-family : @SiteFontFamily;
                font-weight: 800;
                border-bottom: 1px solid #e2e1da;
                font-size: 13px;
                padding-bottom: 6px;
                
                @media @iPadP, @tablet  {
                    border: 0;
                    margin: 0 auto;
                    color: #000;
                    font-size: @fs15;
                    
                    &:after {
                        content: ":";
                    }
                }
            }
            
            img {
                margin-top: 10px;
                @media @tablet{
                    width: auto;
                    margin: 0 auto;
                }
                
                @media @iPadP{
                    width: auto;
                    margin: 0 auto;
                }
            }
            .product-swatches{
                display: inline;
                border-radius: 50%;
                padding: 3px;
                margin: 9px 4px;
            }
            
        }
        
        div[id$="FabindiaB2BProductQuantity-id"]{
            margin-top: 4px;
            width: auto;
            
            @media @iPadP, @tablet  { 
                width: 100%;
                margin: 10px 0 16px;
            }
            
            .number-spinner {
                width: auto;
                margin: 0 auto;
                display: inline-block;
                float: none;
                border: 1px solid #000;
                padding: 0;
            }
        }
        
        .addToCartQtyBox {
            margin-bottom: 15px;
            
            @media @iPadP, @tablet {
                border-bottom: 0;
                position: relative;
                min-height: 100px;
                margin-bottom: 5px;
            }
            
            label {
                font-weight: 800;
                font-size: @fs15;
                color: @black;
            }
            
            label:after {
                content: ":";
            }
        }
        
        .outOfStockMsg {
            margin-top: 5px;
            padding: 0;
            font-weight: 700!important;

            @media @iPadP, @tablet {
                margin-bottom: 5px;
                font-size: 14px !important;
            }
        }
        
        .colorVariantsContainer {
            border-bottom: 1px solid #e2e1da;
            padding: 10px 0;
            
            img { min-height: 20px;}
        }
        
        .control-group + div li { 
                display: inline-block;
                margin-bottom: 5px;
        }
            
        button.size_box {
            background: transparent;
            box-shadow: none;
            font-size: 13px;
            padding: 4px 12px;;
            text-shadow: none;
            border: 1px solid #7f7d75;
            line-height: normal;
            min-width: 58px;
            font-family: @SiteFontFamily;
            font-weight: 300;
            margin-bottom: 5px;
            
            &[disabled = 'true']{
                text-decoration: line-through;
            }
            
            &.activeAlpha { 
                background: @buttonBgColor;
                &:focus { border: 1px solid #7f7d75;}
            }
        }
        
        .size-guide {
            vertical-align: middle;
            margin-top: 15px;
            display: block;
            text-align: right;
            
            a:hover,
            a:visited,
            a:active,
            a:focus{
                text-decoration: none;
            }
            
            @media @iPadL { padding-left: 0;}
            
            @media @tablet, @iPadP {
                margin-top: 20px;
                padding-bottom: 20px!important; // Added !important to overide bootstrap styling for no-padding
                //border-bottom: 1px solid #a0a0a0;
                text-align: center;
                
                &:after {
                    content: "";
                    background: #a0a0a0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    /* top: 0; */
                    right: 0;
                    width: 70%;
                    margin: 0 auto;
                    height: 1px;
                }
                
            }
        }
        
        .variantContainer {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            
            @media @tablet, @iPadP { padding: 10px 0; }
            
            ul {
                margin-top: 16px;
                @media @tablet, @iPadP {  margin-top: 8px; }
            }
        }
        
        .cc-item-price {
            font-size: 25px;
            font-weight: 800;
            margin: 10px 0 25px;
            color: #000;
            border-top: 1px solid #e2e1da;
            padding-top: 17px;
            
            div {
                display: inline-block;
                margin-top: 9px;
            }
            
            .taxMsg { margin-top: 8px;}
            
            .list-price {
                margin-right: 5px;
                span {
                    text-decoration: line-through;
                    color: @black;
                }
            }
            
            #CC-prodDetails-priceMin { margin-right: 5px;}
            
            @media @tablet, @iPadP {
                border-top: 0;
                //border-bottom: 1px solid #a0a0a0;
                font-size: 22px;
                font-weight: 400;
                margin: 0;
                padding-bottom: 20px;
                padding-top: 10px;
                position: relative;
                
                &:after {
                    content: "";
                    background: #a0a0a0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    /* top: 0; */
                    right: 0;
                    width: 70%;
                    margin: 0 auto;
                    height: 1px;
                }
            }
            
        }
        
        
        .shipping-details {
            h4 {
                font-family: @SiteFontFamily;
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 0;
                line-height: normal;
                color: #464647;
            }
            
            p { 
                font-size: 15px;
                color: #464647;
            }
        }
        
        .featureDetails {
            table {
                td{
                    @media @tablet, @iPadP {
                        padding-right: 20px;
                    }
                }
            }
        }
        
        .input-group-btn {
            float: left;
            width: 38px;
            
            @media @iPadL {width: 36px; }
            .btn {
                background-color: transparent;
                height: 29px;
                width: 35px;
                font-size: 14px;
                font-weight: bold;
                border-radius: 0px;
                padding: 0px;
                border: 0px;
                line-height: normal;
                outline: none;
                
                span { 
                    font-size: 22px;
                    vertical-align: 29px;
                    line-height: 26px;
                }
                
                @media @tablet { background-color: transparent;}
                @media @iPadP { background-color: transparent;}
            }
        }
        
        .form-control {
            margin: 0;
            border-radius: 0px;
            padding: 0px;
            font-size: 12px;
            border: 0px;
            float: left;
            width: 46px;
            text-align: center;
            background-color: transparent;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            min-height: 29px;
            
            @media @iPadP, @tablet {
                width: 55px;
            }
            
            &.cc-skuDropdown {
                width: 100%;
                border: 1px solid #7f7d75;
                padding: 5px 8px;
                -webkit-appearance: none;
                position: relative;
                z-index: 9;
                margin-top: 10px;
                
            @media @iPadP, @tablet {
                max-width: 200px;
                float: none;
                margin: 0 auto;
            }
            }
        }
        
        .featuresDetail{
            td{
              @media @tablet,@iPadP { 
                 padding-right: 10px;
             }  
            } 
        }
        
        .gotoDetailsbtn {
            a {
                border: 1px solid #585855;
                padding: 12px 35px;
                border-radius: 4px;
                font-weight: 700;
                float: right;
                margin-right: -22px;
                position: absolute;
                bottom: 0;
                right: 25px;
                
                &:hover {
                    color: inherit;
                }
                
                i {
                    font-weight: bold;
                    margin-left: 5px;
                }
            }
        }
    }

  #cc-magnifier-image {
    position: absolute;
    overflow: hidden;
    height: @sfImageViewerHeight;
    width: @sfImageViewerWidth;
  }
  
  #cc-prodDetails-shipping-surcharge {
    margin-top: -3.8%;
  }
  
  #cc-prodDetails-shipping-surcharge-element {
    color: @black;
  }

  #cc-magnifier-image-zoom{
    position: relative;
    left: @sfImageViewerLeft;
    overflow: hidden;
    height: @sfImageViewerHeight;
    width: @sfImageViewerWidth;
  }

  #cc-product-spinner{
    position:absolute;
    min-height:@sfSpinnerMinHeight;
    width:@sfImageViewerWidth;
  }

  #cc-spinner {
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;

    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-pack: center;

    display: box;
    box-orient: vertical;
    box-pack: center;

    background-color: transparent;
  }

  #cc-zoom-image {
    height: @sfImageViewerHeight;
    width: @sfImageViewerWidth;
  }

  .cc-viewer-pane {
    &:focus {
      border : 2px solid;
      border-color : @gray;
    }
    #cc-image-viewer {
      width: 100%;
    }
  }

  .prodDetails-price{
    color : @white;
    font-family : @SiteFontFamily;
    font-size : @fs32;
    line-height : 40px;
  }

  @media @tablet {
    #image-options {
      margin-top:15px;
    }
  }

  .text-100001 {
    color: @error;
  }

  .prodDetails-addedToCart {
    width:88px;
    display:block;
  }

  #cc-prodDetailsAddToCart {
    .btn-lg;
    border-radius: @ButtonPrimaryBorderRadius;
  }

  #cc-cpqmodalpane {
  @media @tablet {
    .cc-modal-dialog {
      width:75%
    }
  }
  
  #cc-cpqConfiguration-frame {
    height:800px; 
    border: 0px none; 
    width: 100%; 
  }
 }
 
 
  #prodDetailsAddToSpace {
    border-radius: @ButtonSecondaryBorderRadius;
  }
  
      /* Vertical Slider */

    .vertical .carousel-inner {
      height: 100%;
    }

    .carousel.vertical .item {
      -webkit-transition: 0.6s ease-in-out top;
         -moz-transition: 0.6s ease-in-out top;
          -ms-transition: 0.6s ease-in-out top;
           -o-transition: 0.6s ease-in-out top;
              transition: 0.6s ease-in-out top;
    }

    .carousel.vertical .active {
      top: 0;
    }

    .carousel.vertical .next {
      top: 100%;
      display: none;
    }

    .carousel.vertical .prev {
      top: -100%;
      display: none;
    }

    .carousel.vertical .next.left,
    .carousel.vertical .prev.right {
      top: 0;
    }

    .carousel.vertical .active.left {
      top: -100%;
    }

    .carousel.vertical .active.right {
      top: 100%;
    }

    .carousel.vertical .item {
        left: 0;
    }

  #prodDetails-imgCarousel {
    position: relative;
      .carousel-control {
        position: static;
        width: 30px;
        line-height: 10px;
        background: @white;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        display: block;
        box-shadow: none;
        text-shadow: none;
        color: #000;
        background: none;
        margin: 0 auto;
        opacity: 1;
        
        i {
            color: #000;
            font-size: 26px;
            
        }
      }
      .right.carousel-control {
          left: auto;
          right: 10px;
      }

    .carousel-indicators {
      position: relative;
      display: block;
      text-align: center;
      top: 15px;
      padding: 0 0 10px 0;
      li {
        display: inline-block;
        float: none;
        text-align: center;
        background-color: @grayLight;
      }
      .active {
        background-color: @grayDarker;
      }
    }
    .carousel-inner {
      min-height: 98px;
      .item {
        img {
          margin: 0 auto;
          width: 100%;
        }

        .thumbnail-container {
          padding: 0;
          margin: 0 auto;
          float: none;
          
           .thumbnail {
                border: 0;
                padding: 0;
           }
        }
        .thumbnail-container:first-child {
          
          .thumbnail { margin-top: 10px;}
        }
        .thumbnail-container:last-child {
          
          .thumbnail { margin-bottom: 10px;}
        }

        img {
          margin: 0 auto;
        }

        img.thumbnail-img {
          max-width: 90%;
        }
        .thumbnail:focus, .thumbnail:hover {
          outline: 0;
        }

      }
    }
    
.carousel-inner {
  height: 100%; /*Note: set specific height here if not, there will be some issues with IE browser*/
}

.carousel-inner > .active {
  top: 0;
  left: auto;
}
  }

  #prodDetails-mobileCarousel {
    .carousel-indicators {
      position: absolute;
      display: block;
      text-align: center;
      bottom: 0;
      right: 0;
      z-index: 8;
      li {
        display: inline-block;
        float: none;
        text-align: center;
        background-color: @white;
        border: 1px solid #e2e1da;
      }
      .active {
        background-color: @black;
      }
      
      @media @tablet, @iPadP { background: none; }
    }
    
  }

  .cc-skuDropdown {
    font-size: 1rem;
    padding-top: 0px;
    padding-bottom: 0px;
    height:20px;
  }
  
  .cc-numericField {
    text-align: right;
    padding-top: 0px;
    padding-bottom: 0px;
    height:20px;
  }

  .no-line {
    outline:0;
  }
  
  @media @desktop {
    .back-link {
      padding-bottom: 20px;
    }
    .back-link .col-md-12 {
      padding-left: 0px;
    }
  }
  
    /* small text needs to be darker for a11y */
  small { 
    color:  @black;

    &.shippingSurchargePopover { 
      cursor: help;

      &:hover {
        text-decoration: underline;
      }

    }
  }

  button.close {
    font-size: @fontSizeLarge; 
    color:  @black; 
    opacity: 0.8;
    filter: alpha(opacity=80);

    &:hover {
      opacity: 1;
      filter: alpha(opacity=100);
    }

  }

  #CC-shippingSurcharge-whatsThis {
    color: @LinkColor;
    &:hover {
      color: @LinkHoverColor;
    }

    &.visible-phone { 
      text-align: right; 
    }
  }

  .popover {
    width: 100%;
  }
  
  .swm-add-to-wishlist-selector {
    .dropdown-header {
      font-size: @SiteFontSize;
      font-weight: bold;
      color: @SiteTextColor;
      padding: 3px 10px;
    }
    .dropdown-menu > li > a {
      padding: 3px 25px;
      .text-overflow();
    }
    ul.dropdown-menu {
      max-width : 270px;
    }
  }
  
  .social-share-div {
    padding-top: 10px;
    
    a {
      text-decoration: none;
    }
  }
  
  .social-modal-body-xs-scroll {
    overflow-y: auto;
    @media (min-width: @screen-sm-min) {
      overflow-y: hidden;
    }
  }
  
  .social-email-icon {
    color: #999999;
  }
  .social-facebook-icon {
    color: #3B5998;
  }
  .social-twitter-icon {
    color: #4099FF;
  }

    
    #cc-prodDetailsAddToCart{
        padding: 10px;
        border-radius: 3px;
        width: 100%;
        max-width: 170px;
        font-weight: 800;
        color: #000;
        font-size: 13px;
        font-family: @SiteFontFamily;
        
        @media @tablet,@iPadP { 
            max-width: 430px;
            padding: 12px 10px;
        }
    }
}
    
    .bold{
        font-weight: bold;
        font-size: @fs13;
    }
    .custom_line{ height: 1px; background-color:@bordercolor1; display: block; margin-top: 2px;}
    .colorbox{
        width: 20px;height: 20px;background-color: @black ;display: inline-block;-moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;margin: 15px 5px 20px;
    }
    
     .sizechart{
         display: inline-block;  
         width: 100%; 
         padding-bottom:15px;
         
            li{float: left; padding-right:5px;}
            .size_box{ 
                cursor:pointer; width: 32px; 
                border: 1px solid @bordercolor1; 
                display: block; padding: 1px 0; text-align: center;  
                font-size: @fs12; 
                margin: 0 3px; 
            }
            .size_box-active{
                cursor:pointer; width: 32px; border: none; display: block; padding:2px 0; text-align: center;  font-size: @fs12; margin: 0 3px; 
                background-color: @bordercolor2;
            }
     }
     .rupee{
        font-size: @fs34;
        padding:20px 0;
        display:block;
    }
    .qty-add-wish{
        display:inline-block;
        width:100%;
        padding-bottom: 20px;
        #CC-prodDetails-addToCart {
            float:left;
        }
        .input-group{
            margin-right:15px;
        }
    }
    
    .cc-button-primary{
        background-color: @buttonBgColor;
        border:none;
        span{
            color: @black;
            font-size: @fs15;
            font-weight:800;
        }
    }
    .input-group{
        // width:100%;
        padding-top:5px;
        // float:left;
        .btn{
            background-color: @bordercolor2;
            height: 25px; 
            width: 25px; 
            font-size: @fs14; 
            font-weight: bold;border-radius: 0px;
            padding: 0px; 
            border:0px;
            line-height: normal;
        }
    }
    
     .btn:focus{
        box-shadow: none;
    }
    
    .add-to-cart{
        float:left;
        margin:0 20px;
    }
    .add-to-wish{
        float:left;
        br{display:none}
    }
    
    .form-control{
       margin: 0 0 0 1px; height: 25px;border-radius: 0px;padding: 0px; font-size: @fs14;border:0px;
    }
    .form-control:focus{
        box-shadow: none;
    }
    .available{
        background-color: @black;
        border-radius: 3px;
        color:@white;
        padding: 8px 35px 10px; 
        width: auto; 
        font-size: @fs13; 
        font-weight: 800;
        line-height: normal;
        margin-left: -6px;
        border: 0;
        height: 34px;
        min-width: 111px;
        
        @media @tablet, @iPadP {
            width: 42%;
            min-width: 0;
        }
    }
    
    .invalidMsg,
    .outOfStockMsg{
        color: #c2343e !important;
        font-weight: 300 !important;
        font-size: 12px !important;
        padding-left: 4px!important;
    }
    
    .product-details-wrapper{
        font-family: @SiteFontFamily;
        padding:35px;
        background-color: @Globalcolor;
        .title{
            font-size:@fs18;
        }
        p {
            margin: 0 0 15px;
        }
        .panel{
            border: none;
            border-radius: 0px;
            background-color: transparent;
            box-shadow: 0 0px 0px rgba(0,0,0,.05);
            margin-top: 10px;
            .panel-heading {
                color: #000;
                background-color: transparent;
                border-bottom:1px solid #e2e1da;
                
                @media @tablet, @iPadP { border-bottom: 1px solid #a0a0a0; }
            }
        }
        
        .codCheckContainer {
            min-height: 91px;
            border-top: 1px solid #ccc;
            padding-top: 15px;
            
            .successMsg {
                font-size: 12px;
                font-weight: 300;
                color: #198c78;
            }
        }
        
        .panel-group {
            @media @iPadP { text-align: left;}
            @media @tablet { text-align: left;}
        }
        
        .panelDetail{
            border-top: none;
            font-size:@fs12;
            padding-left: 0;

            ul {
                 -moz-column-count: 2;
                -moz-column-gap: 20px;
                -webkit-column-count: 2;
                -webkit-column-gap: 20px;
                column-count: 2;
                column-gap: 20px;
                width: 82%;
                
                @media @iPadL { width: 94%;}
                
                @media @iPadP {
                     -moz-column-count: 1;
                    -moz-column-gap: 0;
                    -webkit-column-count: 1;
                    -webkit-column-gap: 0;
                    column-count: 1;
                    column-gap: 0;
                    width: 100%;
                    text-align: left;
                }
                 
                @media @tablet {
                     -moz-column-count: 1;
                    -moz-column-gap: 0;
                    -webkit-column-count: 1;
                    -webkit-column-gap: 0;
                    column-count: 1;
                    column-gap: 0;
                    width: 100%;
                    text-align: left;
                }
            }
        }
        
        .shippingDetail {
            padding-left: 0;
            padding-right: 0;
            font-size: 13px;
            
            li { margin-bottom: 10px;}
            
            li > span:first-child {
                width: 90%;
                display: inline-block;
                vertical-align: top;
            }
        }
        
            li {
                list-style:disc inside;
                padding-left: 4px;
            }
            
        
            .productFeatures li{
                span {
                    display: inline-block;
                    width: 88%;
                    vertical-align: top;
                }
            }
        
        .cc-button-secondary{
            background-color: transparent;
            border: none;
            font-family: @SiteFontFamily ;
        }
        
        @media @tablet, @iPadP{
            .codMsgs span {
                text-align: left;
                max-width: 272px;
                margin: 0 auto;
                display: block;
            }
        }
        
        .chk-availability {
            h2 { margin-top: 0;}
            
            .bold{
                font-size: 13px;
                font-family: @SiteFontFamily;
                font-weight: 800;
                color: @black;
                
                 @media @iPadP, @tablet {
                     font-size: @fs15;
                 }
            }
            .custum-input{
                font-size: 10px;
                padding: 0 10px;
                height: 30px;
                min-width: 177px;
                background: transparent;
                border: none;
                font-size: 13px;
                color: #7f7d75;
                padding-left: 18px;
                font-weight:300;
                padding-right: 0;
                
                @media @iPadP, @tablet {
                    width: 58.4%;
                    min-width: 0;
                }
            }
            
            .checkCODBox {
                border: 1px solid #000;
                border-radius: 3px;
                width: auto;
                display: inline-block;
                height: 35px;
                
                 @media @iPadP, @tablet { background: #fff;}
            }
            
            .codMsgs { 
                line-height: 7px;
                margin-top: 5px;
            }
            
            @media @iPadP, @tablet {
                span,
                .codMsgs span {
                    text-align: left;
                    max-width: 282px;
                    margin: 0 auto;
                } 
            }

        }
        .checked {
            color: @buttonBgColor;
        }
        
        .panel-title a {
            font-family: @SiteFontFamily;
            font-size: 13px;
            width: 100%;
            font-weight: 800;
            display: block;
            
            &:hover,
            &:focus,
            &:visited
            &:active {
                color: inherit;
                text-decoration: none;
            }
            
            @media @tablet {font-size: 14px;}
            @media @iPadP {font-size: 14px;}
        }
        
        .panel-title a:before {
            float: right !important;
            font-family: FontAwesome;
            content:"\f068";
            padding-right: 5px;
            font-size: 11px;
        }
        .panel-title  a.collapsed:before {
            float: right !important;
            content:"\f067";
        }
    }
    

    .relatedcontainer{
        margin:50px auto 0px;
        padding:0 30px;
        input[type=text] {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms--appearance: none;
            appearance: none;
        }
        
        @media @tablet{
            padding:0px;
            width:100%;
        }
        .nav-tabs{
            border:none;
            li{
                width:33%;
                text-align:center;
                float: none;
                display: inline-block;
                @media @tablet{
                    width:50%;
                    padding:5px;
                }
                a {
                    font-size:@fs21;
                    border:none;
                    color:#a0a0a0;
                    display:inline-block;
                    padding:0px;
                    font-family:@SiteSecondaryFontFamily;
                    font-weight:bold;
                    @media @tablet {
                        font-size:@fs16;
                        display:block;
                        border-bottom: 2px solid transparent;
                    }
                    &:hover {
                        border:none;
                        border-bottom: 2px solid @buttonBgColor;
                        background-color: transparent;
                    }
                }
            }
            .active a{
                border:none;
                color: @black;
                font-weight:bold;
                background-color: transparent;
                border-bottom: 2px solid @buttonBgColor;
            }
            th, td {
                width: 70%;
            } 
        }
        
        #CC-prodDetails-description { text-align: center;}
        
        .tab-content{
            min-height:200px;
            padding:30px 0;
            font-family:@SiteFontFamily;
            background: none;
            @media @tablet {
                padding:0px;
            }
            
            .description{
                max-width:600px;
                border:1px solid #e2e1da;
                padding:20px 60px;
                width:100%;
                margin:0 auto;
                font-size: 13px;
                color: #000;
                font-weight: 300;
                @media @tablet {
                    padding:15px;
                }
                
                .bold{
                    font-weight:bold;
                }
                p{
                    margin:0px;
                }
                .spaces{
                    padding:10px 0;
                }
                
                .checked {
                    color: @buttonBgColor;
                }
                .custumarea{
                    width:100%;
                    min-height:140px;
                }
                .btndiv{
                    text-align:right;
                    .custbtn{
                        padding: 5px 45px;
                        border-radius: 3px;
                        background-color: @buttonBgColor;
                        border: none;
                        font-weight: bold;
                    }
                }
                .label_txt{
                    float: left;
                    width: 22%;
                    font-size: @fs13;
                    color: @black;
                }
                .div_margin {
                    margin: 20px 0;
                }
                .ask_form_input {
                    background: transparent !important;
                    border: 1px solid @bordercolor3 !important;
                    width: 75% !important;
                    padding: 10px !important;
                    text-indent: 5px !important;
                    border-radius: 3px !important;
                }
                button, html input[type="button"], input[type="reset"], input[type="submit"] {
                    -webkit-appearance: button;
                    cursor: pointer;
                    width: 200px!important;
                    padding: 11px 0;
                    font-family: @SiteFontFamily;
                    font-size: @fs14;
                    color: @black;
                    border-radius: 3px;
                    background: @buttonBgColor;
                    border:0px;
                }
                .div-btn{
                    text-align: right;
                    padding-right: 15px;
                }
                textarea{
                    background: transparent;
                    width: 100%;
                    display: block;
                    height: 100px;
                }
                table{
                    width: 100%;
                    td {
                        padding: 10px 5px;
                        border-bottom: 1px solid #e2e1da;
                    }
                }
                
                &.sizeChartContainer {
                    max-width: none;
                    padding: 40px 4%;
                    overflow-x: auto;
                    
                    @media @iPadL { overflow-x: auto; }
                    
                    tr:last-child {
                        td { border: none;}
                    }
                    
                    td {
                        padding: 10px 5px;
                        border-bottom: 1px solid #e2e1da;
                        font-size: @fs12;
                        
                        &:first-child { 
                            font-weight: bold;
                            font-family: @SiteFontFamily;
                            font-size: @fs14;
                        }
                    }
                    
                    th { 
                        padding: 7px;
                        border-bottom: 1px solid #e2e1da;
                        font-size: 14px;
                    }
                }
                
                &.footwear {
                    max-width: 600px;
                    margin: 0 auto;
                    
                    td:first-child {
                        font-weight: 400;
                    }
                    
                    th { max-width: 32px; }
                    
                     caption {
                        font-weight: bold;
                        font-family: @SiteFontFamily;
                        font-size: @fs14;
                        margin: 20px 0 10px;
                     }
                }
            }
        }
        
    }
    
    .sizeGuide,
    .sizeGuide th {
        text-align: center;
    }
    
    .sizeChartMobile {
        padding: 20px;
        border: 1px solid #e2e1da;
        margin: 0 auto;
        max-width: 90vw;
        
        @media @iPadP { overflow-x: auto;}
        
        table {
            max-width: none;
        }
        
        td {
            font-family: @SiteSecondaryFontFamily;
            font-size: @fs15;
            
             &:first-child {
                font-weight: bold;
                font-family: @SiteFontFamily;
                font-size: @fs14;
            }
        }
        
        tr:last-child {
            td { border: none;}
        }
        
        th, td {
            text-align: center;
            padding: 7px 10px;
            border-bottom: 1px solid #e2e1da;
            white-space: normal;
        }
        
        caption {
            font-weight: bold;
            font-family: @SiteFontFamily;
            font-size: @fs14;
            margin: 20px 0 10px;
         }
    }
    .gst_benefit{
        font-family: @SiteFontFamily;
        font-weight: 400;
        color: @pricecolor;
        line-height: normal;
        margin-bottom: 0;
        font-size: @fs13;
        position: relative;
        text-transform: none;
        position: relative;
        top: -1px;
        &:before{
            content: '\0028';
        }
        &:after{
            content: '\0029'; 
        }
    }

        
    /* Sticky Footer */
.sticky_footer{
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f9f8f1;
  left: 0;
  z-index: 99;
  box-shadow: 0px -2px 2px #e2e1da;
  padding: 12px 52px 11px;
  max-height: 92px;
  @media @iPadL{
      padding: 12px 33px;
      max-height: 95px;
  }
  @media @iPadP{
      padding: 12px 15px;
  }
  @media @tablet{
      padding: 12px 15px;
  }
  @media @nonRetina{
      padding: 12px 20px;
  }
  .cust_pro_desc{
      float: left;
      width: 25%;
      .cust_img{
          float: left;
          margin-right: 23px;
          width: 20%;
          img{
              max-width: 100%;
              height: 69px;
          }
      }
      .cust_pro_detail{
          float: left;
          width: 70%;
          margin-top: 7px;
          @media @iPadL{
            float: none;
            width: unset;
            margin-top: unset;
          }
          p{
              font-family: @SiteFontFamily;
              font-weight: 800;
              font-size: @fs12;
              margin: 0;
              line-height: 15px;
              text-transform: capitalize;
          }
          span{
              font-family: @SiteFontFamily;
              font-size: @fs13;
              font-weight: 300;
          }
      }
  }
          .cc-item-price {
          font-size: 25px;
          font-weight: 800;
          color: #000;
        //   top: 9px;
          position: relative;
          
          div {
              display: inline-block;
            //   margin-top: 10px;
          }
          
          .taxMsg { margin: 0px 0px 18px 0px;}
          
          .list-price {
              margin-right: 5px;
              span {
                  text-decoration: line-through;
                  color: @black;
              }
          }
          
          #CC-prodDetails-priceMin { margin-right: 5px;}
          
          @media @tablet, @iPadP {
              border-top: 0;
              //border-bottom: 1px solid #a0a0a0;
              font-size: 22px;
              font-weight: 400;
              margin: 0;
              padding-bottom: 20px;
              padding-top: 10px;
              position: relative;
          }
          
      }
              .sale-price { color: #8f2c34;}
  .get_price {
      float: left;
      // margin: 0 32px 12px 55px; 
      width: 13%;
      text-align: center;
      @media @iPadL{
          margin: 0 12px 12px 15px;
          width: 11%;
      }
      @media @iPadP{
          width: 47%;
          display: inline-block;
          text-align: center;
          margin: 4px 0px;
      }
      @media @tablet{
          width: 47%;
          display: inline-block;
          text-align: center;
          margin: 4px 0px;
      }
      span{
          font-size: @fs24;
          line-height: normal;
          display: inline-block;
          vertical-align: text-bottom;
          @media @iPadL{
              font-size: @fs20;
          }
      }
      .inclusive-taxes{
          font-size: 12px;
          display: block;
          line-height: normal;
          margin-top: 3px;
          font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
          font-weight: 700 !important;
      }
      .info_icon{
              font-size: @fs14;
              display: inline-block;
              vertical-align: super;
              border: 1px solid @pricecolor;
              border-radius: 50%;
              width: 20px;
              height: 20px;
              text-align: center;
              line-height: 18px;
              font-weight: 800;
              color: @pricecolor;
              @media @iPadL{
                  font-size: @fs10;
              }
          }
  }
  .select_custom_size{
      float: left;
      width: 45%;
      margin: 22px 0 0 30px;
      @media @iPadL{
          margin: 22px 0 0;
      }
      #size-select{
          li{
              display: inline-block;
              margin-bottom: 5px;
              margin-right: 5px;
              button{
                  background: transparent;
                  box-shadow: none;
                  font-size: @fs11;
                  padding: 4px 10px;
                  text-shadow: none;
                  border: 1px solid @placeholdercolor;
                  line-height: normal;
                  min-width: 35px;
                  font-family: @SiteFontFamily;
                  font-weight: 300;
                  &[disabled = 'true']{
                      text-decoration: line-through;
                  }
              }
              
              button.activeAlpha{
                  background: @buttonBgColor;
              }
          }
          
          .size-chart,.size-chart-click {
              font-size: 11px;
          }
          .size-chart {
              .size_icon {
                  width: 20px;
                  margin-left: 4px;
              }
          }
          .size-chart-click {
              font-weight: 800;
              color: #8f2c34;
              text-decoration: underline;
          }
      }
      .size-control-label{
          display: block;
          float: left;
          margin-right: 6px;
          font-size: @fs12;
          margin-top: 2px;
          font-weight: 800;
      }
  }
  .number-spinner{
    //    max-width: 102px;
       float: right;
       margin-top: 18px;
       margin-right: 44px;
       @media @iPadL{
        margin-left: 0px;
       }
      .qty_label{
          float: left;
          font-size: @fs12;
          font-family: @SiteFontFamily;
          font-weight: 300;
          display: inline-block;
          position: relative;
          top: 2px;
          margin-right: 12px;
      }
      button{
          font-weight: 800;
          font-size: @fs16;
          background: @MinicartBackgroundColor;
          border: 1px solid @MinicartBackgroundColor;
          padding: 1px 6px;
          border-radius: 0;
          float: left;
          width: 26px;
          display: inline-block;
          height: 26px;
          text-align: center;
          outline: 0;
          box-shadow: none;
      }
      .text-center{
          float: left;
          width: 26px;
          display: inline-block;
          border: 0 none;
          padding: 2px;
          height: 26px;
          text-align: center;
          outline: 0;
          font-size: @fs13;
          background: @white;
          box-shadow: none;
          border-radius: 0;
          font-weight: 300;
      }
  }
  .footer_buyNow{
      float: right;
      margin: 16px 0px 15px;
      max-width: 174px;
      width: 50%;
      @media @iPadP{
          float: right;
          margin: 0;
          max-width: 50%;
          width: 47%;

      }
      @media @tablet{
          float: right;
          margin: 0;
          max-width: 174px;
          width: 47%;

      }
      button{
          color: @black;
          font-family: @SiteFontFamily;
          font-size: @fs12;
          font-weight: 800;
          display: inline-block;
          background: @buttonBgColor;
          line-height: 14px;
          padding: 12px 0;
          width: 100%;
          border-radius: 2px;
          text-align: center;
          border: 0 none; 
          outline: none;
      }
  }

}
    .align-desc {
        text-align : left;
    }
    ul.align-bullet {
        li{
            text-align: left;
            margin-left : 30px;
        }
    }
        /* Mobile Sticky Add to cart */
#cc-product-details .product-details-wrapper{
  @media @iPadP, @tablet{
      .sticky_addtoCartPDP{
          position: fixed;
          bottom: 0;
          width: 100%;
          left: 0;
          background: @Globalcolor;
          z-index: 99;
          .cc-item-price{
              border: 0;
              padding: 0;
              color: @magentacolor;
              width: 45%;
              margin: 13px 8px 10px 0;
              text-align: left;
              padding-left: 38px;
              overflow: hidden;
              font-size: @fs21;
              &:after{
                  background: transparent;
              }
              .taxMsg{
                  margin: 0;
              }
          }
          .mobileAddtoCart{
              width: 46%;
              margin: 10px 20px 10px 0;
              button{
                  font-size: @fs14;
              }
          }
          .continue_shopping{
              padding: 11px 10px;
              border-radius: 3px;
              width: 42%;
              font-weight: 800;
              float: left;
              color: @black;
              font-size: @fs13;
              font-family: @SiteFontFamily;
              margin: 10px 0px 10px 20px;
              background: transparent;
              border: 1px solid #c8c8c8;
              line-height: 1.33;
          }
      } 
  }
  @media @iPadP{
      .sticky_addtoCartPDP{
          .continue_shopping{
              width: 47%;
          }
      }
  }
}
    .warranty-policy{
        a{
           font-weight: 800; 
            text-transform: capitalize;
            color: #8f2c34;
            text-decoration: underline;
        }
    }
    @media @iPadL{
        .size-select-list{
            width: 86%;
        }
    }
    
    .footer_size_addToCart_container{
        float: left;
        width: 27%;
    }
	
	.colorSwatch{
        a {
            text-decoration: none;
        }
    }

