  /*---------------------------------------------------------------------- */
    /*	Header Area
    /* ---------------------------------------------------------------------- */
    
    /* Fixing region header to show the full background */
    #region-header {
      position: static;
    }
    
    #CC-headerWidget {
    
      .header-line {
        left: 0;
        right: 0;
      }
      .header-background {
        min-height: 20px;
        padding-top: 25px;
        font-size: @fontSizeSmall;
        left: 0;
        right: 0;
        z-index: 2;
        @media (max-width: 767px) {
          background: #ffffff;
        }
      }
      #header{
        min-height: 100px;
        position: relative;
        @media @iPadL{
          min-height: 130px;
        }
        @media @iPadP, @tablet {
            -webkit-box-shadow: 0px 2px 2px #e2e1da;
            -moz-box-shadow: 0px 2px 2px #e2e1da;
            box-shadow: 0px 2px 2px #e2e1da;
        }
        @media @iPadP{
          min-height: 64px;
        }
        @media @tablet{
            min-height: 49px;
        }
        .cc-welcome{
            a{
                margin: 0 1px 0 2px;
                display: inline-block;
                font-size: @fs12;
            }
        }
      }
      img.col-xs-12.img.img-responsive{
        width:60%;
        max-width: 145px;
        padding: 0;
      @media @iPadP{
        width:100%;
        max-width: 106px;
    right: -35px;
    bottom: 20px;
        }
        @media @tablet{
            width: 100%;
            max-width: 70px;
        }
      }
      
        
        .header-wrapper { 
        margin: 0px auto;
        
        @media only screen and (min-width : 1025px){
            width: 95%;
        }
        @media @iPadL{
            padding: 0;
        }
        
        @media @iPadP{
             margin-top: 10px;
        }
        .content-left {
            padding: 0;
            .logo{
                margin-top:5px;
                a{
                    display: block;
                }
            }
        }
    }
    .header-fixed {
      position: fixed;
      left:0;
      width: 100%;
      z-index: 9999;
      div#header {
        padding: 0 30px;
    }     
          @media @iPadP{
            .navbar { min-height: 0;}
            .mega-menu { min-height: 0;}
          }
          
          .nav-right {
              display: block !important; //To override the bootstrap's styling !important has been used
          }
          .search{
              padding-top:0;
          }
          .content-bottom{
            line-height: 21px;
            position: absolute;
            right: 5%;
            bottom: 27%;
            width: 12.3%;
            
            @media @iPadL {
                width: 16%;
            }
            
            @media @iPadP {
                width: 25%;
            }
          }
      }
        a{
            @media @tablet{
                display: block;
            }
        }
    
      .header-links {
        padding-bottom: 10px;
        padding-top: 10px;
      }
    
      .sub-links {
        margin: 10px 0; 
        display: block;
      }
    
      .sub-links li {
        display: inline; 
        margin-right: 10px;
      }
    
      .sub-links-mobile {
        margin:0 0 15px 0; 
        display: block; 
        text-align: center;
      }
      .sub-links-mobile li {
        display: inline; 
        margin-right: 10px;
      }
    
      .bottom-line {
        background: url(/img/header-btm-line.png) center bottom no-repeat;
        padding-bottom: 35px;
        position: relative;
        z-index: 1;
      }
    
      .cc-center {
        display: table;
        margin-left: auto;
        margin-right: auto;
      }
    
      /*
       * Non-desktop tweaks
       */
       
      @media (min-width: 768px) {
        .cc-modal-dialog {
          width: 400px;
        }
      }
    
      @media (max-width: 767px) {
        .cc-message-box {
          margin-left: -15px;
          margin-right: -15px;
        }
      }
    
      @media (max-width: 979px) {
        .storefront-modal-controls {
          width: 90%;
        }
        .storefront-modal-controls input.span5{
          width: 100%;
        }
        .storefront-modal-controls div.span5{
          width: 97%; 
          margin-left: 6%
        }
      }
    
      @media (min-width: 980px) {
        .storefront-modal-controls {
          width: 90%;
        }
        .storefront-modal-controls input.span5{
          width: 100%;
        }
        .storefront-modal-controls div.span5{
          width: 97%; 
          margin-left: 6%
        }
      }
    
      @media (max-width: 480px) {
        .storefront-modal-controls {
          width: 90%;
        }
        .storefront-modal-controls input.span5{
          width: 100%;
        }
        .storefront-modal-controls div.span5{
          width: 97%;
          margin-left: 6%;
        }
    
      }
    
      /*
       * End
       */
    
      .text-underline {
        text-decoration: underline;
      }
    
      #CC-header-checkout {
        .btn-xs;
        border-radius: @ButtonPrimaryBorderRadius;
      }
    
      .cc-cartlink-xs {
        padding: 15px 0 0 0;
        vertical-align: bottom;
      }
    
      .skip-content button {
        text-align: center;
        float: left;
        width: 0px;
        height: 0px;
        position: relative;
        left: -999em;
        border: solid #D4D4D4;
        background-color: #ffffff;
        z-index: 1000;
      }
    
      .text-muted {
        color: #696969;
      }
    
      #cc-btn-skipToContent-desktop {
        margin-top: -22px;
        margin-bottom: -15px;
      }
    
      #cc-btn-skipToContent-desktop:focus {
        width: 150px;
        height: 36px;
        left: 13px;
      }
    
      #cc-btn-skipToContent-phone:focus {
        width: 120px;
        height: 21px;
        line-height: 18px;
        left: 0px;
        font-size: 12px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
    
      #cc-btn-skipToContent-desktop:blur, #cc-btn-skipToContent-phone:blur {
        left: -999em;
      }
      
    }
     .search-picker{
            width:89%;
            margin:0 auto;
            
        @media @iPad{
         width:100%;
        }
            
                input#CC-headerWidget-Search{
                background: @Globalcolor none repeat scroll 0 0;
                border: 0 none;
                font-family: @SiteFontFamily;
                font-size: @fs12;
                height: 38px;
            z-index:0;
             }
             .search_icon{
                display: block;
                line-height: 16px;
             }
             .search_icon img {
                 width: 18px;
                 height: 18px;
                 margin-top: -4px;
             @media @iPadP{
                width: 12px;
                height: 12px;
             }
         }
             
             .input-group.search {
                 padding-top: 10px;
                 padding-bottom: 10px;
                 
             @media @iPadL { 
                     padding: 10px 0 0;
                     width: 100%;
                 }
                 
                 @media @iPadP {
                bottom: 28px;
                 }
             .input-group-btn { 
                background: #f9f8f1;
                z-index:0;
             }
         }
         
         .typeahead{
            margin-left: 0 !important;
            z-index: 9;
            width: 100% !important;
            display: none !important;
            
            li.typeaheadAllProducts,
            li.typeaheadClose{
                display:none !important ;
            }
         }
         .typeaheadProductThumbnail{
            padding: 0 10px 0 0;
         }
         .typeaheadProductName{
            font-size: @fs12;
            margin: 0;
            padding: 0 5px;
         }
         .typeaheadProductPrice{
            font-size: @fs14;
            font-family: @SiteSecondaryFontFamily;
            padding: 0 5px;
         }
         #searchSubmit {
            background: @Globalcolor none repeat scroll 0 0;
            border: 0 none;
            font-size: @fs21;
            padding: 0;
            height: 38px;
        }
     }
     #headerOrganizationPicker{
        
        @media @iPad{
            width: 175px;
        }
        .heading{
            width: 65%;
            
            @media @iPadL{
                width: 75%;
            }
            @media @iPadP{
                width: 100%; 
            }
        }
        .ellipsis{
            max-width: 80%; 
            
            @media @iPadL{
                max-width: 80%;   
            }
            @media @iPadP{
                max-width: 80%;
            }
        }
        .content{
            background: #f4f2e5;
            width: auto;
            a{
                span:hover{
                    text-decoration: none;
                }    
            } 
        }
        #CC-organizationDropdown{
        
            #CC-organization-search{
                background: #f4f2e5;   
            }
            #CC-organizations-list{
                background: #f4f2e5;    
            }
        }
        
     }
     
#CC-loginHeader-welcomeText{
    span{
        font-size:12px;
    }
}
.cart_logo{
    width: 35%;
    position: relative;
    bottom: 80px;
    left: 185px;
    @media @iPadL{
        bottom: 22px;
        left: 103px;    
    }
    @media @iPadP{
        width: 20%;
        bottom: 13px;
        left: 115px;   
    }
}
.selection_logo{    
    width: 15%;
    position: relative;
    bottom: 80px;
    left: 160px;
    @media @iPadL{
        bottom: 22px;
        left: 80px;
    }
    @media @iPadP{
        bottom: 13px;
        left: 65px;   
    }
}
