
#quickOrderWidget{
	.right-inner-addon {
		position: relative;
	}
	.row{
		margin-bottom: 5px;
	}
	.right-inner-addon input {
		padding-right: 30px;
	}
	
	#display-organization-addresses{
		padding-left: 30px;
	}
	
	.right-inner-addon i {
		position: absolute;
		right: 0px;
		padding: 10px 12px;
		pointer-events: none;
	}
	
	.element-at-right{
	  float: right;
	}
	
	.items-to-left{
	  padding-left: 0px;
	}
	
	.cc-profile-modal-footer {
    text-align: right;
    background-color: white;
    border-top: 0px;
    border-radius: 0px 0px 6px 6px;
  }
	
  .cc-quick-order-modal-heading {
    background-color: white;
    border-bottom: 0px;
    border-radius: 6px 6px 0px 0px;
    padding: 9px 15px 9px 15px;
    margin-bottom: 20px;
  }
	
  .cc-profile-confirm-icon {
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    background: transparent url(/img/icons-32x32/icon-alert-alt-32x32.png) no-repeat 0 0;
  }
	
  .cc-profile-modal {
    max-width: 450px;
    background-color: white;
  }
	
	@media (min-width: 768px) {
    #CC-quickOrder-modal-dialog {
      width: 450px;
    }
  }
	#CC-quickOrder-modal-dialog{
		width: 30%;
	}
  .cc-profile-body-modal {
    max-height: 400px;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  #CC-quickOrder-modal-headerText {
    margin-left: 20px;
    margin-top: -2px;
  }
   #csvFileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  }
  #labelForFileUpload{
    background-color: #dddddd;
  }
}

