#verticalTabs-vars-profileStack_1 {
  .loadVariables() {
    @activeTabBackgroundColor:#195D8E;
    @activeTabTextColor:#FFF;
    @tabBackgroundColor:#FFF;
    @tabTextColor:#555;
    @tabTitleAlignment:left;
  }
}