
/* -------------------------------------------------- */
/*	Orders Pending Approval
/* -------------------------------------------------- */	
#CC-ordersPendingApproval {
    margin-top: 20px;
    margin-bottom: 15px;
    
    #CC-pendingApprovalList-account-title{
        border-bottom: 1px solid #b7b6ae;    
    }
    .CC-pendingApprovalList-fetchSizeFilter{
        display:inline;
        width : 60px;
        padding : 2px 7px;
        background-color: #fff;
        border: 1px solid #ccc;
        
        @media @iPadP{
            width: 45px;
            padding:0;
        }
    }
    #CC-ordersPendingApproval-legend{
        margin-bottom:10px;
        margin-top:59px;
    }
    #CC-ordersPendingApproval-title{
        
        h1{
            font-weight: 800;
            margin :0;
            font-family: 'Unna',serif;
            font-size: 24px;
            line-height: 30px;
            text-transform: capitalize;
            width: auto;
            
            @media @iPadP{
                font-size: 18px;
            }
        }
    }
    #CC-pendingApprovalList-stepper{
        margin-bottom: 5px;
    }
  }
  #orders-info {
    margin-bottom: 12px;
    th {
      font-weight: bold; 
            background: #f9f8f1;
            
            @media @iPadP{
                padding: 2px;
            }
        }
        td {
            border-top: 0;
            border-bottom: 1px solid #eee;
            vertical-align: top;
            background: #f9f8f1;
    }
    .orderTotal {
    		text-align: right;
   		}
   		.header-id{
   		     @media @iPadP{
                width: 141px;
            }   
   		}
    }
.CC-search-group {
        position: relative;
        display: table;
        border-collapse: separate;
        padding-right: inherit;
        margin-bottom: 10px;
        margin-right: 15px;
        
        .form-control{
            background: #f9f8f1 none repeat scroll 0 0;
            border: 0 none;
            font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
            font-size: 12px;
            height: 38px;
        }
        #CC-searchButton{
            background: #f9f8f1 none repeat scroll 0 0;
            border: 0 none;
            font-family: 'Muli','Helvetica Neue',Helvetica,Arial,sans-serif;
            font-size: 12px;
            height: 38px;
        	margin-left: 0px;
        }
    }

