/* -------------------------------------------------- */
  /*  Order Summary
  /* -------------------------------------------------- */
  #orderSummary {
    
    margin-top:57px;
    @media @tablet{
        border: 1px solid @bordercolor1;
        margin: 20px -15px 0;
        padding: 25px 20px 2px;
    }
    
    .ordersummary {
      
      h3 {
        font-size: @fontSizeLarge;
        margin-top: 0;
        padding-top: 0;
        line-height: @baseLineHeight;
      }
      .ordertotal{
        
        .ordertotalextax, .includingtaxtext {
          font-size: @baseFontSize;
          padding-bottom: 10px;
        }
        .no-right-padding {
          padding-right: 0px;
        }
      }
      .changeShipping{
        margin-top: -6px;
      }
      .shippingOptions{
        background-color: @grayLighter;
        padding: 8px;
        font-size: @fontSizeMini;
        word-break: break-all;
        legend {
          font-size: @fontSizeLarge;
          line-height: 1.6em;
          margin-bottom:4px;
          color: #6f6f6f;
          white-space: normal;
        }
        label {
          clear: both;
        }
      }
    }
    .salesTax, .shippingCost, .shippingDiscount, .shippingSurcharge {
      margin-top:12px;
    }
    .paymentoptions, .checkout, .paypalCheckout{
      margin: 10px 0 10px 0;
      @media @tablet{
          margin-bottom: 24px;
      }
    }
    .paymentoptions h3 {
      font-size: @fontSizeLarge;
    }
    .paymentoptions a, .paymentimages, .paypalCheckout {
       text-align:center;
    }
    .collapse {
      position: relative;
      height: 0;
      overflow: hidden;
      -webkit-transition: height 0.35s ease;
         -moz-transition: height 0.35s ease;
           -o-transition: height 0.35s ease;
              transition: height 0.35s ease;
    }
    .collapse.in {
      height: auto;
    }
    #CC-orderSummary-checkout {
      a {
        
        span {
          color: @ButtonPrimaryTextColor;
        }
      }
    }
  }
  /* Custom Styling */
  #orderSummary.cc_order_summary{
      h3{
            font-size: @fs18;
            font-family: @SiteSecondaryFontFamily;
            font-weight: 700;
            margin: 0;
            line-height: 20px;
            border-bottom: 1px solid @bordercolor1;
            padding-bottom: 5px;
            color: @black;
      }
      .ordertotal{
            padding: 12px 0;
          .cc_total_align{
              span{
                font-size: @fs12;
                font-weight: 800;
                font-family: @SiteFontFamily;
                line-height: 14px;
                color: @black;
                @media @iPadP{
                    font-size: @fs10;
                }
              }
              .ordersumprice{
                  font-size: @fs14;
                  line-height: 16px;
                  color: @black;
                  @media @iPadP{
                      font-size: @fs13;
                      line-height: 22px;
                  }
              }
              .cart-sub-total{
                  font-size: @fs13;
                  font-weight: 300;
              }
              .cc_final_price{
                  color: @magentacolor;
              }
          }
          .cc_total_border{
                border-top: 1px solid @bordercolor1;
                padding: 6px 0 0;
                margin: 8px 0 0;
          }
      }
      .cc_checkout_proceed{
          margin: 10px 0;
          a{
                font-size: @fs12;
                font-family: @SiteFontFamily;
                font-weight: 700;
                border: 0 none;
                padding: 12px 0;
                width: 100%;
          }
      }
      .sticky_checkout{
            @media @tablet{
                position: fixed;
                width: 100%;
                left: 0;
                z-index: 9;
                background: @Globalcolor;
                bottom: 0;
                .view_details_scroll{
                    width: 32%;
                    text-align: left;
                    margin: 17px 5px 15px 40px;
                    span{
                        display: block;
                        font-size: @fs18;
                        &:last-child{
                            font-size: @fs12;
                            text-transform: uppercase;
                            font-weight: 800;
                            color: @magentacolor;
                            line-height: 14px;
                        }
                    }
                  
                }
                .checkout.cc_checkout_proceed{
                    max-width: 190px;
                    width: 50%;
                    margin: 12px 12px 12px 0;
                    float: right;
                    a{
                        span{
                            font-size: @fs14;
                            font-weight: 800;
                        }
                    }
                }
            }
      }
  }
    .amex_banner{
        padding: 7px 20px;
        background: @Globalcolor;
        margin: 0 0 4px;
        display: table;
        width: 100%;
        @media @iPadL{
            padding: 7px 10px;
        }
        img{
            
        }
        
        .banner_desc{
            display: table-cell;
            margin-left: 14px;
            font-size: 13px;
            font-weight: 300;
            width: 80%;
            line-height: 16px;
            vertical-align: middle;
            @media @iPadL{
                width: 82%;
            }
            
        }
    }

